<!-- <link rel="stylesheet" href="css/ng-tags-input.bootstrap.min.css"> -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 ng-if="mode == 'c'">
        Add Product
        <small></small>
      </h1>
      <h1 ng-if="mode == 'v'">
        Review Product
        <small></small>
      </h1>
      <h1 ng-if="mode == 've'">
        Update Product
        <small></small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <form role="form" name="addProduct">
              <div class="box-body">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Product Name</label>
                    <input ng-model="newProduct.name" ng-readonly="mode=='v' || mode=='ve'" type="text" required class="form-control" id="productName" placeholder="Enter Product Name">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label >Product Price</label>
                    <input ng-model="newProduct.price" ng-readonly="mode=='v'" type="number" required class="form-control" id="productPrice" placeholder="Enter Product Price">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" >
                    <div class="form-group" >
                    <label>Product Category</label>
                    <select  ng-model="categoryIdx" ng-disabled="mode=='v' || mode=='ve'" ng-options="idx as category.name+'-'+category.gender for (idx, category) in categories"   class="form-control select2" style="width: 100%;">
                    </select>
                    </div>
                </div>

                <div class="col-md-6" >

                  <div class="form-group" required>
                    <label>Sub-Category</label>
                    <select ng-model="subCategoryIdx" ng-disabled="mode=='v' || mode=='ve'" ng-options="idx as category.name for (idx, category) in subCategories"  class="form-control select2" style="width: 100%;">
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Product Discount</label>
                          <input ng-model="newProduct.discountPrice" ng-readonly="mode=='v'" type="number"  class="form-control" id="productDiscount" placeholder="Enter Product discount">
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="form-group" >
                          <input id="productExclusive" type="checkbox"  ng-model="newProduct.isExclusive" ng-readonly="mode=='v'">
                          <label type="text" name="Mark Exclusive" readonly="true">Mark Exclusive</label>
                          </div><!-- /input-group -->
                      </div>
                  </div>
              </div>

              <div class="form-group">
                <label>Description</label>
                <textarea required ng-model="newProduct.description" ng-readonly="mode=='v'" class="form-control" placeholder="Enter Product Details" rows="3"></textarea>
              </div>

              <div class="form-group" >
                <label>Colour Tags</label>
                <tags-input ng-readonly="mode=='v'" style="height: 20%;" ng-model="colors" placeholder="Enter atleast one colour"> </tags-input>
              </div>

              <div class="form-group">
                <label>Sizes Available <a href="/sizeChart" target="_blank">Size Chart</a></label>

                  <div class="row">
                    <div class="col-md-4" id="sizeContainer">
                        <div class="input-group addSize" >
                            <input ng-model="skuName" type="text" class="form-control" placeholder="Size type" required>
                            <input ng-model="skuQuantity" type="number" class="form-control" placeholder="Quantity" required >
                        </div>
                        <div ng-repeat="sku in skus">
                            <div class="input-group addSize" >
                                <p class="form-control">{{sku.sizeVariantValue +' : '+sku.quantity}}</p>
                            </div>
                        </div>
                        <div ng-repeat="sku in newProduct.skus">
                            <div class="input-group addSize" >
                                <p class="form-control">{{sku.sizeVariantValue +' : '+sku.quantity}}</p>
                            </div>
                        </div>
                    </div>

                      <div class="col-md-2"></div>
                      <button ng-click="addSku()">
                      <i class="fa fa-plus">&nbsp; Add sizes</i>
                  </button>


                  </div>
              </div>

              <div class="form-group">
                <label>Specification</label>
                <textarea ns-model="newProduct.specifications" ng-readonly="mode=='v'" class="form-control" rows="4" id="productSpecification" placeholder="Product Specification to be included here."></textarea>
              </div>

              <div class="row" >
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Shipping Days</label>
                    <input ng-model="newProduct.shippingDays" type="number" min='0' class="form-control" id="shippingDays" placeholder="Shipping days required" required>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label >Return Days</label>
                    <input ng-model="newProduct.returnDays" type="number" min='0' class="form-control" id="returnDays" placeholder="Enter Return Days" required>
                  </div>  
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label >Is Customizable?</label><br>
                    <input ng-model="isCustomizable" type="checkbox" name="isCustomizable">
                  </div>
                </div>


              </div>

              <div ng-show="isCustomizable" class="box box-solid" style="border-top: 0px; ">

                <div class="box-body" style="padding: 0px;">
                  <div class="box-group" id="accordion">
                    <div class="panel box"  style="border-top: 0px; ">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                            Sleeve
                        </h4>
                            <div class="pull-right"><i class="fa fa-chevron-down pull-right" ></i></div>
                      </div>
                      </a>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="box-body">
                          
                          <div class="form-group">

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Bracket Length
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Cap Sleeve
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Inset Cap
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Long Length
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Short Length
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Sleeveless
                                  </label>
                                </div>
                              </div>                              
                            </div>   

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Threee Quarter
                                  </label>
                                </div>
                              </div>

                                              
                            </div>                                                     

                          </div>

                        </div>
                      </div>
                    </div>


                    <div class="panel box" style="border-top: 0px;">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                            Shirt/Top Length
                        </h4>
                            <div class="pull-right"><i class="fa fa-chevron-down pull-right" ></i></div>
                      </div>
                      </a>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="box-body">
                          <div class="form-group">

                               <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox">Above Hip
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Low Hip
                                  </label>
                                </div>
                              </div>                              
                            </div>   

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox">Mid-Thigh
                                  </label>
                                </div>
                              </div>
                            </div>

                          </div>
                          
                        </div>
                      </div>
                    </div>

                    <div class="panel box"  style="border-top: 0px; ">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          
                            Bottom Length
                        </h4>

                            <div class="pull-right"><i class="fa fa-chevron-down pull-right" ></i></div>

                      </div>
                      </a>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="box-body">
                          
                          <div class="form-group">

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Above Knee
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Ankle Length
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Below Knee
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Ful Length
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Mid-Calf
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Mini
                                  </label>
                                </div>
                              </div>                              
                            </div>   

                        
                          </div>

                        </div>
                      </div>
                    </div>                    

                    <div class="panel box"  style="border-top: 0px; ">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                            Neck
                        </h4>
                            <div class="pull-right"><i class="fa fa-chevron-down pull-right" ></i></div>
                      </div>
                      </a>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="box-body">
                          
                          <div class="form-group">

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >U Neck
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >V Neck
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Scoop
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Boat
                                  </label>
                                </div>
                              </div>                              
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Deep V
                                  </label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >High Neck Collar
                                  </label>
                                </div>
                              </div>                              
                            </div>   

                            <div class="row">
                              <div class="col-md-6">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" >Square
                                  </label>
                                </div>
                              </div>

                                              
                            </div>                                                     

                          </div>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <!-- /.box-body -->
              </div>


              <div class="">
                <label for="primaryImages" class="block">Primary Image</label>
                <input file-model="primaryImage" type="file" id="primaryImages" class="fileUpload" >
                  <textarea id="primaryImageDescription" cols="34" rows="3" required placeholder="Description for image"></textarea>
                  <button ng-click="uploadImages(primaryImage, '#primaryImageDescription')"> Upload Image </button>
                  </div>
                <p class="help-block">Main display image. Only one image can be used as Primary Image</p>
              </div>


             <div class="form-group">
                <label for="secondaryImages" class="block">Secondary Images</label>
                <input file-model="secondaryImage" type="file" id="secondaryImages" class="fileUpload">
                 <textarea id="secondaryImageDescription" cols="34" rows="3" required placeholder="Description for image"></textarea>
                 <button ng-click="uploadImages(secondaryImage, '#secondaryImageDescription')"> Upload Image </button>

               <p class="help-block">Secondary specifications images. You can upload multiple images.</p>

             </div>


             <div>
                <label>Preview</label>
                <!-- Box Comment -->
                <div class="box box-widget">

                  <div class="box-header with-border">
                    <div class="user-block">
                      <span class="username"><a href="#">{{newProduct.name}}</a></span>
                      <span class="description">Shared publicly - {{newProduct.createdAt|date:'hh:mm a'}} Today</span>
                    </div>

                  </div>
                  <!-- /.box-header -->
                  <div class="box-body" style="padding:0;">
                    <!-- /.user-block -->
                        <div class="row margin-bottom">

                          <div class="col-md-4" ng-repeat="image in newProduct.images">
                                <img class="img-responsive" ng-src="{{image.url}}" alt="Photo">
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                  </div>

                </div>
                <!-- /.box -->
              </div>


              <div class="box-footer" ng-if="mode == 've'">
                  <button ng-click="updateProduct()" class="btn btn-primary">UPDATE</button>
                  <!--<button type="submit" class="btn btn-primary">Cancel</button>-->
              </div>
              <div class="box-footer" ng-if="mode == 'c'">
                <button ng-click="addNewProduct()" class="btn btn-primary">Submit</button>
                <!--<button type="submit" class="btn btn-primary">Cancel</button>-->
              </div>
            </div>
            </form>


        <div id="updateProductFailed" class="modal fade " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-danger">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{error}}</p>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div id="updateProductSuccess" class="modal fade " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-success">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>Product Successfully Updated.</p>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div id="addProductSuccess" class="modal fade " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-success">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>Product {{product.name}} Successfully Added.</p>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div id="addProductFailure" class="modal fade " tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-danger">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{error}}</p>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
