<!-- for all designers -->

<div class="content-wrapper ">
    <!-- Content Header (Page header) -->
    <section class="content-header no-padding">
     
    </section>

    <!-- Main content -->
    <section class="content">
     




      <div class="box remove-box-top">

        <!-- /.box-header -->
        <div class="box-body">

          <div class="row">
   
            <!-- /.col -->
            <div class="col-md-6">
              <!-- Box Comment -->
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                    <img class="img-circle" src="images/user1-128x128.jpg" alt="User Image">
                    <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                    <span class="description">Requested On - 7:30 PM Yesterday</span>
                  </div>
                  <!-- /.user-block -->
     
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="padding:0;">
                  <!-- /.user-block -->
                      <div class="row margin-bottom">
                        <div class="col-sm-8">
                          <img class="img-responsive" src="images/photo1.png" alt="Photo">
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                              <img class="img-responsive" src="images/photo2.png" alt="Photo">
                              <br>
                              <img class="img-responsive" src="images/photo3.jpg" alt="Photo">
                      
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                </div>
                <div class="box-footer" style="padding:0;">
                  <div class="row text-center" style="border-bottom: 1px solid #f4f4f4;">
                    <h4 class="description-header">Product Name</h4>


                  </div>

                  <div class="row"  style="border-bottom: 1px solid #f4f4f4;">
                    <div class="col-sm-6 border-right">
                      <div class="description-block">
                        <h5 class="description-header">5</h5>
                        <span class="description-text">QUANTITY</span>
                      </div>
                      <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                    <div class="col-sm-6">
                      <div class="description-block">
                        <h5 class="description-header">5,000</h5>
                        <span class="description-text">PRICE</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>

                  <div class="row text-center" style="margin: 3px 0 3px 0;">
                    <div class="col-md-6 btn btn-success">Accept</div>
                    <div class="col-md-6 btn btn-danger">Reject</div>
                  </div>
                  <!-- /.row -->
                </div>
                
              </div>
              <!-- /.box -->
            </div>   
            <!-- /.col -->
            <div class="col-md-6">
              <!-- Box Comment -->
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block">
                    <img class="img-circle" src="images/user1-128x128.jpg" alt="User Image">
                    <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                    <span class="description">Requested On - 7:30 PM Yesterday</span>
                  </div>
                  <!-- /.user-block -->
     
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="padding:0;">
                  <!-- /.user-block -->
                      <div class="row margin-bottom">
                        <div class="col-sm-8">
                          <img class="img-responsive" src="images/photo1.png" alt="Photo">
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                              <img class="img-responsive" src="images/photo2.png" alt="Photo">
                              <br>
                              <img class="img-responsive" src="images/photo3.jpg" alt="Photo">
                      
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                </div>
                <div class="box-footer" style="padding:0;">
                  <div class="row text-center" style="border-bottom: 1px solid #f4f4f4;">
                    <h4 class="description-header">Product Name</h4>


                  </div>

                  <div class="row"  style="border-bottom: 1px solid #f4f4f4;">
                    <div class="col-sm-6 border-right">
                      <div class="description-block">
                        <h5 class="description-header">5</h5>
                        <span class="description-text">QUANTITY</span>
                      </div>
                      <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                    <div class="col-sm-6">
                      <div class="description-block">
                        <h5 class="description-header">5,000</h5>
                        <span class="description-text">PRICE</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>

                  <div class="row text-center" style="margin: 3px 0 3px 0;">
                    <div class="col-md-6 btn btn-success">Accept</div>
                    <div class="col-md-6 btn btn-danger">Reject</div>
                  </div>
                  <!-- /.row -->
                </div>
                
              </div>
              <!-- /.box -->
            </div>   
            <!-- /.col -->
           
          </div>



        </div>

      </div>




         
    
    </section>
    <!-- /.content -->
  </div>