
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-controller="DesignerController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Designer Profile
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">

        <!-- /.col -->
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#basic-info" data-toggle="tab">Basic Info</a></li>
              <li ng-show="isAdmin"><a href="#products" data-toggle="tab">Products</a></li>
              <li ng-show="isAdmin"><a href="#product-requests" data-toggle="tab">Product Requests</a></li>
              <li ng-show="isAdmin"><a href="#ongoing-orders" data-toggle="tab">Ongoing Orders</a></li>
              <li ng-show="isAdmin"><a href="#past-orders" data-toggle="tab">Past Orders</a></li>
              <li ng-show="isAdmin"><a href="#payouts" data-toggle="tab">Payouts</a></li>
              <li><a href="#edit-profile" data-toggle="tab">Edit Profile</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="basic-info">
                <div class="row">
                <div class="col-md-3">
                  <!-- Profile Image -->
                  <div class="box box-default">
                    <div class="box-body box-profile">
                      <img class="profile-user-img img-responsive img-circle" ng-src="{{designerDetails.avatarUrl}}" alt="User profile picture">
                      <h3 class="profile-username text-center">{{designerDetails.firstName}} {{designerDetails.lastName}}</h3>
                      <p class="text-muted text-center">{{designerDetails.type}}</p>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>

                <div class="col-md-8">
                  <!-- About Me Box -->
          				<div class="box box-default">
          					<div class="box-header with-border">
          					  <h3 class="box-title">About</h3>
          					</div>
          					<!-- /.box-header -->
          					<div class="box-body">
          					 

          					  <strong><i class="fa fa-home margin-r-5"></i> Address</strong>

          					  <p class="text-muted">{{designerDetails.brand.pickupAddress.state}}, {{designerDetails.brand.pickupAddress.country}}</p>

          					  <hr>
          					   <strong><i class="fa fa-institution margin-r-5"></i> Studio Name</strong>

          					  <p class="text-muted">{{designerDetails.brand.name}}</p>

          					  <hr>

          					  <strong><i class="fa fa-phone margin-r-5"></i>Contact</strong>
          					  <p class="text-muted">{{designerDetails.mobile}}; {{designerDetails.email}}</p>
          					  <hr>

          					  <strong><i class="fa fa-file-text-o margin-r-5"></i> Details</strong>

          					  <p>{{designerDetails.description}}</p>
          					</div>
          					<!-- /.box-body -->
          				</div>
                          <!-- /.box -->
                        </div>

                      	</div>
                      </div>

                <div class="tab-pane" id="products" >
                  <div ng-include src="'views/registered-products.html'"></div>
              </div>


              <div class="tab-pane" id="product-requests" ng-include src="'views/requested-products.html'">
                </div>
                <!-- /.row -->
            <div class="tab-pane" id="ongoing-orders">

              <table id="table-ongoing-order" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th>Order Date</th>
                  <th>Size</th>
                  <th>Color</th>
                  <th>Quantity</th>
                  <th>Status</th>
                  
                </tr>
                </thead>
                <tbody>

                
                </tbody>

              </table>    



            </div>

            <div class="tab-pane" id="past-orders">

              <table id="table-past-orders" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th>Order Date</th>
                  <th>Shipped Date</th>
                  <th>Payment</th>
                  
                </tr>
                </thead>
                <tbody>

                
                </tbody>

              </table>    




            </div>









              <!-- /.tab-pane -->

              <div class="tab-pane" id="payouts" ng-include src="'views/payout-partial.html'">
			         
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="edit-profile">
                  <div ng-include src="'/views/register-designer-form.html'"></div>


              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>

  <script type="text/javascript-lazy">
  $("#table-ongoing-order, #table-past-orders").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
</script>

  <!-- /.content-wrapper -->
