
<div class="login-box">

  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <div class="form-group has-feedback">
      <input ng-model= "email" type="email" class="form-control" placeholder="Email">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <input ng-model="password" type="password" class="form-control" placeholder="Password">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="checkbox icheck">
          <label>
            <input ng-model="isAdmin" type="checkbox"> Login as Admin
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-4">
        <button ng-click="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
      </div>




      <!-- /.col -->
    </div>
    <br>
    <a href="/forgot-pwd">Reset password</a>

  </div>


  <div id="registrationSucessful" class="modal fade " role="dialog">
    <div class="header">
      <h4 class="modal-title">Thank you for registration</h4>
    </div>
    <div class="content">
      <p>Your request is sucessfully submitted. We will send you futher details in your email address.</p>
    </div>

    <div  class="footer">
      <a href="/home" ><button class="btn" data-dismiss="modal" >OK</button></a>
    </div>
  </div>



    <div id="loginFailure" class="modal fade " tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content alert-danger">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{error}}</p>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


