<div class="content-wrapper ">
    <section class="content">

      <div class="box remove-box-top">

        <div class="box-body">

          <div class="row" ng-repeat="designer in unApprovedDesigners">

            <div class="col-md-5 col-xs-12">
              <div class="box box-widget">
                <div class="box-header with-border">
                  <div class="user-block" >
                    <img class="img-circle" ng-src="{{designer.avatarUrl}}" alt="User Image" style="margin-right: 5%">
                    <span class="username"><a href="/designer-profile/{{designer.id}}">{{designer.firstName}} {{deigner.lastName}}</a></span>
                    <span class="">Applied on: {{designer.createdAt | date: format: medium }}</span>
                  </div>

                </div>
                <div class="box-body" style="padding:0;">
                      <div class="row margin-bottom">
                        <div ng-repeat="image in designer.brandDetails.portfolioImages">
                        <div class="col-sm-8">
                          <img class="img-responsive" ng-if="$index == 0" ng-src="{{image.url}}" alt="Photo">
                        </div>
                        <div class="col-sm-4">
                              <img class="img-responsive" ng-if="$index == 1" ng-src="{{image.url}}" alt="Photo">
                              <br>
                              <img class="img-responsive" ng-if="$index == 2" ng-src="{{image.url}}" alt="Photo">
                        </div>
                      </div>
                </div>
                <div class="box-footer" style="padding:0;">
                  <div class="row text-center" style="border-bottom: 1px solid #f4f4f4;">
                    <h4 class="description-header">{{designer.type}}</h4>
                    <p>{{designer.description}}</p>


                  </div>

                  <div class="row"  style="border-bottom: 1px solid #f4f4f4;">
                    <div class="col-sm-6 border-right">
                      <div class="description-block">
                        <span class="description-text">{{designer.brand.name}}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>

                    <!-- /.col -->
                    <div class="col-sm-6">
                      <div class="description-block">
                        <span class="description-text">Location</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>

                  <div class="row text-center" style="margin: 3px 0 3px 0;">
                    <a href="" ng-click="approveDesigner(designer.id)" class="col-md-6 btn btn-success">Accept</a>
                    <a href="" ng-click="rejectDesigner(designer.id)" class="col-md-6 btn btn-danger">Reject</a>
                  </div>
                  <!-- /.row -->
                </div>

              </div>
              <!-- /.box -->
            </div>


              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->

          </div>



        </div>

      </div>






    </section>
    <!-- /.content -->
  </div>