<div class="content-wrapper ">
    <!-- Content Header (Page header) -->
    <section class="content-header no-padding">
     
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box remove-box-top">
        <div class="box-header no-margin no-padding">
          <!--<h3 class="box-title">Search Attendees</h3>-->

        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li ng-hide="isAdmin" ng-class="{'active': !isAdmin}"><a href="#new-orders" data-toggle="tab" target="_top">New Orders</a></li>
              <li ng-hide="isAdmin"><a href="#ongoing-orders" data-toggle="tab" target="_top">Ongoing Orders</a></li>
              <li ng-hide="isAdmin"><a href="#past-orders" data-toggle="tab" target="_top">Past Orders</a></li>
              <li ng-hide="isAdmin"><a href="#all-orders" data-toggle="tab" target="_top">All Orders</a></li>
              <li ng-show="isAdmin"><a href="#all-orders-admin" data-toggle="tab" ng-class="{'active': isAdmin}" target="_top">All Orders </a></li>
            </ul>
            <div class="fill">
              <div class="tab-content" style="padding: 5px; min-height: 500px;">

                <div ng-class="{'active': !isAdmin}" class="tab-pane" id="new-orders">

                  <table id="tableNewOrders" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product ID</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Delivery Days</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Quantity</th>
                      <th>Action</th>
                      
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>

                  </table>                  


                </div>

                <div class="tab-pane" id="ongoing-orders">
                    <h3>You don't have any ongoing order</h3>

                </div>

                <div class="tab-pane" id="past-orders">

                  <table id="tablePastOrders" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product ID</th>
                      <th>Name</th>
                      <th>Order Date</th>
                      <th>Shipped Date</th>
                      <th>Payment</th>
                      
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                  </table>    




                </div>

                <div class="tab-pane" id="all-orders">

                  
                  <table id="tableAllOrders" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product ID</th>
                      <th>Name</th>
                      <th>Order Date</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Quantity</th>
                      <th>Shipped On</th>
                      
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                  </table>    


                </div>

                <div ng-class="{'active': isAdmin}" ng-show="isAdmin" class= "tab-pane" id="all-orders-admin">

                  
                  <table id="tableAllAdminOrders" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product ID</th>
                      <th>Designer Name</th>
                      <th>Name</th>
                      <th>Order Date</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Quantity</th>
                      <th>Status</th>
                      
                      
                    </tr>
                    </thead>
                    <tbody>

                    
                    </tbody>

                  </table>    


                </div>

              </div>
            </div>



          </div>
          

        </div>

      </div>




         
    
    </section>
    <!-- /.content -->
  </div>

  <script type="text/javascript-lazy">
  $("#tableNewOrders, #tablePastOrders, #tableAllOrders, #tableAllAdminOrders").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
</script>

