<div class="content-wrapper ">
	<!-- Content Header (Page header) -->
	<section class="content-header no-padding">
		<div class="row">
			<div class="col-xs-12">
				<div class="box remove-box-top">
					<div class="box-header with-border">
						<h3 class="box-title">Payment History</h3>
						<div class="pull-right">
							<button class="btn btn-primary"> Generate a payout</button>
						</div>
					</div>
					<div ng-include src="'views/payout-partial.html'"></div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
</div>

