

<div class="content-wrapper"  style="margin-right: 230px;">
<section class="content" >
          <!-- general form elements -->
          <div class="box box-primary" style="padding: 5%;">
            <div class="box-header with-border">
              <h3 class="box-title">BASIC INFORMATION</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="registration-form">
              <div class="box-body row">

                <div class="form-group col-md-5">
                  <label  >First Name</label>
                  <input type="text" class="form-control" ng-model="designerDetails.firstName"  ng-readonly="!isAdmin" required>
                </div>

                <div class="form-group col-md-1"></div>

                <div class="form-group form-group col-md-5">
                  <label >Last Name</label>
                  <input ng-model="designerDetails.lastName" type="text" class="form-control" ng-readonly="!isAdmin" required>
                </div>

                <div class="form-group col-md-5">
                  <label >Date Of Birth</label>
                  <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input ng-model="designerDetails.dateOfBirth" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
                </div>
                </div>

                <div class="form-group col-md-1"></div>

                <div class="form-group form-group col-md-5">
                  <label >Brand/ Studio Name</label>
                  <input ng-model="designerDetails.brand.name" type="text" class="form-control" ng-readonly="!isAdmin" required>
                </div>

                <div class="form-group form-group col-md-5">
                  <label>Mobile Number</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input ng-model="designerDetails.mobile" type="text" class="form-control" data-inputmask='"mask": "99999-99999"' data-mask required minlength="10" maxlength="10">
                  </div>
                </div>
                  <div class="form-group col-md-1"></div>


                  <div class="form-group col-md-5">
                  <label >Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input ng-model="designerDetails.email" type="email" class="form-control" placeholder="Email" ng-readonly="!isAdmin" required>
                  </div>
                </div>


                <div class="form-group col-md-5">
                  <label >Official Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input ng-model="designerDetails.brand.email"type="email" class="form-control" placeholder="Email">
                  </div>
                </div>

                  <div class="form-group col-md-1"></div>


                  <div class="form-group col-md-5">
                  <label>Type of designer</label>
                  <select ng-model="designerDetails.type" class="form-control" style="width: 100%;"   required ng-readonly="!isAdmin">
                    <option>Fresh Talent (experience < 1year)</option>
                    <option>New Gen (experience < 5year)</option>
                    <option>Experienced Designer (experience > 5year)</option>
                    <option>Student Designer (Still in College)</option>
                  </select>
                </div>


                <div class="form-group col-md-5">
                  <label >VAT/TIN</label>
                  <input type="text" class="form-control" ng-model="designerDetails.brand.TINumber">
                </div>

                  <div class="form-group col-md-1"></div>


                  <div class="form-group col-md-5">
                  <label>Import Export Code </label>
                    <input type="text" class="form-control" ng-model="designerDetails.brand.IECNumber">
                </div>


                <div class="form-group col-md-5">
                  <label >Referral</label>
                  <input type="text" class="form-control" ng-model="designerDetails.referrerCode">
                </div>

                <div class="form-group col-md-11">
                  <label>Tell us about you (IN maximum of 500 characters.)</label>
                  <textarea class="form-control" rows="3" maxlength="500" required ng-model="designerDetails.description"></textarea>
                </div>

                <div  class="col-md-10" style="margin: 3% 0%;">
                  <h4 class="box-title" style="display: inline-block">DELIVERY INFORMATION</h4>
                    <hr/>
                </div>

                <div class="form-group col-md-5" >
                  <label >Delivery Coordinator's Name</label>
                  <input type="text" class="form-control" ng-model="designerDetails.brand.pickupAdress.fullName" required>
                </div>

                <div class="form-group col-md-1"></div>

                <div class="form-group form-group col-md-5">
                  <label>Mobile Number</label>

                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <input ng-model="designerDetails.brand.pickupAdress.mobile" type="text" class="form-control" data-inputmask='"mask": "99999-99999"' data-mask required MINLENGTH="10" MAXLENGTH="10">
                  </div>
                </div>


                <div class="form-group col-md-5">
                  <label>Address Line 1</label>
                    <input ng-model="designerDetails.brand.pickupAdress.line1" type="text" class="form-control" required>
                </div>

                  <div class=" col-md-1"></div>

                  <div class="form-group col-md-5">
                      <label>Address Line 2</label>
                      <input ng-model="designerDetails.brand.pickupAdress.line2" type="text" class="form-control" required>
                  </div>

                  <div class="form-group col-md-5">
                      <label>City</label>
                      <input ng-model="designerDetails.brand.pickupAdress.city" type="text" class="form-control" required>
                  </div>
                  <div class=" col-md-1"></div>
              <div class="form-group col-md-5">
                  <label>State</label>
                  <input ng-model="designerDetails.brand.pickupAdress.state" type="text" class="form-control" required>
              </div>

                  <div class="form-group col-md-5">
                      <label>Country</label>
                      <input ng-model="designerDetails.brand.pickupAdress.country" type="text" class="form-control" required>
                  </div>

                  <div class=" col-md-1"></div>

                  <div class="form-group col-md-5">
                      <label>Landmark</label>
                      <input ng-model="designerDetails.brand.pickupAdress.landmark" type="text" class="form-control" required>
                  </div>

                  <div class="form-group col-md-5">
                      <label >Pin Code</label>
                      <div class="input-group">
                          <div class="input-group-addon">
                              <i class="fa fa-map-marker"></i>
                          </div>
                          <input ng-model="designerDetails.brand.pickupAddress.pincode" type="text" class="form-control" ng-readonly="!isAdmin"required>
                      </div>
                  </div>

                <div class="col-md-10" style="margin-bottom: 3%;">
                  <h4 class="box-title" style="display: inline-block">BANK ACCOUNT DETAILS</h4>
                    <hr/>
                </div>

                <div class="form-group col-md-5" >
                  <label >Bank Name</label>
                  <input ng-model="designerDetails.brand.bankName" type="text" class="form-control" required>
                </div>

                <div class="form-group col-md-1"></div>

                <div class="form-group form-group col-md-5">
                  <label >Account Holder Name</label>
                  <input ng-model="designerDetails.brand.bankAccountName" type="text" class="form-control" required>
                </div>
              <div class="form-group col-md-5" >
                  <label >Account Number</label>
                  <input ng-model="designerDetails.brand.bankAccountNumber" type="text" class="form-control" required>
              </div>

                  <div class="form-group col-md-1"></div>

                  <div class="form-group col-md-5" >
                  <label >IFSC Code</label>
                  <input ng-model="designerDetails.brand.bankIFSCode"type="text" class="form-control" required>
                </div>

                <div class="form-group col-md-1"></div>

                <div class="form-group form-group col-md-5">
                  <label >Bank Branch</label>
                  <input ng-model="designerDetails.brand.bankBranch"type="text" class="form-control" required>
                </div>


                  <div class="col-md-10" style="margin-bottom: 3%;">
                  <h4 class="box-title" style="display: inline-block">Upload some of your awesome work.</h4>
                     <hr/>
                </div>

                  <div class="form-group col-md-10">
                      <input file-model="image" type="file" id="image" class="fileUpload">
                      <button ng-click="uploadImages(image)"> Upload Image </button>
                  </div>


                  <div class="form-group col-md-12">
                      <label>Preview</label>
                      <!-- Box Comment -->
                      <div class="box box-widget">

                          <!-- /.box-header -->
                          <div class="box-body" style="padding:0;">
                              <!-- /.user-block -->
                              <div class="row margin-bottom">

                                  <div class="col-md-4" ng-repeat="image in designerDetails.brand.portfolioImages">
                                      <img class="img-responsive" ng-src="{{image.url}}" alt="Photo">
                                  </div>
                                  <!-- /.col -->
                              </div>
                              <!-- /.row -->
                          </div>

                      </div>
                      <!-- /.box -->
                  </div>

                
              </div>

                <div class="box-footer col-md-10">

                    <button ng-click="registration-form.$valid && submitForApproval()" type="submit" class="btn btn-primary custom-btn" >Submit</button>
                    <a ng-if="isAdmin" href="/designers"><button type="submit" class="btn btn-primary custom-btn" >Cancel</button></a>
                </div>

            </form>
          </div>
</section>
          </div>

          <!-- /.box -->




<script type="text/javascript">
$(document).ready( function() {
      $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
      
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function(){
        readURL(this);
    });   
  });
  $(function () {
    
    $(".select2").select2();
    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass: 'iradio_flat-green'
    });

    //Colorpicker
    $(".my-colorpicker1").colorpicker();
    //color picker with addon
    $(".my-colorpicker2").colorpicker();

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  });
</script>
