 <div class="row">
                  <div ng-repeat="product in products" ng-if="product.isApproved" class="col-md-5" >
                    <!-- Box Comment -->
                    <div class="box box-widget">
                      <div class="box-header with-border">
                        <div class="user-block">
                          <div class="username btn-box-tool" data-toggle="tooltip" title={{product.name}} ><a ng-click="redirectToViewProduct('ve',product)">{{product.name}}</a></div>
                          <div ng-if="isAdmin"class="description" ><a href="/designer-profile/{{product.designer.id}}">{{product.designer.firstName}} {{product.designer.lastName}}</a></div>
                          <div class="description ">ID: {{product.productCode}} | Uploaded On - {{product.createdAt | date:'MMM dd, yyyy'}}</div>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                          
                          <button ng-if="!isAdmin" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Edit">
                            <i class="fa fa-edit"></i></button> 
                         <button ng-if="!isAdmin" type="button" class="btn btn-box-tool" data-toggle="tooltip" title="delete" data-widget="remove" >
                            <i class="fa fa-trash"></i></button> 

                            <!-- Product to be removed  -->
                         <!--  <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Delete"><i class="fa fa-times"></i></button> -->
                        </div>
                        <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body product-image" style="padding:0;">
                        <!-- /.user-block -->
                            <div class="row margin-bottom" >
                              <div ng-repeat="image in product.images">
                                <div ng-if="$index ==0" class="col-sm-8 col-md-7">
                                  <img class="img-responsive" ng-src="{{image.url}}" alt="Photo">
                                </div>
                                <!-- /.col -->
                                <div ng-if="$index == 1 || $index == 2" class="col-sm-4 col-md-3">
                                      <img ng-if="$index == 1" class="img-responsive" ng-src="{{image.url}}" alt="Photo">
                                      <br>
                                      <img ng-if="$index == 2" class="img-responsive" ng-src="{{image.url}}" alt="Photo">
                                </div>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                      </div>
                      <div class="box-footer" style="padding:0;">
                        <div class="row">
                          <div class="col-sm-6 border-right">
                            <div class="description-block">
                              <h5 class="description-header">0</h5>
                              <span class="description-text">SALES</span>
                            </div>
                            <!-- /.description-block -->
                          </div>

                          <!-- /.col -->
                          <div class="col-sm-6">
                            <div class="description-block">
                              <h5 class="description-header">0</h5>
                              <span class="description-text">PRODUCTS</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                      
                    </div>
                    <!-- /.box -->
                  <!-- /.col -->


                </div>
                  <!-- /.col -->
                 
                </div>