<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active"><a href="home">Products</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="product-requests">Product Requests(Admin)</a></li>
            <li><a href="designers">Designers(admin)</a></li>
            <li><a href="payouts">Payouts</a></li>
            <li><a href="pages/tables/invoice.html">Invoices</a></li>
            <li><a href="pages/messages.html">Messages</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>