a:hover {
    color: black;
}

.designer_column {
	height: 275px;
	width: 175px;
	margin: 10px 0 10px 0;
}



/*.designer_name {
	height: 30px;
	background-color: #c8a75e;
}*/

#designer_name{
	height: 30px !important;
	background-color: #c8a75e !important;
	color: #fff;
	display: inline-block;
    position: relative;
    bottom: 0;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}


#designer_name:hover {
	width: 100% 
}

#Content {
	border-bottom: 2px solid #181818;
}

.basic_categorization li {
	list-style: none;
	font-size: medium;
}


.basic_categorization a {
	color: #444444;
}

.basic_categorization a:hover {
	color: #c8a75e;
	text-decoration: underline;
}

.product {
	width: 230px !important;
}

.image_frame {
	height: 307px !important;
}
.image_wrapper{
	height: 290px;
}
.without_headers {
	margin-top: 200px;
}

.footwear_headings {
	padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    text-align: center;
}

.sort{
	    display: inline-block;
    position: relative;
    color: #282c3f;
    float: right;
        margin: 12px 0 0;
}
.sort li, label{
	    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.sort li:after {
	    content: ' ';
    display: inline-block;
    height: 11px;
    width: 1px;
    border-left: 1px solid #3e4152;
    margin-left: 5px;
    margin-bottom: -1px;
}

.filter_title , .filter_title_not_collapswable{
	font-size: 12px;
    line-height: 16px;
    color: #3e4152;
    text-transform: uppercase;
    padding: 0 0 15px;
    clear: both;
    font-weight: bold;
    cursor: pointer;
}

.filter_title:after {
	content: "[ — ]";
    display: block;
    float: right;
    font-size: 0.667em;
    margin-right: 2px;
    color: rgb(173, 174, 175);
}

ul.c1 {display: block; }
ul.c2 {display: none;}


.num {
	    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

.input-group label{
	font-weight: normal;
}



 li[data-option] {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 32px;
    height: 20px;
    position: relative;
    margin: 10px 10px 0 0!important;
    float: left;
}

.hint--top.color:before {
    margin-bottom: -9px;
    border: 4px solid transparent;
    border-top-color: #fff;
}
.hint--top:before, .hint--top:after {
    bottom: 100%;
}
.hint--top:before {
    margin-bottom: -8px;
    left: 30%;
}
.hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
.hint--top.color:after {
    margin-bottom: -1px;
    background-color: #fff;
    color: #282c3f;
    text-shadow: none;
    text-transform: capitalize;
    padding: 3px 6px 2px 6px;
    min-width: 0;
    margin-left: -2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.hint--top:before, .hint--top:after {
    bottom: 100%;
}
.hint--top:after {
    margin-bottom: 4px;
    margin-left: -18px;
    left: -20%;
}
.hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: #fff;
    min-width: 50px;
    padding: 8px 10px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
li.option input.checkbox {
    visibility: hidden;
    margin: 0 12px 0 0;
    width: 8px;
    height: 8px;
    }

    li.option label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 19px;
    line-height: 19px;
    vertical-align: top;
}
li[data-colorhex='mauve'] {
    background-color: #e0b0ff;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='purple'] {
    background-color: #800080;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}
li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='turquoise'] {
    background-color: #40e0d0;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}



li[data-colorhex='black'] {
    background-color: #36454f;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='white'] {
    background-color: #fff;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

.customize ul.properties {
    display: block;
    position: relative;
}

.customize ul.properties li {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    float: left;
    margin-right: 32px;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    color: #696b79;
}

.container li {
    list-style: none;
}
.customize ul.properties:after {
    clear: both;
}
.customize ul.properties:before, .customize ul.properties:after {
    content: "";
    display: table;
}
.customize .allOptions {
    display: block;
    position: relative;
    margin-top: -3px;
    padding-top: 10px;
    border-top: 1px dotted #d4d5d9;
}
#designerIndexLeftPanel{
    margin-left: 10%;
    position: fixed;
    font-size: 16px;
}

#designerIndexLeftPanel a {
    color: black;
    display: block;
    padding-bottom: 10px;
}

.alphabet-list {
    list-style: none;
    display: flex;
    margin-left: 10%
    
}

.alphabet-list li{
    margin: 15px;
    font-size: large;
}

.alphabet-list a{
    color: black;
}

.designer-listing{
    list-style: none;
    padding-bottom: 20px;
    display: block;
}

.alpha {
    font-family: 'DidotHTF-42Medium';
    font-size: 20px;
}

.alphabets{
    list-style: none;
}
.alphabets a{
    color: black;
}

.designer-listing-main{
    list-style: none;
    padding-bottom: 30px;
    padding-left:15%;

}


div#about{
    position: relative;
    z-index: 50;
}
div#about {
    background-color: #ddd;
}
div.fotos {
    z-index: 1;
    overflow: auto;
    clear: both;
    width: 95%;
    padding: 50px 1.5% 120px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
}
div.fotos ul {
    max-width: 1455px;
    margin: auto;
    overflow: auto;
}
div.fotos li {
    margin: 1.5%;
    float: left;
}
.two {
    width: 30.33333%;
}

.four {
    width: 63.666667%;
}
.three {
    width: 47%;
}
div.fotos li.topone, .topone {
    margin-top: 15%;
}
div.fotos img {
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    width: 100%;
}
div#firstmenu {
    text-transform: uppercase;
    left: 8%;
    bottom: 30px;
}
div.menu {
    position: fixed;
    z-index: 70;
    font-size: 13px;
    line-height: 1.4em;
}
div#firstmenu li {
    margin-bottom: 10px;
}

div#firstmenu li a{
    color: #444;
    font-weight: bold;
    font-size: 20px;
}
div#logo {
    margin-top: 170px;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
}
div#logo a {
    display: block;
    margin: auto;
    width: 500px;
    text-decoration: none;
}
div#logo span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    float: none;
    color: white;
}

div#logo h1 {
    font-size: 65px;
    line-height: 65px;
    font-family: FirminDidURW-Rom, georgia, serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

div#advertisinga, .advertisinga {
    background-color: #adaeca;
}
div#custom, .custom {
    background-color: #aa899c;
}

div.fotos li.toptwo, .toptwo {
        margin-top: 15%;
    margin-left: 10%;
}
div.fotos li.roomone {
    margin-left: 18.1666667%;
}




.new-product {
    margin-left: 15%;
    margin-right: 15%;
    background: rgba(245, 243, 243, 0.27);
    min-height: 800px;
    padding: 2em;
        margin-bottom: 30px;
}
.flexslider {
    margin: 0 0 10px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}


.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;
}

.flex-control-thumbs li {
    display: inline;
}

.flex-control-thumbs img {
    width: 25%;
    padding: 10px;
    display: inline-block;
}

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dress-info {
    margin-left: 100px;
}
.dress-name {
    margin: 30px 0;
}
.dress-name p {
    margin-top: 16px;
    font-size: 13px;
    line-height: 23px;
    color: #CAC9C9;
}
.dress-name h3 {
    float: left;
    font-size: 19px;
    color: #000;
    font-weight: 500;
    padding: 0;
}
.dress-name span {
    float: right;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.swatchanchor{
    background-size: 400% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: 0;
    float: left;
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 26px;
    margin-right: 11px;
    text-indent: -5000px;
    background: #e8e890;

}
.swatches{
    text-align: center;
}
.swatches li {
    float: none;
    display: inline-block;
    margin: 5px 0 5px 6px;
}
.product-variations{
    padding: 20px;
}
.product-variations .swatches li a {
    display: block;
    border: 1px solid #e0e0e0;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    height: 30px;
    min-width: 40px;
    padding: 0 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.out-of-stock{
    background-color: rgba(0,0,0,.05);
    pointer-events: none;
}
.purchase{
    text-align: center;
    padding: 20px;
}
.purchase .btn {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5%;
    margin-bottom: 5%;
}
.purchase a {
    color: black;
}

.like-share {
   text-align : center;
}
.like-share a{
 padding: 10px;
 text-decoration: none;
 font-size: small;
}
.stepper {
    position: relative;
    padding-bottom: 5%;
    text-decoration: none;
}
.stepper__rule {
    position: absolute;
    top: 1.285714286em;
    z-index: 0;
    display: block;
    height: 1px;
    background-color: #d7d7d7;
    content: '';
}
.stepper__step--active, .stepper__step--incomplete {
    cursor: default;
}
.stepper__step {
    text-decoration: none;
    display: block;
    float: left;
    width: 100%;
    padding: .3928571429rem;
    color: #0b0b0b;
    text-align: center;
}
.stepper__step--active .stepper__step-badge, .stepper__step--completed .stepper__step-badge {
    color: #000;
    background: #c8a75e;
    border-color: #000;
    text-decoration: none;
}
.stepper__step-badge {
    text-decoration: none;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto .3928571429rem;
    font-size: .8232026157em;
    font-weight: 700;
    line-height: 2rem;
    color: #0b0b0b;
    text-align: center;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    user-select: select;
}
.stepper:after {
    clear: both;
    content: "";
    display: block;
}

.prod-set {
    width: 100%;
    display: inline-block;
    height: 100%;
    overflow: auto;
    float: left;
    padding-bottom: 7px;
}

.prod-set>div {
    margin-left: 0px;
    background: #fff;
    border: 1px solid #eaeaec;
    box-shadow: 0 0 4px rgba(40,44,63,.08);
    margin-bottom: 30px;
    text-transform: none;
    padding-bottom: 0!important;
    width: 100%;
}

.prod-set>div .col1 {
    padding-left: 0;
    float: left;
    text-align: left;
}

.prod-set>div .col2 {
    padding-left: 45px;
    padding: 0 10px;
    text-align: left;
    margin-top: 0;
    position: relative;
    min-height: 145px;
    margin-left: 100px;
}
.prod-set>div .col2 .prod-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.prod-name a {
    font-size: inherit;
    font-weight: 600;
    color: #535766;
}
.edit {
    border-top: 1px solid #d6d6d6;
    margin-top:  10%;
}
.edit  a{
    color: #535766;
    padding-right: 10%;
}
.continue-shopping {
    text-align: center;
    font-size: 15px;
    height: 50px;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.place-order{
    text-align: center;
    height: 50px;
}
.place-order button{
    font-size: 18px;
    font-weight: 500;
    
}


#continue-shopping {
    background: white;
    border: 3px solid black;
    color: black;

}

#right {
    display: inline-block;
    width: 29%;
    vertical-align: top;
    padding-left: 35px;
}
#right span {
    float: right;
}

.order-summary-span {
    float: none;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #eaeaec;
}


#right div {
    padding-top: 5px;

}
#right label{
    font-weight: light;
}
.login-form {
    height: 80%;
    padding: 1% 30%;
}

.login-form form {
    position: relative;
    margin-bottom: 24px;
}

.login-form input {
    width: 100%;
}
.login-form button {
    width: 45%;
    height: 50px;
    margin-left: 30%;
    font-size: 24px;
}
.btn-primary {
    background-color: black;
    border: 2px solid black;
}

#women{
    background-image: url('/images/women.jpg');
}
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 10px;
    background-color: #fff;
    width: 15%;
    margin-bottom: 30px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#header_cart:hover , #search_button:hover, #profile_button:hover{
    color: white;
}

.accessories_whatToBuy {
    text-align: center;
    width: 40%;
    margin-left: 25%;
    margin-top: 5%;
}

.accessories_whatToBuy h3{
        font-weight: bolder;
    }

.formal_accessories_label{
    width: 60%;
}    


.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

