a:hover {
    color: black;
}

.sku-select {
    background: #c8a75e;
}

#registrationFailure p, #registrationSuccessful p, #registrationFailure a, #registrationSuccessful a {
    padding-left: 10%;
}
.designer_column {
	height: 275px;
	width: 175px;
	margin: 10px 0 10px 0;
}


.category_name_homepage {
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
    margin: 12px;
    text-align: center;
}

.category_name_homepage label {
    padding-bottom: 10%;
}


/*.designer_name {
	height: 30px;
	background-color: #c8a75e;
}*/

#designer_name{
	height: 30px !important;
	background-color: #c8a75e !important;
	color: #fff;
	display: inline-block;
    position: relative;
    bottom: 0;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}


#designer_name:hover {
	width: 100% 
}

.footer-blog {
	border-top: 2px solid #181818;
    bottom: 0px;
}

.basic_categorization li {
	list-style: none;
	font-size: medium;
}


.basic_categorization a {
	color: #444444;
}

.basic_categorization a:hover {
	color: #c8a75e;
	text-decoration: underline;

}

.product {
	width: 230px !important;
}

.image_frame {
	height: 307px !important;
}
.image_wrapper{
	height: 290px;
}
.without_headers {
	margin-top: 200px;
}

.footwear_headings {
	padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    text-align: center;
}

.sort{
	    display: inline-block;
    position: relative;
    color: #282c3f;
    float: right;
        margin: 12px 0 0;
}
.sort li, .sort label{
	    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.sort li:after {
	    content: ' ';
    display: inline-block;
    height: 11px;
    width: 1px;
    border-left: 1px solid #3e4152;
    margin-left: 5px;
    margin-bottom: -1px;
}

.filter_title , .filter_title_not_collapswable{
	font-size: 12px;
    line-height: 16px;
    color: #3e4152;
    text-transform: uppercase;
    padding: 15px 0px;
    clear: both;
    font-weight: bold;
    cursor: pointer;
}

.filter_title:after {
	content: "[ — ]";
    display: block;
    float: right;
    font-size: 0.667em;
    margin-right: 2px;
    color: rgb(173, 174, 175);
}

ul.c1 {display: block; }
ul.c2 {display: none;}


.num {
	    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

.input-group label{
	font-weight: normal;
    padding-left: 5px;
}



 li[data-option] {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 32px;
    height: 20px;
    position: relative;
    margin: 10px 10px 0 0!important;
    float: left;
}

.hint--top.color:before {
    margin-bottom: -9px;
    border: 4px solid transparent;
    border-top-color: #fff;
}
.hint--top:before, .hint--top:after {
    bottom: 100%;
}
.hint--top:before {
    margin-bottom: -8px;
    left: 30%;
}
.hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
.hint--top.color:after {
    margin-bottom: -1px;
    background-color: #fff;
    color: #282c3f;
    text-shadow: none;
    text-transform: capitalize;
    padding: 3px 6px 2px 6px;
    min-width: 0;
    margin-left: -2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.hint--top:before, .hint--top:after {
    bottom: 100%;
}
.hint--top:after {
    margin-bottom: 4px;
    margin-left: -18px;
    left: -20%;
}
.hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: #fff;
    min-width: 50px;
    padding: 8px 10px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
li.option input.checkbox {
    visibility: hidden;
    margin: 0 12px 0 0;
    width: 8px;
    height: 8px;
    }

    li.option label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 19px;
    line-height: 19px;
    vertical-align: top;
}
li[data-colorhex='mauve'] {
    background-color: #e0b0ff;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='purple'] {
    background-color: #800080;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}
li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='turquoise'] {
    background-color: #40e0d0;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}



li[data-colorhex='black'] {
    background-color: #36454f;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

li[data-colorhex='white'] {
    background-color: #fff;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}li[data-colorhex='rose'] {
    background-color: #dd2f86;
    }

    .option {
    	transition: opacity .3s ease-out;
    margin-bottom: 4px;
    white-space: nowrap;
    font-size: 15px;
}

.customize ul.properties {
    display: block;
    position: relative;
}

.customize ul.properties li {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    float: left;
    margin-right: 32px;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    color: #696b79;
}

.container li {
    list-style: none;
}
.customize ul.properties:after {
    clear: both;
}
.customize ul.properties:before, .customize ul.properties:after {
    content: "";
    display: table;
}
.customize .allOptions {
    display: block;
    position: relative;
    margin-top: -3px;
    padding-top: 10px;
    border-top: 1px dotted #d4d5d9;
}
#designerIndexLeftPanel{
    margin: 0% 10%;
    
    font-size: 16px;
}

#designerIndexLeftPanel a {
    color: black;
    display: block;
    padding: 10px;
}
 #designer-categories{
    margin-left: 8%;
    margin-bottom: 2%;
}

.alphabet-list {
    list-style: none;
    display: flex;
    margin-left: 10%
    
}

.alphabet-list li{
    margin: 15px;
    font-size: large;
}

.alphabet-list a{
    color: black;
}

.designer-listing{
    list-style: none;
    padding-bottom: 20px;
    display: block;
}

.alpha {
    font-family: 'DidotHTF-42Medium';
    font-size: 20px;
}

.alphabets{
    list-style: none;
    width: 95%;
}
.alphabets a{
    color: black;
}

.designer-listing-main{
    list-style: none;
    padding-bottom: 30px;
    padding-left:15%;

}



div#about {
    background-color: #ddd;
}
div.fotos {
    z-index: 1;
    overflow: auto;
    clear: both;
    width: 95%;
    padding: 50px 1.5% 120px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
}
div.fotos ul {
    max-width: 1455px;
    margin: auto;
    overflow: auto;
}
div.fotos li {
    margin: 1.5%;
    float: left;
}
.two {
    width: 30.33333%;
}

.four {
    width: 63.666667%;
}
.three {
    width: 47%;
}
div.fotos li.topone, .topone {
    margin-top: 15%;
}
div.fotos img {
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    width: 100%;
}
div#firstmenu {
    text-transform: uppercase;
    left: 8%;
    bottom: 30px;
}
div.menu {
    position: fixed;
    z-index: 70;
    font-size: 13px;
    line-height: 1.4em;
}
div#firstmenu li {
    margin-bottom: 10px;
}

div#firstmenu li a{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #fff;
}
div#logo {
    margin-top: 170px;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
}
div#logo a {
    display: block;
    margin: auto;
    width: 500px;
    text-decoration: none;
}
div#logo span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    float: none;
    color: white;
}

div#logo h1 {
    font-size: 65px;
    line-height: 65px;
    font-family: FirminDidURW-Rom, georgia, serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}

div#advertisinga, .advertisinga {
    background-color: #adaeca;
}
div#custom, .custom {
    background-color: #aa899c;
}

div.fotos li.toptwo, .toptwo {
        margin-top: 15%;
    margin-left: 10%;
}
div.fotos li.roomone {
    margin-left: 18.1666667%;
}




.new-product {
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(245, 243, 243, 0.27);
    padding: 2em;
}
.flexslider {
    margin: 0 0 10px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}


.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid #D1CFCF;
}

#gallery-preview {
    height: 100% !important;
    max-width: 340px;
}

.product-gallery-list {
    margin-top: 10px !important;
}

.flex-active {
    border: solid 1px gray;
    height: 80px;
}

.flex-control-thumbs li {
    display: inline;
}

.flex-control-thumbs img {
    width: 100%;
    padding: 10px;
    display: inline-block;
}

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dress-info {
    margin-left: 100px;
}
.dress-name {
    margin: 30px 0;
}
.dress-name p {
    margin-top: 16px;
    font-size: 13px;
    line-height: 23px;
}
.dress-name > div >h3 {
    float: left;
    font-size: 19px;
    color: #000;
    font-weight: 500;
    padding: 0;
}
.dress-name >div >span {
    float: right;
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
.swatchanchor{
    background-size: 400% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: 0;
    float: left;
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 26px;
    margin-right: 11px;
    text-indent: -5000px;
    background: #e8e890;

}
.swatches{
    text-align: center;
}
.swatches li {
    float: none;
    display: inline-block;
    margin: 5px 0 5px 6px;
}
.product-variations{
    padding: 20px;
}
.product-variations .swatches li a {
    display: block;
    border: 1px solid #e0e0e0;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    height: 30px;
    min-width: 40px;
    padding: 0 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.out-of-stock{
    background-color: rgba(0,0,0,.05);
    pointer-events: none;
}
.purchase{
    text-align: center;
    padding: 20px;
    margin-left: 4%
}
.purchase .btn {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5%;
}
.purchase a {
    color: black;
    display: inline-block;
}

.like-share {
   text-align : center;
}
.like-share a{
 padding: 10px;
 text-decoration: none;
 font-size: small;
}
.stepper {
    position: relative;
    padding-bottom: 5%;
    text-decoration: none;
}
.stepper__rule {
    position: absolute;
    top: 1.285714286em;
    z-index: 0;
    display: block;
    height: 1px;
    background-color: #d7d7d7;
    content: '';
}
.stepper__step--active, .stepper__step--incomplete {
    cursor: default;
}
.stepper__step {
    text-decoration: none;
    display: block;
    float: left;
    width: 100%;
    padding: .3928571429rem;
    color: #0b0b0b;
    text-align: center;
}
.stepper__step--active .stepper__step-badge, .stepper__step--completed .stepper__step-badge {
    color: #000;
    background: #c8a75e;
    border-color: #000;
    text-decoration: none;
}
.stepper__step-badge {
    text-decoration: none;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto .3928571429rem;
    font-size: .8232026157em;
    font-weight: 700;
    line-height: 2rem;
    color: #0b0b0b;
    text-align: center;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    user-select: select;
}
.stepper:after {
    clear: both;
    content: "";
    display: block;
}

.prod-set {
    width: 100%;
    display: inline-block;
    height: 100%;
    overflow: auto;
    float: left;
    padding-bottom: 7px;
}

.prod-set>div {
    margin-left: 0px;
    background: #fff;
    border: 1px solid #eaeaec;
    box-shadow: 0 0 4px rgba(40,44,63,.08);
    margin-bottom: 30px;
    text-transform: none;
    padding-bottom: 0!important;
    width: 100%;
}

.prod-set>div .col1 {
    padding-left: 0;
    float: left;
    text-align: left;
}

.prod-set>div .col2 {
    padding-left: 45px;
    padding: 0 10px;
    text-align: left;
    margin-top: 0;
    position: relative;
    min-height: 145px;
    margin-left: 100px;
}
.prod-set>div .col2 .prod-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.prod-name a {
    font-size: inherit;
    font-weight: 600;
    color: #535766;
}
.edit {
    border-top: 1px solid #d6d6d6;
    margin-top:  10%;
}
.edit  a{
    color: #535766;
    padding-right: 10%;
}
.continue-shopping {
    text-align: center;
    font-size: 15px;
    height: 50px;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.place-order{
    text-align: center;
    height: 50px;
}
.place-order button{
    font-size: 18px;
    font-weight: 500;
    
}


.alt-action {
    background: white;
    border: 3px solid black;
    color: black;

}

#right {
    display: inline-block;
    width: 29%;
    vertical-align: top;
    padding-left: 35px;
}
#right span {
    float: right;
}

.order-summary-span {
    float: none;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #eaeaec;
}


#right div {
    padding-top: 5px;

}
#right label{
    font-weight: light;
}


.login-form form {
    position: relative;
    margin-bottom: 24px;
}


.login-form button {
    
    margin-left: 30%;
    
}
.btn-primary {
    background-color: black;
    border: 2px solid black;
}

#women{
    background-image: url('/images/women.jpg');
}
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#header_cart:hover , #search_button:hover, #profile_button:hover{
    color: white;
}

.accessories_whatToBuy {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.accessories_whatToBuy h3{
        font-weight: bolder;
    }

.formal_accessories_label{
    width: 60%;
}    

.login-fb-gm{
    border-left: 1px solid #181818;
}
.login-fb-gm button{
     display: block;
    margin: 10%;

}

#fbLogin, #fbRegister {
    background: #3b5998;
    }
#gPlusLogin, #gPlusRegister {
    background:  #d34836;
    
}
#gPlusLogin {
    padding-left: 10%;
    padding-right: 10%;
}
.profile-links{
    padding: 5%;
    padding-top: 0;

}
.modal-title{
    text-align: center;
}
#registerModal .modal-body{
    margin-left: 25%;
}

#registerform{
margin-left: 5%;
padding-top: 5%;
}

.footer-blog{
    position: relative;
    z-index: 9999;
}
.billing-address, .payment_option_container{
    box-shadow: 0 0 3px #BBB;
    background: white;
    padding: 3% 10%;

}
.billing-left{
    float: left;
    width: 100%;
}
.billing-right{
    float: right;
    width: 100%;

}
.billing-left label, .billing-right label{
    padding-top: 0px;
    font-size: 13px;
    color: #645d54;
    display: inherit;

}
.billing-left input, .billing-right input, .billing-left select{
    margin: 0;
    width: 100%;
}
label.required:after, span.required:after, i.required {
    color: red;
    content: " *";
    font-size: 12px;
    font-weight: normal;
}
.pull-right{
    float: right;
}

.billing-address textarea {
    height: 90px !important;
    padding-top: 5px !important;
    width: 100%;
    box-sizing: border-box;
}
.billing-address .row{
    padding-bottom: 5%;
}
.radio_btn_wrapper [type="radio"]:checked+span:before {
    background: #c8a75e;;
    box-shadow: 0 0 0 2px #645d54;
}
.radio_btn_wrapper {
     padding: 2%;
}
.radio_btn_wrapper [type="radio"]+span:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 2px #645d54;
    margin-right: 20px;
    transition: 0.5s ease all;
}
.radio_btn_wrapper [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
   padding: 0;
    position: absolute;
    width: 1px;

}
.radio_btn_wrapper label {
    display: block;
    cursor: pointer;
    line-height: 1;
    font-weight: normal;
}
.back_btn{
    font-size: 20px;
    border: 2px solid #c8a75e;
    margin-right: 5%;    
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.new-product-customize{
    min-height: 550px;
     margin-left: 10%;
    margin-right: 10%;
    background: rgba(245, 243, 243, 0.27);
    padding: 2em;
    margin-bottom: 30px;
}
.container {
    width: 100%;
}

.custom-size li {
    padding: 2%;
}

.custom-look li img:hover{
    border: 1px solid black;
}


.custom-size input{
    display: inline-flex;
    padding: 0;
    margin: 0;
    width: 60%;
    text-align: center;
    float: right;
}

.custom-size label{
    display: inline-flex;
}

.custom-size i{
    color: #181818;
}

.custom-measurement {
    margin-left: 0;
    max-height: 500px;
    overflow: scroll;
}


/*user profile*/

.user-profile-actions {
    margin: 0% 10%;

}
.user-profile-actions > ul {
    padding-right: 5%;
}

.user-profile-actions > ul > li > a {
    text-transform: uppercase;
}

.user-profile-actions > ul > li.active > a , .user-profile-actions > ul > li.active > a:hover {
    background-color: #c8a75e !important;
}

.profile-details-section {
    border: 1px solid #eaeaec;
    -webkit-box-shadow:  3px 3px 3px  rgba(0,0,0,.03);
    box-shadow: 3px 3px 3px  rgba(0,0,0,.03);
    margin-bottom: 10%;
    min-height: 400px;
    
}
.userDetails label{
    display: block;
    padding: 15px;
    font-size: 16px;
}
.profile-title {
    padding-top: 20px;
    padding-left: 15px;
}
.savedAdddress {
    padding-bottom: 5%;
}

#add-billing-address-container {
    float: right;
    padding-top: 5%;
}  

.orders {
    border: 1px solid #eaeaec;
    -webkit-box-shadow:  3px 3px 3px  rgba(0,0,0,.03);
    box-shadow: 3px 3px 3px  rgba(0,0,0,.03);
    margin-bottom: 10%;
   
}

.orders div{
    padding: 0 2%;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border: 0px;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.exchange .connecting-line {
    width: 75% !important;
    top: 30% !important;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab, button.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.send-reply button.round-tab{
    width: 70px;
    height: 50px;
    line-height: 20px;
    color: black;
}  

.exchange span.round-tab  {
    width: 50px;
    height: 50px;
    line-height: 50px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

.exchange .nav-tabs > li {
    width: 20% !important;
}


.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li label{
    padding-left: 25%;
    font-size: 16px;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.exchange .nav-tabs > li a{
    height: 50px !important;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}


.order-info {
    font-size: 16px;
    padding: 2% !important;
}

.img-circle {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

.message , .reply {
    background: whitesmoke;
    margin: 2%;
    padding: 2%;
}
.message button {
    font-size: large;
    color: black;
    background: transparent;
    padding: 5px;
}

.reply textarea{
    width: 100%;
}

.send-reply {
    height: 50px;
}



/*Footer*/

#back_to_top {
     bottom: 50px;
        float: right;
        right: 10px;
        position: fixed;
}

#social {
    border-bottom: 1px solid #c8a75e;
}

.footer-links{
    padding: 2%;
}
.footer-links label, .footer-links a{
    padding-bottom:5%;
    font-size: 16px;
    color: #fff;
    display: block;
}

.footer-links a:hover{
    color: #c8a75e;
}

/*vendor flow*/
.vendor-flow{
    background-color: #181818;

}
.vendor-flow img{
    width: 100%;
}
.become-Designer-Button{
    color: #181818;
    padding: 8px;
}

.become-Designer-Button, .register-Designer-Button {
    border: 2px solid #181818;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    
}

.register-Designer-Button{
        margin-left: 40%;
}

.register-Designer-Button:hover , .become-Designer-Button:hover {
    color: #fff;
    background-color: #181818;

}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.custom-btn{
    background-color: #fff;
    border: 2px solid #fff;
    margin: 2%;
    font-size: 16px;
    color: #181818;
   
}

.custom-btn:hover {
    border-color: #181818;
    background-color: #fff;
    color: #181818;
}

.full-width input{
    width: 100%;
}
.box-body label{
    color: #fff;
    font-size: 16px;

}
.box-title  {
    color: #fff;
}
.box-footer {
    float: right;
}

.border-top{
    border-top: 1px solid #181818;
}


.column_fancy_heading {
    margin-bottom: 0px;
}

.displayNone {
    display: none;
}

.useful-links-content:not(h3){
    font-size: 14px;
}

#sizeChart iframe {
    height:100%;
    width: 100%;
}

.designerProfileImage{
    height: 730px;
    width: 620px;
    overflow: hidden;
    box-sizing:content-box;
}
.designerCollectionImageSmall {
    width: 145px;
    height: 216px;
    overflow: hidden;
    box-sizing:content-box;
}
.designerProfileImage > img , .designerCollectionImageSmall > img  {
width: 100%;
height: auto;
}
.designerProfileImage > img , .designerCollectionImageSmall > img  {
object-fit: cover;
}
.zoomWindowContainer >div {
    width: 600px !important;
    height: 500px !important;
}