<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <base href="/">
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ModaInk</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato:300'>

    <link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>

    <!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' id='global-css' href='css/global.css'>
    <link rel='stylesheet' id='style-static' href='css/wrapper.css'>

    <link rel='stylesheet' id='structure-css' href='css/structure.css'>
    <link rel='stylesheet' id='local-css' href='css/shop.css'>
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.min.css">
    

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="plugin/rs-plugin/css/settings.css">
    <link rel='stylesheet' id='custom-css' href='css/custom.css'>
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
  <script type="text/javascript" src="js/angular-local-storage.min.js"></script>
  <script type="text/javascript" src="js/angular-filter.min.js"></script>

  <script type="text/javascript" src="app.js"></script>
    <!-- Services -->
  <script type="text/javascript" src="js/services/HttpService.js"></script>
  <script type="text/javascript" src="js/services/StorageService.js"></script>
    <!-- Controllers -->
  <script type="text/javascript" src="js/controllers/homeController.js"></script>
  <script type="text/javascript" src="js/controllers/designersController.js"></script>
  <script type="text/javascript" src="js/controllers/designerLabelsController.js"></script>

</head>

<body ng-app="ModaInk" ng-controller="HomeController" class="template-slider layout-full-width header-modern sticky-header sticky-white subheader-title-left">
    <!-- #Wrapper -->
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">

        <!-- #Header_bg -->
        <!-- Header Wrapper -->
        <div id="Header_wrapper" class="bg-parallax" data-stellar-background-ratio="0.5">

            <!-- #Header -->
            <!-- Header -->
            <header id="Header">
                <!-- Header -  Logo and Menu area -->
                <div id="Top_bar" class="is-sticky">

                    <div class="container_menu">
                        <div class="column one">

                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="/"><img class="logo-main" src="images/logo.png"/>
                                    </a>
                                </div>
                               
                                <!-- Main menu-->
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu">
                                            <li id="menu-item-2450" class=" menu-item-type-taxonomy">
                                                <a href="/products"><span>EXCLUSIVE</span></a>
                                            </li>
                                            <li id="menu-item-2401" class="menu-item-type-taxonomy ">
                                                <a href="/designers"><span>DESIGNERS</span></a>
                                            </li>
                                            <li class="menu-item-type-taxonomy menu-item-object-product_cat ">
                                                <a href="/women"><span>WOMEN</span></a>
                                                <ul class="sub-menu mfn-megamenu mfn-megamenu-3" style="opacity: 1;">
                                                    <li ng-repeat="product in womenProducts" class="menu-item-type-taxonomy menu-item-object-product_cat mfn-megamenu-cols-3">
                                                        <a class="mfn-megamenu-title" href="views/for-her-clothing-for-her.html"><span>{{product.name}}</span></a>
                                                        <ul class="sub-menu mfn-megamenu mfn-megamenu-3" ng-repeat="subProduct in product.subCategories">
                                                            <li class="menu-item-type-taxonomy menu-item-object-product_cat">
                                                                <a href="views/for-her-dresses.html"><span>{{subProduct.name}}</span></a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            <li class="menu-item-type-taxonomy menu-item-object-product_cat ">
                                                <a href="/men"><span>MEN</span></a>
                                                <ul class="sub-menu mfn-megamenu mfn-megamenu-3" style="opacity: 1;">
                                                    <li ng-repeat="product in menProducts" class="menu-item-type-taxonomy menu-item-object-product_cat mfn-megamenu-cols-3">
                                                        <a class="mfn-megamenu-title" href="views/for-her-clothing-for-her.html"><span>{{product.name}}</span></a>
                                                        <ul class="sub-menu mfn-megamenu mfn-megamenu-3" ng-repeat="subProduct in product.subCategories">
                                                            <li class="menu-item-type-taxonomy menu-item-object-product_cat">
                                                                <a href="views/for-her-dresses.html"><span>{{subProduct.name}}</span></a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/accessories"><span>ACCESSORIES</span></a>
                                            </li>
                                            <li>
                                                <a href="/footwear"><span>FOOTWEAR</span></a>
                                            </li>
                                            <li>
                                                <a href="/customization"><span>CUSTOMIZATION</span></a>
                                            </li>
                                            <li>
                                                <a href="/madeToOrder"><span>MADE TO ORDER</span></a>
                                            </li>
                                            <li>
                                            <div class="top_bar_right_wrapper">
                                                <a id="search_button" href="#"><i class="icon-search"></i></a>
                                                <a id="profile_button" href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-user"></i></a>
                                                <a id="header_cart" href="/checkout/cart"><i class="fa fa-shopping-bag"></i><span>0</span></a>
                                            </div>
                                            </li>

                                        </ul>

                                    </nav>
                                    <a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>
                                </div>

                        
                                <!-- Header Searchform area-->
                                <div class="search_wrapper">
                                    <!-- #searchform -->
                                    <form method="get" id="searchform" action="#">
                                        <i class="icon_search icon-search"></i>
                                        <a href="#" class="icon_close"><i class="icon-cancel"></i></a>
                                        <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                                        <input type="submit" class="submit flv_disp_none" value="" />
                                    </form>
                                </div>
                            </div>

                               
                        </div>
                    </div>
                </divt>
                <!-- Revolution slider area-->
                
            </header>
        </div>
<div ng-include src="'views/login.html'"></div>
<div ng-include src="'views/alert.html'"></div>
        <!-- #Content -->
        <!-- Main Content -->
        <div ui-view></div>

        <!-- #Footer -->
        <!-- Footer-->
        <div class="footer-blog">

            <div id="blog" style="background: #fff">
                <section style="text-align: center;">
                    Tag your friends with #modainkofficial or upload your picture here or yur chance to be featured in our gallery.
                    <h1 style="margin:0px;">#modainkofficial</h1>
                </section>
            </div>
            <footer id="Footer" class="clearfix">

             
                <!-- Footer copyright-->
                <div class="footer_copy">
                    <div class="container">
                        <div class="column one">
                            
                <a id="back_to_top" href="#" class="button button_left button_js" style="    bottom: 50px;
        float: right;
        right: 10px;
        position: fixed;"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
                            <!-- Copyrights -->
                            <div class="copyright">
                               <a target="_blank" rel="nofollow" href="http://themeforest.net/item/betheme-html-responsive-multipurpose-template/13925633?ref=beantownthemes" style="color: #fff"><h5 style="display: inline-block;">Subscribe</h5> to our newsletter</a>
                            </div>

                            <!--Social info area-->
                            <ul class="social">
                                <li class="skype">
                                    <a href="#" title="Skype"><i class="icon-skype"></i></a>
                                </li>
                                <li class="facebook">
                                    <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                                </li>
                                <li class="googleplus">
                                    <a href="#" title="Google+"><i class="icon-gplus"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                                </li>
                                <li class="vimeo">
                                    <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="#" title="YouTube"><i class="icon-play"></i></a>
                                </li>
                                <li class="flickr">
                                    <a href="#" title="Flickr"><i class="icon-flickr"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </footer>

        </div>
        <!-- #Wrapper -->
        <!-- JS -->

        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

        <script type="text/javascript" src="js/mfn.menu.js"></script>
        <script type="text/javascript" src="js/jquery.plugins.js"></script>
        <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="js/animations/animations.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>

        <!-- Plugins -->
        <script type="text/javascript" src="plugin/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

        </div>
    

</body>

</html>