<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>


    <!-- Basic Page Needs -->
    <base href="/">
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ModaInk</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato:300'>

    <link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' id='global-css' href='css/global.css'>
    <link rel='stylesheet' id='style-static' href='css/wrapper.css'>
    <!--<link rel='stylesheet' href='plugin/jquery.modal/stylesheets/jquery.modal.css'>-->

    <link rel='stylesheet' id='structure-css' href='css/structure.css'>
    <link rel='stylesheet' id='local-css' href='css/shop.css'>
    <link rel="stylesheet" type="text/css" href="css/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugin/daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="plugin/datepicker/datepicker3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="plugin/iCheck/all.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="plugin/rs-plugin/css/settings.css">
    <link rel='stylesheet' id='custom-css' href='css/custom.css'>

    <style >

    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="js/satellizer.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/angular-filter.min.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <!-- Services -->
    <script type="text/javascript" src="js/services/HttpService.js"></script>
    <script type="text/javascript" src="js/services/StorageService.js"></script>
    <!-- Directives -->
    <script type="text/javascript" src="js/directives/elevateZoomDirective.js"></script>
    <script type="text/javascript" src="js/directives/ratingDirective.js"></script>
    <script type="text/javascript" src="js/directives/inputExtensionDirective.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/homeController.js"></script>
    <script type="text/javascript" src="js/controllers/designersController.js"></script>
    <script type="text/javascript" src="js/controllers/designerDetailsContoller.js"></script>
    <script type="text/javascript" src="js/controllers/productSearch.js"></script>
    <script type="text/javascript" src="js/controllers/designerLabelsController.js"></script>
    <script type="text/javascript" src="js/controllers/userProfileController.js"></script>
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/controllers/paymentsController.js"></script>
    <script type="text/javascript" src="js/controllers/cartController.js"></script>
</head>

<body ng-app="ModaInk" ng-controller="HomeController" class="template-slider layout-full-width header-modern sticky-header sticky-white subheader-title-left">
<!-- #Wrapper -->
<!-- Main Theme Wrapper -->

<nav class="navbar navbar-inverse navbar-fixed-top" id="responsive-header" role= "navigation" style="opacity: 0.8; z-index: 100; width:100%;">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img width="135px" height="42px" class="logo-main" src="images/logo.png" style="margin-top: -10px; margin-left: 20px;" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="background-color: black">
            <ul class="nav navbar-nav" style="cursor: pointer; font-size: 1.2em;">
                <li><a href="/#/products?exclusive=true" style="color: white;" class="nav_link">EXCLUSIVE</a></li>
                <li><a href="/#/designers" style="color: white;" class="nav_link">DESIGNERS</a></li>
                <li class="dropdown women"><a ui-sref="women" class="dropdown-toggle nav_link" data-toggle = "dropdown" style="color: white;" class="nav_link">WOMEN</b></a>
                    <ul class="dropdown-menu women-drop" style="opacity: 1; width: 800px;">

                        <li class="col-md-4 drop_head" ng-repeat="product in womenProducts | limitTo:1:0"><a style="color: white;" href="/#/products/women/{{product.name}}">{{product.name|uppercase}}</a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links"><a href="/#/products/women/{{product.name}}?subCategory={{subCat}}">
                                    {{subProduct.name}}</a></li>
                            </ul>
                        </li>
                        <li class="col-md-4 drop_head" ng-repeat="product in womenProducts | limitTo:1:1"><a style="color: white;" href="/#/products/women/{{product.name}}">{{product.name|uppercase}}</a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links"><a href="/#/products/women/{{product.name}}?subCategory={{subCat}}" >
                                    {{subProduct.name}}</a></li>
                            </ul>
                        </li>
                        <li class="col-md-4 drop_head" ng-repeat="product in womenProducts | limitTo:1:2"><a style="color: white;" href="/#/products/women/{{product.name}}">{{product.name|uppercase}}</a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links"><a href="/#/products/women/{{product.name}}?subCategory={{subCat}}">
                                    {{subProduct.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown men"><a ui-sref="men" class="dropdown-toggle nav_link" data-toggle = "dropdown" style="color: white;">MEN</a>
                    <ul class="dropdown-menu men-drop" style="background-color: black; width: 800px;">
                        <li class="col-md-4 drop_head" ng-repeat="product in menProducts | limitTo:1:0"><a style="color: white;" href="/#/products/men/{{product.name}}"><span>{{product.name|uppercase}}</span></a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links">
                                    <a href="/#/products/men/{{product.name}}?subCategory={{subCat}}"
                                    >  <span>{{subProduct.name}}</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-4 drop_head" ng-repeat="product in menProducts | limitTo:1:1"><a style="color: white;" href="/#/products/men/{{product.name}}">{{product.name|uppercase}}</a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links">
                                    <a href="/#/products/men/{{product.name}}?subCategory={{subCat}}"
                                    >  <span>{{subProduct.name}}</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-4 drop_head" ng-repeat="product in menProducts | limitTo:1:2"><a style="color: white;" href="/#/products/men/{{product.name}}">{{product.name|uppercase}}</a>
                            <ul ng-repeat="subProduct in product.subCategories" ng-init="subCat=subProduct.name.replace('&','%26')">
                                <li class="drop_links">
                                    <a href="/#/products/men/{{product.name}}?subCategory={{subCat}}"
                                    >  <span>{{subProduct.name}}</span></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a ui-sref="accessories" style="color: white;" class="nav_link">ACCESSORIES</a></li>
                <li><a ui-sref="footwear" style="color: white;" class="nav_link">FOOTWEAR</a></li>
                <li><a ui-sref="customization" style="color: white;" class="nav_link">CUSTOMIZATION</a></li>
            </ul>
            <ul class="right_buttons nav navbar-nav navbar-right" style="font-size: 1.3em;">
                <li class="dropdown nav_button user"><a ui-sref="#" class="dropdown-toggle user nav_button" data-toggle = "dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu user-drop" style="background-color: black;" >
                        <div ng-hide="userLoggedIn">
                            <li class="your_account-li"><a class="your_account-a" href="">Your Account</a></li>
                            <li class="divider"></li>
                            <li style="margin-left: 15%;"><button style="background-color: rgb(180,157,107); color: white;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#loginModal">LOG IN</button><button class="btn btn-default btn-sm" data-toggle="modal" data-target="#registerModal" style="background-color: rgb(180,157,107); color: white;">SIGN UP</button></li>
                        </div>
                        <div ng-show="userLoggedIn">
                            <li ><a href="/#/myProfile/accountInformation">{{userName}}</a></li>
                            <li ><a href="/#/myProfile/accountInformation">{{userDetails.email}}</a></li>
                            <li class="divider"></li>
                            <li ><a href="/#/myProfile/myOrders">My Orders</a></li>
                            <li ><a href="/#/myProfile/wishlist">My wishlist</a></li>
                            <li ><a href="/#/myProfile/addresBook">Saved addresses</a></li>
                            <li ><a href="/#/myProfile/rewards">User badges</a></li>
                            <li class="divider"></li>
                            <!--<li ><a href="/#/myProfile/edit">Edit Profile</a></li>-->
                            <li ><a href="" ng-click="logout()">Logout</a></li>
                        </div>


                    </ul>
                </li>
                <li class="btn-search" id="search_button" style="cursor: pointer;"><a ui-sref="#" class="nav_button search"><span class="glyphicon glyphicon-search"></span></a></li>
                <li class="nav_button bag" ><a ng-click="openMyCart()" class="nav_button"><i style="color:white;" class="fa fa-shopping-bag"></i><span class="shop-badge badge">{{shoppingcartItemCount}}</span></a></li>
            </ul>
            <div class="search_wrapper" style="background-color:rgb(0,0,0)">
                <!-- #searchform -->
                <form method="get" id="searchform" action="#">
                    <i class="icon_search icon-search"></i>
                    <a style="right: " href="#" class="icon_close"><i style="color: white;" class="icon-cancel"></i></a>
                    <input autocomplete="off" ng-change="searchAllProducts($searchAllProducts)" ng-model="$searchAllProducts" type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                    <input type="button" class="submit flv_disp_none" value="" />
                    <ul>
                        <li ng-if="productSearchBrands.length">Brand
                            <ul>
                                <li ng-repeat="brand in productSearchBrands" ng-click="showBrand(brand)">{{brand}} </li>
                            </ul>
                        </li>
                        <li ng-if="productSearchResult.length">Products
                            <ul>
                                <li ng-repeat="product in productSearchResult" ng-click="showProduct(product)">{{product.styleName}} </li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</nav>

<div ng-include src="'views/login.html'" ng-controller="LoginController"></div>
<!-- #Content -->
<!-- Main Content -->
<div ui-view  autoscroll="true"></div>

<!-- #Footer -->
<!-- Footer-->
<div class="footer-blog">
    <a id="back_to_top" href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
    <div ng-include src="'views/footer.html'"></div>
</div>


<!-- #Wrapper -->
<!-- JS -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/mfn.menu.js"></script>
<script type="text/javascript" src="js/jquery.plugins.js"></script>
<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="js/animations/animations.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/jquery.elevateZoom-3.0.8.min.js"></script>

<!-- Plugins -->
<!--<script type="text/javascript" src="plugin/jquery.modal/javascripts/jquery.modal.js"></script>-->

<script type="text/javascript" src="plugin/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="plugin/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>

<script src="plugin/input-mask/jquery.inputmask.js"></script>
<script src="plugin/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="plugin/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="plugin/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="plugin/datepicker/bootstrap-datepicker.js"></script>

<script>
    showLoginPopup = function () {
        $('#loginModal').modal();
    }
    $('.btn-search').on('click', function(e){
        e.preventDefault();
        $('.searchbar').slideToggle(300, function(){
            // callback after search bar animation
        });
    });
    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });


    $(document).on('click',function(){
        $('.navbar-collapse').collapse('hide');
    })
</script>
</body>
</html>