<link rel="stylesheet" href="../../../../Downloads/actiwate-10-feb/css/styles.css">
<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix" style=" margin-bottom: 10%;">

		<section class="teamContainer padding-bottom-3x padding-top-3x">



			<div class="column one column_fancy_heading ">
				<div class="fancy_heading fancy_heading_arrows">
					<!-- Animated area -->
					<div class="animate" data-anim-type="zoomIn">
						<h3 ><i class="icon-right-dir"></i>About Us<i class="icon-left-dir"></i></h3>
					</div>
				</div>
			</div>

			<h4 class="block-title text-center">
				Modaink is a step forward to bring to the
				people the various designers, labels and
				craftsmen at a single place, easily accessible to
				rest of the world. We are striving to bring in
				the best of bespoke shopping experience at
				your fingertips. The design, the collections and
				the products speak out to the people who
				wish to stand out from the crowd.


			</h4>

			<br><br>
			<div class="column one column_fancy_heading ">
				<div class="fancy_heading fancy_heading_arrows">
					<!-- Animated area -->
					<div class="animate" data-anim-type="zoomIn">
						<h3 ><i class="icon-right-dir"></i>Our team<i class="icon-left-dir"></i></h3>
					</div>
				</div>
			</div>
			<br>
			<div class="row padding-top">
				<div class="col-lg-3 col-sm-6">
					<div class="teammate-1 text-center">
						<div class="thumbnail">
							<div class="flipper">
								<div class="front">
									<img src="images/team/Nitesh Kumar Pal.jpg" alt="Team" style="height:250px;width:250px">
								</div>
								<div class="back">
									<p class="padding-top">Leading the creative herd. <br> <b>Previously worked at:</b><br/> GAP Inc., India <br/> Gienchi, Italy <br/>Uei Camilo, Italy</p>
									<div class="social-bar">
										<a href="https://www.linkedin.com/in/.." class="sb-skype" data-toggle="tooltip" title="Linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
										<a href="https://www.facebook.com/.." class="sb-facebook" data-toggle="tooltip" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>

									</div>
								</div>
							</div>
						</div>
						<h3 class="teammate-name">Nitesh Kumar Pal</h3>
						<p>Founder & Managing Partner</p>
					</div>
				</div>
				<!-- Teammate -->
				<div class="col-lg-3 col-sm-6">
					<div class="teammate-1 text-center">
						<div class="thumbnail">
							<div class="flipper">
								<div class="front">
									<img src="images/team/Akshay Visen.jpg" alt="Team" style="height:250px;width:250px">
								</div>
								<div class="back">
									<p class="padding-top">High on energy and filled with ideas.<br> <b>Previously worked at:</b><br/> GLIX, Italy</p>
									<div class="social-bar">
										<a href="https://www.linkedin.com/in/https://www.linkedin.com/in/akshay-singh-172458b7/" class="sb-skype" data-toggle="tooltip" title="Linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
										<a href="https://www.facebook.com/https://www.facebook.com/akshay.visen?fref=ts" class="sb-facebook" data-toggle="tooltip" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>

									</div>
								</div>
							</div>
						</div>
						<h3 class="teammate-name">Akshay Visen</h3>
						<p>Co-Founder & PR Manager</p>
					</div>
				</div>
				<!-- Teammate -->
				<div class="col-lg-3 col-sm-6">
					<div class="teammate-1 text-center">
						<div class="thumbnail">
							<div class="flipper">
								<div class="front">
									<img src="images/team/Pooja Rawat.jpg" alt="Team" style="height:250px;width:250px">
								</div>
								<div class="back">
									<p class="padding-top"><br> Infectious Smile and Always spreading positive Vibes.<br> <b>Previously worked at:</b><br/> Tommy Hilfiger, India <br/> Adidas, India <br/> Jabong, India</p>
									<div class="social-bar">
										<a href="https://www.linkedin.com/in/https://www.linkedin.com/in/pooja-rawat-b3025a45/" class="sb-skype" data-toggle="tooltip" title="Linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
										<a href="https://www.facebook.com/https://www.facebook.com/pooja1804?ref=br_rs" class="sb-facebook" data-toggle="tooltip" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>

									</div>
								</div>
							</div>
						</div>
						<h3 class="teammate-name">Pooja Rawat</h3>
						<p>Co-Founder & Relationships Manager</p>
					</div>
				</div>
				<!-- Teammate -->
				<div class="col-lg-3 col-sm-6">
					<div class="teammate-1 text-center">
						<div class="thumbnail">
							<div class="flipper">
								<div class="front">
									<img src="images/team/Niti Singhal.jpg" alt="Team" style="height:250px;width:250px">
								</div>
								<div class="back">
									<p class="padding-top">Superhero with high design sense. <br> <b>Previously worked at:</b><br/> Jato, Italy <br> Twee, India <br>Kalash Kriti, India</p>
									<div class="social-bar">
										<a href="https://www.linkedin.com/in/https://www.linkedin.com/in/niti-singhal-182690b4/" class="sb-skype" data-toggle="tooltip" title="Linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
										<a href="https://www.facebook.com/https://www.facebook.com/niti.singhal.52?fref=ts" class="sb-facebook" data-toggle="tooltip" title="Facebook">
											<i class="fa fa-facebook"></i>
										</a>

									</div>
								</div>
							</div>
						</div>
						<h3 class="teammate-name">Niti Singhal</h3>
						<p>Design Head</p>
					</div>
				</div>

</div>
			<br><br>
			<div class="column one column_fancy_heading ">
				<div class="fancy_heading fancy_heading_arrows">
					<!-- Animated area -->
					<div class="animate" data-anim-type="zoomIn">
						<h3 ><i class="icon-right-dir"></i>Our Mission<i class="icon-left-dir"></i></h3>
					</div>
				</div>
			</div>

			<h4 class="block-title text-center">
				To Create an exclusive space for the people who love and admire creativity of the young and new talent in the fields of faishon and lifestyles


			</h4>
		</section><!-- .container -->
	
	</div>
</div>	