<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    	<!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px; ">
			<div class="col-md-4" style="height: 100px; padding: 10px" >
                <a href="/products" target="_top"><img src="images/Accessories/bags.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/scraves.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/jewellery.jpg"></a>
			</div>
			
			
		</div>
		<div class="row" style="margin: 30px;">
			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/socks.png"></a>
            </div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/belts.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/head_accessories.jpg"></a>
			</div>
        </div>
        <div class="row" style="margin: 30px;">

			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/formal_accessories.jpg"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/sunglasses.jpg"></a>
			</div>

            <div class="col-md-4" style="height: 100px; padding: 10px">
                <a href="/products" target="_top"><img src="images/Accessories/stationary.jpg"></a>
            </div>
		</div>


		<div style="padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    text-align: center;
                    }">
                <h1 style="    
                font-size: 40px; text-decoration: underline;">What To Buy</h1>
        </div>

        <div class="row" style="margin:30px;">
        <div class="col-md-4" style="border-top: 2px solid #181818;">
	        <div class="accessories_whatToBuy">
	        	<h3>Handbags</h3>
	        	<hr>
                <a href="/products" target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a href="/products" target="_top"><img src="images/Accessories/accessories_2.png"></a>
	        	
        </div>
        <div class="col-md-4" style="border-bottom:2px solid #181818;">

            <a href="/products" target="_top"><img src="images/Accessories/accessories_1.jpg"></a>
        	<div class="accessories_whatToBuy">
	        	<h3>Jewellery</h3>
	        	<hr>
                <a href="/products" target="_top"><h3>SHOP NOW</h3></a>
	        </div>
        	
        </div>
        <div class="col-md-4" style="border-top: 2px solid #181818;">
        <div class="accessories_whatToBuy formal_accessories_label">
	        	<h3>Formal Accessories</h3>
	        	<hr>
            <a href="/products" target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a href="/products" target="_top"><img src="images/Accessories/accessories_3.jpg"></a>
        </div>
        	
        </div>

         <div class="column one column_fancy_heading ">
	        <div class="fancy_heading fancy_heading_arrows">
	            <!-- Animated area -->
	            <div class="animate" data-anim-type="zoomIn">
	                <h2 class="title"><i class="icon-right-dir"></i>Trending<i class="icon-left-dir"></i></h2>
                    <a href="/products" target="_top"><h6>Show All</h6></a>
	            </div>
	        </div>
	    </div>
                                    <!-- One full width row-->
        <div class="column one column_shop_slider ">
            <div class="shop_slider">
                <div class="blog_slider_header">
                    <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                </div>
                <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    
                   
                </ul>
                <div class="slider_pagination"></div>
            </div>
        </div>

        <div class="column one column_fancy_heading ">
	        <div class="fancy_heading fancy_heading_arrows">
	            <!-- Animated area -->
	            <div class="animate" data-anim-type="zoomIn">
	                <h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>
                    <a href="/products" target="_top"><h6>Show All</h6></a>
	            </div>
	        </div>
	    </div>
                                    <!-- One full width row-->
        <div class="column one column_shop_slider ">
            <div class="shop_slider">
                <div class="blog_slider_header">
                    <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                </div>
                <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    
                   
                </ul>
                <div class="slider_pagination"></div>
            </div>
        </div>

         <div> 
                    <a href="/sale"><img src="images/discount.png"></a>
                </div>
    </div>
</div>
