<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    	<!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px; margin-bottom: 0px;">
			<div class="col-md-3" style="padding: 10px" >
				<a href=""><img src="images/bags.png"></a>
			</div>
			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/scraves.png"></a>
			</div>
			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/jewellery.jpg"></a>
			</div>
			<div class="col-md-3" style="padding: 10px">
				<a href="/footwear/heals"><img src="images/socks.png"></a>
			</div>
			
		</div>
		<div class="row" style="margin: 30px; margin-top: 0px;">
			

			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/belts.png"></a>
			</div>

			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/head_accessories.jpg"></a>
			</div>

			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/formal_accessories.jpg"></a>
			</div>

			<div class="col-md-3" style="padding: 10px">
				<a href=""><img src="images/sunglasses.jpg"></a>
			</div>

		</div>


		<div style="padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    text-align: center;
                    }">
                <h1 style="    
                font-size: 40px; text-decoration: underline;">What To Buy</h1>
        </div>

        <div class="row" style="margin:30px;">
        <div class="col-md-4" style="border-top: 2px solid #181818;">
	        <div class="accessories_whatToBuy">
	        	<h3>Handbags</h3>
	        	<hr>
	        <a href=""><h3>SHOP NOW</h3></a>
	        </div>
	        <img src="images/accessories_2.png">
	        	
        </div>
        <div class="col-md-4" style="border-bottom:2px solid #181818;">
        	
        	<img src="images/accessories_1.jpg">
        	<div class="accessories_whatToBuy">
	        	<h3>Jewellery</h3>
	        	<hr>
	        	<a href=""><h3>SHOP NOW</h3></a>
	        </div>
        	
        </div>
        <div class="col-md-4" style="border-top: 2px solid #181818;">
        <div class="accessories_whatToBuy formal_accessories_label">
	        	<h3>Formal Accessories</h3>
	        	<hr>
	        <a href=""><h3>SHOP NOW</h3></a>
	        </div>
        	<img src="images/accessories_3.jpg">
        </div>
        	
        </div>

         <div class="column one column_fancy_heading ">
	        <div class="fancy_heading fancy_heading_arrows">
	            <!-- Animated area -->
	            <div class="animate" data-anim-type="zoomIn">
	                <h2 class="title"><i class="icon-right-dir"></i>Trending<i class="icon-left-dir"></i></h2>
	            </div>
	        </div>
	    </div>
                                    <!-- One full width row-->
        <div class="column one column_shop_slider ">
            <div class="shop_slider">
                <div class="blog_slider_header">
                    <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                </div>
                <ul class="shop_slider_ul">
                    <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-album-1.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-album-1.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-79 product type-product status-publish has-post-thumbnail product_cat-ballet-pumps product_cat-belts product_cat-jeans-clothing-for-her-for-him product_cat-shorts product_cat-slippers shipping-taxable purchasable product-type-simple product-cat-ballet-pumps product-cat-belts product-cat-jeans-clothing-for-her-for-him product-cat-shorts product-cat-slippers instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-ninja-3.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-ninja-3.html">Woo Logo</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-76 product type-product status-publish has-post-thumbnail product_cat-hats-caps product_cat-hats-caps-accessories product_cat-jackets product_cat-sunglasses-accessories-for-him shipping-taxable purchasable product-type-simple product-cat-hats-caps product-cat-hats-caps-accessories product-cat-jackets product-cat-sunglasses-accessories-for-him instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-ninja-3.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-ninja-3.html">Woo Ninja</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-73 product type-product status-publish has-post-thumbnail product_cat-ankle-boots product_cat-rucksacks-accessories product_cat-sunglasses-accessories-for-him product_cat-t-shirts sale shipping-taxable purchasable product-type-simple product-cat-ankle-boots product-cat-rucksacks-accessories product-cat-sunglasses-accessories-for-him product-cat-t-shirts instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-flying-ninja.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div><span class="onsale"><i class="icon-star"></i></span>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-flying-ninja.html">Premium Quality</a></h4><span class="price"><del><span class="amount">Rs. 1500</span>
                                </del> <ins><span class="amount">Rs. 1200</span></ins>
                                </span>
                            </div>
                        </div>
                    </li>
                   
                </ul>
                <div class="slider_pagination"></div>
            </div>
        </div>

        <div class="column one column_fancy_heading ">
	        <div class="fancy_heading fancy_heading_arrows">
	            <!-- Animated area -->
	            <div class="animate" data-anim-type="zoomIn">
	                <h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>
	            </div>
	        </div>
	    </div>
                                    <!-- One full width row-->
        <div class="column one column_shop_slider ">
            <div class="shop_slider">
                <div class="blog_slider_header">
                    <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                </div>
                <ul class="shop_slider_ul">
                    <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-album-1.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-album-1.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-79 product type-product status-publish has-post-thumbnail product_cat-ballet-pumps product_cat-belts product_cat-jeans-clothing-for-her-for-him product_cat-shorts product_cat-slippers shipping-taxable purchasable product-type-simple product-cat-ballet-pumps product-cat-belts product-cat-jeans-clothing-for-her-for-him product-cat-shorts product-cat-slippers instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-ninja-3.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-ninja-3.html">Woo Logo</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-76 product type-product status-publish has-post-thumbnail product_cat-hats-caps product_cat-hats-caps-accessories product_cat-jackets product_cat-sunglasses-accessories-for-him shipping-taxable purchasable product-type-simple product-cat-hats-caps product-cat-hats-caps-accessories product-cat-jackets product-cat-sunglasses-accessories-for-him instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-woo-ninja-3.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-ninja-3.html">Woo Ninja</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                            </div>
                        </div>
                    </li>
                    <li class="post-73 product type-product status-publish has-post-thumbnail product_cat-ankle-boots product_cat-rucksacks-accessories product_cat-sunglasses-accessories-for-him product_cat-t-shirts sale shipping-taxable purchasable product-type-simple product-cat-ankle-boots product-cat-rucksacks-accessories product-cat-sunglasses-accessories-for-him product-cat-t-shirts instock">
                        <div class="item_wrapper">
                            <div class="image_frame scale-with-grid product-loop-thumb">
                                <div class="image_wrapper">
                                    <a href="content/shop/product-flying-ninja.html">
                                        <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                    </a>
                                    
                                </div><span class="onsale"><i class="icon-star"></i></span>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-flying-ninja.html">Premium Quality</a></h4><span class="price"><del><span class="amount">Rs. 1500</span>
                                </del> <ins><span class="amount">Rs. 1200</span></ins>
                                </span>
                            </div>
                        </div>
                    </li>
                   
                </ul>
                <div class="slider_pagination"></div>
            </div>
        </div>
    </div>
</div>
