<div id="Content" ng-show="paymentStep==0" class="without_headers">
	<div class="content_wrapper clearfix" style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%;">
	<nav class="stepper">
		<div class="stepper__rule" style="left: 15%; right: 65%;"></div>
		<div class="stepper__rule" style="left: 40%; right: 40%;"></div>
		<div class="stepper__rule" style="left: 65%; right: 15%;"></div>
			<a class="stepper__step stepper__step--active" ui-sref="cart" style="width: 25%;">
				<span class="stepper__step-badge">1</span>
				<span class="stepper__step-title">Bag</span>
			</a>
			<a class="stepper__step stepper__step--active"   style="width: 25%;">
				<span class="stepper__step-badge">2</span>
				<span class="stepper__step-title">Delivery Address</span>
			</a>
			<a class="stepper__step stepper__step--incomplete" style="width: 25%; text-decoration: none;" disabled>
				<span class="stepper__step-badge">3</span>
				<span class="stepper__step-title">Payment</span>
			</a>
			<a class="stepper__step stepper__step--incomplete" style="text-decoration: none; width: 25%;" disabled>
				<span class="stepper__step-badge">4</span>
				<span class="stepper__step-title">Review</span>
			</a>
		</nav>
		<div class="billing-address">

			
			<div class="row">
				<div class="col-lg-4 col-sm-12 ">
				<h3>BILLING ADDRESS</h3>
				</div>
				<div class="col-lg-4 col-sm-12">
					
				</div>
				<div>
					<div class="desktop_version button_wrap billing-buttons-container">
			        <a ui-sref="cart"  ><button type="submit" class="button back_btn alt-action"><span style="font-size: 20px;">Back</span></button></a>
			        <a href="" ng-click="makePayment()"><button type="submit" class="button "><span style="font-size: 20px;">Continue</span></button></a>
			     </div>
				</div>
			</div>
			<div class="row">
			<div id="existing_address">
				<div ng-repeat="address in addresses track by address.id" class="col-lg-6 col-sm-12 savedAdddress">
					<div class="billing-left radio_btn_wrapper">
            			<label for="billing:use_for_shipping_yes{{address.id}}" >
			            <input type="radio" ng-model="selectedAddress" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes{{address.id}}"  ng-value="address.id" title="Ship to this address" style="display: inline-flex;">
			            <span style="display: block; font-weight: bold">{{address.type}}</span>
			            <span style="display: block; font-weight: bold; padding: 3% 0%;">{{address.fullName}}</span>
			            <span style="display: block; ">{{address.line1}} , {{address.line2}}</span>
			            <span style="display: block; ">{{address.landmark}}</span>
			            <span style="display: block; ">{{address.city}} - {{address.pincode}}</span>
			            <span style="display: block; ">Mobile:  {{address.mobile}}</span>
			            </label>
			        </div>
				</div>
			</div>
			</div>
			<div ng-click="showAddAddress?showAddAddress=false:showAddAddress=true" ng-hide="showAddAddress"><span class="fa fa-2x fa-plus-circle" aria-hidden="true"> Add new address</span></div>
			<div ng-if="showAddAddress || addresses.length == 0 ">
				<h3> NEW BILLING ADDRESS</h3>
				<div ng-include src="'views/add-new-address-partial.html'"></div>
			</div>

		</div>
	</div>
</div>


