<div ng-controller="UserProfileController" id="Content" class="without_headers"  style="min-height: 250px;">
	<div class="content_wrapper clearfix" style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%;">

		<div ng-show = "cartItems.length == 0">
			<h3>You have 0 items in your cart.</h3>
			<hr/>
			<div class="continue-shopping">
				<a href="/"><button id="continue-shopping" class="alt-action" >Continue Shopping <i class="icon-cart"></i></button></a>
			</div>
		</div>
	<nav ng-if="cartItems.length > 0" class="stepper">
		<div class="stepper__rule" style="left: 15%; right: 65%;"></div>
		<div class="stepper__rule" style="left: 40%; right: 40%;"></div>
		<div class="stepper__rule" style="left: 65%; right: 15%;"></div>
			<a class="stepper__step stepper__step--active" href="/#/checkout/cart" style="width: 25%; text-decoration: none">
				<span class="stepper__step-badge">1</span>
				<span class="stepper__step-title">Bag</span>
			</a>
			<a class="stepper__step stepper__step--incomplete" style="width: 25%; text-decoration: none" disabled>
				<span class="stepper__step-badge">2</span>
				<span class="stepper__step-title">Delivery Address</span>
			</a>
			<a class="stepper__step stepper__step--incomplete" style="width: 25%; text-decoration: none" disabled>
				<span class="stepper__step-badge">3</span>
				<span class="stepper__step-title">Payment</span>
			</a>
			<a class="stepper__step stepper__step--incomplete" style="width: 25%; text-decoration: none" disabled>
				<span class="stepper__step-badge">4</span>
				<span class="stepper__step-title">Review</span>
			</a>
		<hr>

	</nav>

		<div  ng-if="cartItems.length > 0 " id="left" style=" padding-right: 5%; border-right: 1px solid rgba(0,0,0,.08); " class="col-lg-8">
			<h4 style="display: inline-block;n">My Shopping Bag ({{cartItems.length}} item)</h4>
			<h4 style="float: right;"> Total: {{totalPrice}}</h4>	
			<hr>

			<div class="prod-set">
				<div ng-repeat="cartItem in cartItems" class="b-white row prod-item br-b-grey">
					<div class="col1">
						<a href="/#/product-details/{{cartItem.product.id}}/{{cartItem.product.designer.id}}" >
							<img ng-src="{{cartItem.product.previewImage}}" alt="{{cartItem.product.productName}}" width="96" height="128">
						</a>
					</div>
					<div class="col2">
						<div class="prod-name">
							<a href="">{{cartItem.product.productName}}</a>
							<span style="float: right; padding-right: 10%">Rs. {{cartItem.product.price-cartItem.product.discountPrice}}</span>
						</div>
						<div class="size/qty">
							<div ng-repeat="variant in cartItem.product.variantValues">
								<span >{{variant.variant.name}}: {{variant.description}}</span>
							</div>
							<span >Qty: {{cartItem.quantity}}</span>
							<span style="float: right; padding-right: 10%" ng-if="cartItem.product.discountPrice!=0"> <span>({{(cartItem.product.discountPrice/cartItem.product.price)*100 | number: 2}}% OFF) |</span> <span style="color: red; text-decoration: line-through;"> Rs. {{cartItem.product.price}}</span> </span>
						</div>
						<div class="designer" style="padding-top: 2%">
							<span >Sold By: {{cartItem.product.brandName}}</span>
						</div>
						<div class="edit">
							<a href=""> <i class="icon-pencil"></i>Edit Item</a>
							<a href="" ng-click="addItemToWishList(cartItem.product.id)"> <i class="icon-heart-empty-fa"></i>Save for later</a>
							<a href="" style="float: right;"><i class="icon-cancel"></i> Remove</a>
						</div>
					</div>
				</div>
				<div class="continue-shopping">
				<a href="/"><button id="continue-shopping" class="alt-action" >Continue Shopping <i class="icon-cart"></i></button></a>
			</div>
			</div>
			
		</div>

		<div ng-if="cartItems.length > 0" id="right">

				<div  style="margin-left: : 10px;">PRICE DETAILS</div>

				<div class="order-summary-span ">
					<div>
	              		<label>Bag Total</label>
	              		<span>Rs. {{totalPrice}} </span>
              		</div>
              		<div>
	              		<label>Bag Discount</label>
	              		<span class="value greenrupees c-green">Rs. {{totalDiscount}}</span>
              		</div>
              		<div class="sub-total">
	              		<label>Sub Total</label>
	              		<span class="item-total red">Rs. {{subTotal}}</span>
              		</div>
              		<div class="vat">
	              		<label>Estimated VAT/CST<div class="vathint"></div></label>
	              		<span class="vat-fee">Rs. {{vatPrice}}</span>
              		</div>

          			<div class="shipping">
          				<label>Delivery Charges</label>
  						<span class="shipping-fee red"><span class="shipping-charge">Rs. {{deliveryCharges}}</span></span>
					</div>
				</div>

				<div class="total-amount fw-600 c-dblue b-white br-b-grey">Order Total<span class="total-rupees fw-600 c-dblue">Rs. {{payableAmount}}</span></div>
				<div class="place-order">
				<a ng-click="moveToCheckout()"><button class="btn primary-btn btn-continue m-button clickable " style="margin-left: 15%; margin-top: 13%">PLACE ORDER<span class="proceed-icon"></span></button></a></div>
			</div>
</div>
            </div>

		</div>
