
<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix ">
		<div class="new-product-customize row" >
			<div class="col-lg-4 zoom-grid" >
				<div class="flexslider">
					
				<div class="flex-viewport" style="overflow: hidden; position: relative;">
				<img src="images/Products/si.jpg">
				</div>
				</div>
			</div>
			<div class="col-lg-8 dress-info custom-measurement">
				<div class = "container">
				  	<div class="panel-group" id="accordion">
				  		<div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          STEP 1: Choose your custom size:
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in">
						      <div class="panel-body">
						        <p>Good Fitting = Satisfaction. 
								Help us know your measurements.</p>
								<ul class="custom-size">
									<div class="row">
										<div class="col-lg-6">
											<li>
											<label>BUST</label>
											<input type="number" name="bust" min="20" max="100">
											<a href="" data-target="#bust" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
										</li>
										<li>
											<label>CHEST</label>
											<input type="number" name="chest" min="20" max="100">
											<a href="" data-target="#chest" data-toggle="modal"><i class="fa fa-info-circle"></i></a>
										</li>
										<li>
											<label>UNDER BUST</label>
											<input type="number" name="under-bust" min="20" max="100">
											<a href=""><i class="fa fa-info-circle"></i></a>
										</li>
										</div>
										<!-- <div class="col-lg-1">
											
										</div> -->
										<div class="col-lg-6">
											<li>
											<label>SHOULDER</label>
											<input type="number" name="shoulder" min="10" max="25">
											<a href=""><i class="fa fa-info-circle"></i></a>
										</li>
										<li>
											<label>UPPER ARM</label>
											<input type="number" name="upper-arm" min="9" max="100">
											<a href=""><i class="fa fa-info-circle"></i></a>
										</li>
										<li>
											<label>WAIST</label>
											<input type="number" name="waist" min="20" max="100">
											<a href=""><i class="fa fa-info-circle"></i></a>
										</li>
										</div>
										
									</div>
								
									
								</ul>
						      </div>
						    </div>
				  		</div>
					  	<div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          STEP 2: Customize it to your style:
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        <h4>Make it fit your style.</h4>
						        <p>Pick a Sleeve Type</p>
						        <ul class="custom-look row">
						        	<li id="SleeveTypesAs-Shown" class="col-md-2" onclick="">
						        		<img src="images/Customization/As Shown.jpg">
						        		<span>AS SHOWN</span>
						        	</li>
						        	<li id="SleeveTypesCapsleeve" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Capsleeve.jpg">
						        		<span>CAPSLEEVE</span>
						        	</li>
						        	<li id="SleeveTypesBracelet-length" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Bracelet length.jpg">
						        		<span>BRACELET LENGTH</span>
						        	</li>
						        	<li id="SleeveTypesInset-cap" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Inset cap.jpg">
						        		<span>INSET CAP</span>
						        	</li>
						        	<li id="SleeveTypesLong-length" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Long length.jpg">
						        		<span>LONG LENGTH</span>
						        	</li>
						        	<li id="SleeveTypesShort-length" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Short length.jpg">
						        		<span>SHORT LENGTH</span>
						        	</li>
					        	</ul>
					        	<ul class="custom-look row">
					        		<li id="SleeveTypesSleeveless" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Sleeveless.jpg">
						        		<span>SLEEVELESS</span>
						        	</li>
						        	<li id="SleeveTypesThree-quarter-length" class="col-md-2" onclick="">
						        		<img src="images/Customization/sleeves/Three quarter length.jpg">
						        		<span>THREE QUATER</span>
						        	</li>
					        	</ul>

					        	<p>Whats the Length you want</p>
						        <ul class="custom-look row">
						        	<li id="SleeveTypesAs-Shown" class="col-md-2" onclick="">
						        		<img src="images/Customization/As Shown.jpg">
						        		<span>AS SHOWN</span>
						        	</li>
						        	<li id="SleeveTypesCapsleeve" class="col-md-2" onclick="">
						        		<img src="images/Customization/shirt-length/Above hip length.jpg">
						        		<span>CAPSLEEVE</span>
						        	</li>
						        	<li id="SleeveTypesBracelet-length" class="col-md-2" onclick="">
						        		<img src="images/Customization/shirt-length/Low hip length.jpg">
						        		<span>BRACELET LENGTH</span>
						        	</li>
						        	<li id="SleeveTypesInset-cap" class="col-md-2" onclick="">
						        		<img src="images/Customization/shirt-length/Mid-thigh length.jpg">
						        		<span>INSET CAP</span>
						        	</li>
						      </div>
						    </div>
					    </div>
					  	<div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						          STEP 3: Whats your Height:
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						        <div class="panel-body  custom-size">
						      		<p>Let us know your height </p>
						        	<label>HEIGHT</label>
									<input type="number" name="height" min="90" max="300"> (In CM)
						        </div>
					    	</div>
			  			</div>
					</div>
				</div>
				<div ng-include src="'views/custom-size-modals.html'"></div>
				<div class="purchase">
						<a href="/checkout/cart"><button class="btn btn-sm "> Add to Shopping Bag </button></a>
						<a href="/product-details"><button class="btn btn-sm ">Cancel</button></a>
						
						<div>
						<span>7 Reviews &nbsp;&nbsp; </span> <span style="font-weight: bold;"> |  &nbsp;&nbsp; <a href="">Write a review </a></span>
					</div>
			</div> <!-- end container -->
		</div>
		
		
	</div>	
</div>	