<div id="bust" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	      	</div>
	      	<div class="modal-body row">
				<img src="images/Customization/custom-size/HTM_bust.jpg">
			</div>
		</div>
	</div>
</div>
<div id="chest" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	      	</div>
	      	<div class="modal-body row">
				<img src="images/Customization/custom-size/HTM_Chest.jpg">
			</div>
		</div>
	</div>
</div>