<div class="mfn-main-slider">
                    <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
                        <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="max-height:500px;height:500px;">
                                    <!-- MAIN IMAGE -->
                                    <img src="images/Customization/Customisation-How-it-Works.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" style="visibility: visible;     width: 100%;">
                        </div>
                    </div>
                </div>
<div id="Content">
    <div class="content_wrapper clearfix">

		<div style="padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    }">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline;">How It Works?</h1>
        </div>

        <!-- image size: 429 X 435--> 
 		<div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; ">
                <div style="    text-align: center;">
	                    <img src="images/Customization/customize1.png" alt=""> 
                </div>
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right; border-top: 2px solid #181818; height: 450px;" >
                
                <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">PICK A DESIGN</h1>
	                    <hr/>
	                    <h3>Select a design, which you dreaam to have in your wardrobe. </h3>
	                </div>

	                
            	</div>
                
            </div>            
        </div>

        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px;">

             <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">SELECT THE CHANGE</h1>
	                    <hr/>
	                    <h3>Your wish is our command. Select the changes which youn would like us to make. </h3>
	                </div>

	                
            	</div>
               
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px;" >
                
                <div style="    text-align: center;">
	                    <img src="images/Customization/customize2.png" alt=""> 
                </div>
                
            </div>            
        </div>

        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; ">
                <div style="    text-align: center;">
	                    <img src="images/Customization/customize3.png" alt=""> 
                </div>
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px;" >
                
                <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">CHOOSE THE BEST SIZE OR ENTER YOUR MEASUREMENTS</h1>
	                    <hr/>
	                    <h3> Good Fitting = Satisfaction. <br/> Help us know your measurements.
                        </h3>
	                </div>

	                
            	</div>
                
            </div>            
        </div>

       


        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; border-bottom: 2px solid #181818">
              <div style="    text-align: center; ">
                    <div style="    padding: 70px;
                                    margin-top: 60px;
                                }">
                        <h1 style="    font-weight: bolder;
                        font-size: 30px;">DELIVERED TO YOUR DOOR STEP</h1>
                        <hr/>
                        <h3>We hope to live upto your expectations. So be happy and enjoy the dress. </h3>
                         <a href="" class="btn btn-primary" style="background-color: #181818; font-size: 20px; font-weight: bold;"> SHOP NOW</a>
                    </div>

                </div>
               
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px; " >
                 <div style="    text-align: center;">
                        <img src="images/Customization/customize4.png" alt=""> 
                </div>
            </div>            
        </div>
    </div>
</div>