
<div id="Content" class=" woocommerce woocommerce-page with_aside aside_left without_headers">
		<div class="content_wrapper clearfix">

			<!-- .sections_group -->
			<div class="sections_group">
				<div class="section">
					<div class="section_wrapper clearfix">
						<div class="items_group clearfix">
							<!-- One full width row-->
		<div class="column one woocommerce-content">

								<div class="shop-filters">
									<p class="woocommerce-result-count">
										DESIGNER'S PRODUTS
									</p>


									
									<form class="woocommerce-ordering" method="get">
										
									<ul class="sort widget woocommerce">
									<label>Sort:</label>
										<li data-sortkey=":popularity">Popular</li>
										<li data-sortkey=":new">New</li>
										<li data-sortkey=":discount">Discount</li>
									<label>Price: </label>
										<li data-sortkey=":low">Low</li>
										<li data-sortkey=":high">High</li>
									</ul>
									</form>
								</div>


								<div class="products_wrapper ">
									<ul class="products ">

										

										<li class="product">

											<div class="image_frame	" >
												<div class="image_wrapper">
													<a href="product-ship-your-idea-2.html"><div class="mask"></div><img src="images/3-custom.jpg"></a>
													
												</div><span class="onsale"><i class="icon-star"></i></span><a href="product-ship-your-idea-2.html"></a>
											</div>
											<div class="desc">

												<h4><a href="product-ship-your-idea-2.html">Ship Your Idea</a></h4>

												<div >
													
												<span class="price"><span class="amount">Rs. 4500</span></span>

												</div>

											</div>

										</li>

										<li class="product" >

											<div class="image_frame	" >
												<div class="image_wrapper" >
													<a href="product-ship-your-idea-2.html"><div class="mask"></div><img src="http://assets.myntassets.com/h_307,q_95,w_230/v1/assets/images/1230054/2016/8/1/11470041645801-Roadster-Blue-Denim-Washed-Casual-Shirt-5301470041635589-1_mini.jpg"></a>
													
												</div><span class="onsale"><i class="icon-star"></i></span><a href="product-ship-your-idea-2.html"><span class="product-loading-icon added-cart"></span></a>
											</div>
											<div class="desc">

												<h4><a href="product-ship-your-idea-2.html">Mast &amp; Harbour</a></h4>

												<div>
													
												<span class="price"><span class="amount">Rs. 999</span></span>

												</div>

											</div>
										</li>


										<li class="product" >

											<div class="image_frame	" >
												<div class="image_wrapper" >
													<a href="product-ship-your-idea-2.html"><div class="mask"></div><img alt="Mast &amp; Harbour Women Navy Blue Striped Fit and Flare Dress" src="http://assets.myntassets.com/h_307,q_95,w_230/v1/assets/images/1385354/2016/9/6/11473164432781-Mast--Harbour-Women-Navy-Blue-Striped-Fit-and-Flare-Dress-7781473164432525-1_mini.jpg"></a>
													
												</div><span class="onsale"><i class="icon-star"></i></span><a href="product-ship-your-idea-2.html"><span class="product-loading-icon added-cart"></span></a>
											</div>
											<div class="desc">

												<h4><a href="product-ship-your-idea-2.html">Mast &amp; Harbour</a></h4>

												<div>
													
												<span class="price"><span class="amount">Rs. 999</span></span>

												</div>

											</div>

										</li>

										<li class="product" >

											<div class="image_frame	" >
												<div class="image_wrapper" >
													<a href="product-ship-your-idea-2.html"><div class="mask"></div><img src="http://www.kmozi.com/image/cache/products/new-designer-banglori-silk-pink-and-grey-embroidered-lehegha-choli-1623-250x300.jpg" title="New Designer Banglori Silk Pink And Grey Embroidered Lehegha Choli.." alt="New Designer Banglori Silk Pink And Grey Embroidered Lehegha Choli.."></a>
													
												</div><span class="onsale"><i class="icon-star"></i></span><a href="product-ship-your-idea-2.html"><span class="product-loading-icon added-cart"></span></a>
											</div>
											<div class="desc">

												<h4><a href="product-ship-your-idea-2.html">Mast &amp; Harbour</a></h4>

												<div>
													
												<span class="price"><span class="amount">Rs. 999</span></span>

												</div>

											</div>
										</li>


										<li class="product" >

											<div class="image_frame	" >
												<div class="image_wrapper" >
													<a href="product-ship-your-idea-2.html"><div class="mask"></div>
											<img alt="Sanwara Red &amp; Beige Patterned Kurta Pyjama"  src="http://assets.myntassets.com/h_307,q_95,w_230/v1/assets/images/1521259/2016/9/16/11474023494385-Sanwara-Men-Kurta-Pyjama-701474023494142-1_mini.jpg"></a>
													
												</div><span class="onsale"><i class="icon-star"></i></span><a href="product-ship-your-idea-2.html"><span class="product-loading-icon added-cart"></span></a>
											</div>
											<div class="desc">

												<h4><a href="product-ship-your-idea-2.html">Mast &amp; Harbour</a></h4>

												<div>
													
												<span class="price"><span class="amount">Rs. 999</span></span>

												</div>

											</div>
										</li>





									</ul>
								</div>

					</div>
				</div>
			</div>
		</div>
	</div>

			<!-- .four-columns - sidebar -->
			<!-- Sidebar area-->
		<div class="sidebar four-columns columns">
				<div class="widget-area clearfix ">




				<aside id="woocommerce_layered_nav_filters-2" class="widget woocommerce widget_layered_nav_filters">
					<span class="filter_title_not_collapswable" style="display: inline;">Active Filters </span><a style="font-size: x-small; float: right;">RESET ALL</a>

					<ul>
						<li class="chosen">
							<a title="Remove filter" href="/be/shop/product-category/for-her/accessories/bags-accessories/?max_price=20">Rs. 299.00 - Rs. 5000
							</a>
						</li>
						
					</ul>
				</aside>


				<aside class="basic_categorization widget woocommerce">
						<ul>
							<li ><a href="/exclusive" style="color: #c8a75e">All</a></li>
							<li><a href="/exclusive/men" >Men</a></li>
							<li><a href="/exclusive/women">Women</a></li>
						</ul>
					</aside>
					

					<aside class = "widget woocommerce">
						<div class="filter_title"> CATEGORIES </div>
						<ul>
						<li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Dresses</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Tops</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->

							<li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Tshirts</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Shirts</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Footwear</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Kurtas</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Accessories</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->
						    <li class="input-group">
						        <input type="checkbox" aria-label="...">
						        <label>Bootom Wear</label>
						        <span class="num">(120)</span>
						    </li><!-- /input-group -->

						    </ul>
  
					</aside>

					<aside class = "widget woocommerce" style="height: 120px;"">
						<div class="filter_title"> colour </div>
						<div>
						<ul >
							<li data-hint="mauve" data-filter="colour_family_list" data-option="mauve" data-num="7" data-colorhex="mauve" class="option hint--top color">
								<label title="mauve">
									<input type="checkbox" data-filter="colour_family_list" data-option="mauve" class="checkbox">
								</label>
							</li>

							<li data-hint="purple" data-filter="colour_family_list" data-option="purple" data-num="7" data-colorhex="purple" class="option hint--top color">
								<label title="purple">
									<input type="checkbox" data-filter="colour_family_list" data-option="purple" class="checkbox">
								</label>
							</li>

							<li data-hint="rose" data-filter="colour_family_list" data-option="rose" data-num="7" data-colorhex="rose" class="option hint--top color">
								<label title="rose">
									<input type="checkbox" data-filter="colour_family_list" data-option="rose" class="checkbox">
								</label>
							</li>

							<li data-hint="turquoise" data-filter="colour_family_list" data-option="turquoise" data-num="7" data-colorhex="turquoise" class="option hint--top color">
								<label title="turquoise">
									<input type="checkbox" data-filter="colour_family_list" data-option="turquoise" class="checkbox">
								</label>
							</li>





							<li data-hint="rose" data-filter="colour_family_list" data-option="rose" data-num="7" data-colorhex="rose" class="option hint--top color">
								<label title="rose">
									<input type="checkbox" data-filter="colour_family_list" data-option="rose" class="checkbox">
								</label>
							</li>
						</ul>
						<ul>

							<li data-hint="black" data-filter="colour_family_list" data-option="black" data-num="7" data-colorhex="black" class="option hint--top color">
								<label title="black">
									<input type="checkbox" data-filter="colour_family_list" data-option="black" class="checkbox">
								</label>
							</li>

							<li data-hint="white" data-filter="colour_family_list" data-option="white" data-num="7" data-colorhex="white" class="option hint--top color">
								<label title="white">
									<input type="checkbox" data-filter="colour_family_list" data-option="white" class="checkbox">
								</label>
							</li>
						</ul>
						</div>
					</aside>
					
					<aside id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
						<div class="filter_title">price</div>
						<form method="get" action="/">
							<div class="price_slider_wrapper">
								<div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%; height: 13px;"></div>
									<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
									<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
								</div>
								<div class="price_slider_amount"> <input type="text" id="min_price" name="min_price" value="" data-min="12" placeholder="Min price" style="display: none;"> 
									<input type="text" id="max_price" name="max_price" value="" data-max="35" placeholder="Max price" style="display: none;"> 
									<button type="submit" class="button">Filter</button>
									<div class="price_label" style=""> Price: <span class="from">Rs 599</span> — <span class="to">Rs 5000</span></div>
									<div class="clear"></div>
								</div>
							</div>
						</form>
					</aside>


					

					
					<aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
						<h3>Search Products</h3>
						<form role="search" method="get" class="woocommerce-product-search" action="#">
							<label class="screen-reader-text" for="s">Search for:</label>
							<input type="search" class="search-field" placeholder="Search Products&hellip;" value="" name="s" title="Search for:" />
							<input type="submit" value="Search" />
							<input type="hidden" name="post_type" value="product" />
						</form>
					</aside>
				</div>
			</div>

		</div>
	</div>
</div><!-- #Wrapper -->
