<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix">

		<div id="logo" class="menu">
			<a href="#editorial">
			<h1>Juttichoo</h1>
			<span>Diamond Designer</span>
			</a>
		</div>

		<div id="main">

		<div id="firstmenu" class="menu">
			<ul>
				<li class="cat" id="advertisingl"><a href="#advertisinga">Made To Order</a></li>
				<li class="cat active" id="customl"><a href="#custom">Customized Collection</a></li>
				<li class="cat active" id="customl"><a href="/designer/collections">Shop Now</a></li>
			</ul>
		</div>
				<div id="about" class="fotos">
					<ul>
						<li class="two ">
						<h2 style="padding-bottom: 30%">About</h2>

							<p>Since her 4-year study at the College of Fine Arts (Hochschule für Bildende Künste) Dresden Judith Kröher works as a freelance makeup artist and hairstylist. With great attention to detail she has worked in film / television, advertising, theater / opera and photography. Her work is characterized by background, personality, character and passion. Judith Kröher lives and loves her job.</p>

						</li>
					<li class="four"><img alt="Judith Kroeher" src="images/Designers/judith.jpg"></li>
					</ul>
				</div>
		
				<div id="advertisinga" class="fotos">
					<ul>
					<li class=" three"><img alt="Judith Kroeher" src="images/Products/lahenga-1-custom.jpg"></li>
					<li class=" three"><img alt="Judith Kroeher" src="images/Products/3-custom.jpg"></li>
					<li class="four"><img alt="Judith Kroeher" src="images/Products/lahenga-2-custom.jpg"></li>
					
					<li class=" two topone">
						<div class="infos">
							<h3>Chancellery</h3>
							<p><strong>Photographer</strong> <span class="who">Peter Wattendorff</span></p>
							<p><strong>Clients</strong> <span class="who">Kiermeier Haselier Grosse Rechtsanwälte Steuerberater Partnerschaft</span></p>
						</div>
					</li>
					</ul>
				</div>
				
				<div id="custom" class="fotos">
					<ul>
					<li class="three roomone"><img alt="Judith Kroeher" src="images/Products/6-custom.jpg"></li>
					<li class="one toptwo"><img alt="Judith Kroeher" src="images/Products/5-custom.jpg"></li>
					<li class="two">
						<div class="infos">
							<h3>Rococo Tomorrow</h3>
							<p><strong>Photographer</strong> <span class="who">Grit Siwonia</span></p>
							<p><strong>Model</strong> <span class="who">Katrin Reinecke</span></p>
						</div>
					</li>	
					
					<li class=" three break"><img alt="Judith Kroeher" src="images/Products/9-custom.jpg"></li>
					<li class="toptwo one roomone"><img alt="Judith Kroeher" src="images/Products/8-custom.jpg"></li>
					<li class=" topone two roomone">
						<div class="infos">
							<h3>Flourish Biedermeier</h3>
							<p><strong>Photographer</strong> <span class="who">Juliane Meyer</span></p>
							<p><strong>Model</strong> <span class="who">Elisa Flehmer</span></p>
						</div>
					</li>
					
					<li class="topone roomone three"><img alt="Judith Kroeher" src="images/Products/7-custom.jpg"></li>
					
					</ul>
				</div>
		</div>
		
	</div>
</div>
