<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix">
	<div class="designer-listing-main">
	<div>
        <ul class="alphabet-list">
            <li><a href="#09">0-9</a></li>
            <li><a href="#a">A</a></li>
            <li><a href="#b">B</a></li>
            <li><a href="#c">C</a></li>
            <li><a href="#d">D</a></li>
            <li><a href="#e">E</a></li>
            <li><a href="#f">F</a></li>
            <li><a href="#g">G</a></li>
            <li><a href="#h">H</a></li>
            <li><a href="#i">I</a></li>
            <li><a href="#j">J</a></li>
            <li><a href="#k">K</a></li>
            <li><a href="#l">L</a></li>
            <li><a href="#m">M</a></li>
            <li><a href="#n">N</a></li>
            <li><a href="#o">O</a></li>
            <li><a href="#p">P</a></li>
            <li><a href="#q">Q</a></li>
            <li><a href="#r">R</a></li>
            <li><a href="#s">S</a></li>
            <li><a href="#t">T</a></li>
            <li><a href="#u">U</a></li>
            <li><a href="#v">V</a></li>
            <li><a href="#w">W</a></li>
            <li><a href="#x">X</a></li>
            <li><a href="#y">Y</a></li>
            <li><a href="#z">Z</a></li>
        </ul>
                
                <div class="row">
                	<div class="col-md-4">
	                <ul class="alphabets">
	                    <li>
	                    	<ul class="designer-listing" id="09">
	                    		<li class="alpha">0 to 9</li>
	                            <li><a href="/designer-details/">1600 AD NAISHA NAGPAL</a></li>
	                            <li><a href="/designer-details/shweta-kapur">431-88/ Shweta Kapur</a></li>
	                            <li><a href="/designer-details/5-elements">5 Elements / Radhika</a></li>
	                            <li><a href="/designer-details/84-86">84-86</a></li>
	                		</ul>
	                	</li>
	                
	                	<li>
	                		<ul class="designer-listing" id="a">
	                            <li class="alpha">A</li>
	                            <li><a href="/designer-details/aadi-shop-by-shalini">Aadi Shop By Shalini</a></li>
	                            <li><a href="/designer-details/aamaya-by-priyanka">Aamaya by Priyanka</a></li>
	                            <li><a href="/designer-details/aartivijay-gupta">Aartivijay Gupta</a></li>
	                            <li><a href="/designer-details/aawa-by-aastha-wadhwa">Aastha Wadhwa</a></li>
	                            <li><a href="/designer-details/aaylixir">Aaylixir</a></li>
	                            <li><a href="/designer-details/abhinav-mishra">Abhinav Mishra</a></li>
	                            <li><a href="/designer-details/abhishek-vermaa ">Abhishek Vermaa</a></li>
	                            <li><a href="/designer-details/abu-jani-and-sandeep-khosla">Abu Jani Sandeep Khosla </a></li>
	                		</ul>
	                	</li>
	                
	                    <li>
	                        <ul class="designer-listing" id="b">
	                            <li class="alpha">B</li>
	                            <li><a href="/designer-details/babita-malkani">Babita Malkani </a></li>
	                            <li><a href="/designer-details/bangdar-sarali">Bangdar Sarali </a></li>
	                            <li><a href="/designer-details/bansri">Bansri </a></li>
	                            <li><a href="/designer-details/bhanuni-by-jyoti">Bhanuni By Jyoti </a></li>
	                            <li><a href="/designer-details/bhaavya-bhatnagar">Bhaavya Bhatnagar</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="c">
	                            <li class="alpha">C</li>
	                            <li><a href="/designer-details/carousel-by-simran-arya">Carousel by Simran Arya</a></li>
	                            <li><a href="/designer-details/carrie-elizabeth">Carrie Elizabeth</a></li>
	                            <li><a href="/designer-details/casa-pop">Casa Pop</a></li>
	                            <li><a href="/designer-details/chandrani-siingh-fllora">Chandrani Siingh Fllora </a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="d">
	                            <li class="alpha">D</li>
	                            <li><a href="/designer-details/dandelion">Dandelion</a></li>
	                            <li><a href="/designer-details/dang">Dang</a></li>
	                            <li><a href="/designer-details/dauphine">Dauphine</a></li>
	                            <li><a href="/designer-details/debyani">Debyani</a></li>
	                            <li><a href="/designer-details/deepa-by-deepa-gurnani">Deepa by Deepa Gurnani</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="e">
	                            <li class="alpha">E</li>
	                            <li><a href="/designer-details/eesha-zaveri">Eesha Zaveri </a></li>
	                            <li><a href="/designer-details/eina-ahluwalia">Eina Ahluwalia </a></li>
	                            <li><a href="/designer-details/ekaya">Ekaya</a></li>
	                            <li><a href="/designer-details/ekru">Ekru</a></li>
	                            <li><a href="/elle">Elle Loves</a></li>
	                            <li><a href="/designer-details/elysian-by-gitanjali">Elysian By Gitanjali</a></li>
	                            <li><a href="/designer-details/enroute-by-mr-metal">Enroute By Mr. Metal</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                
	                    <li>
	                        <ul class="designer-listing" id="f">
	                            <li class="alpha">F</li>
	                            <li><a href="/designer-details/falguni-and-shane-peacock">Falguni and Shane Peacock </a></li>
	                            <li><a href="/designer-details/farah-sanjana">Farah Sanjana</a></li>
	                            <li><a href="/designer-details/finura-by-richa">Finura By Richa </a></li>
	                            <li><a href="/designer-details/fizzy-goblet">Fizzy Goblet </a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="g">
	                            <li class="alpha">G</li>
	                            <li><a href="/designer-details/gaaya-by-gayatri-kilachand">Gaaya By Gayatri Kilachand </a></li>
	                            <li><a href="/designer-details/gaurav-gupta">Gaurav Gupta </a></li>
	                            <li><a href="/designer-details/gauri-and-nainika">Gauri And Nainika</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="h">
	                            <li class="alpha">H</li>
	                            <li><a href="/designer-details/hair-drama-company">Hair Drama Company </a></li>
	                            <li><a href="/designer-details/harshitaa-chatterjee-deshpande">Harshitaa Chatterjee Deshpande </a></li>
	                            <li><a href="/designer-details/hema-kaul">Hema Kaul</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="i">
	                            <li class="alpha">I</li>
	                            <li><a href="/designer-details/ikai-by-ragini-ahuja">Ikai by Ragini Ahuja </a></li>
	                            <li><a href="/designer-details/ikebaana">Ikebaana </a></li>
	                            <li><a href="/designer-details/ilk-by-shikha-and-vinita">ILK / Shikha and Vinita </a></li>
	                            <li><a href="/designer-details/inayat">Inayat </a></li>
	                                                        <li><a href="/designer-details/i-am-design">I AM DESIGN</a></li>
	                            <li><a href="/designer-details/itrana-by-sonal-gupta">Itrana By Sonal Gupta </a></li>
	                        </ul>
	                    </li>
	                
	                </ul>
	                </div>
	                <div class="col-md-4">
	                <ul class="alphabets">
	                    <li>
	                        <ul class="designer-listing" id="j">
	                        	<li class="alpha">J</li>
	                            <li><a href="/designer-details/j-by-jannat">J / Jannat </a></li>
	                            <li><a href="/designer-details/j-j-valaya">J J Valaya</a></li>
	                            <li><a href="/designer-details/jade-by-monica-and-karishma">Jade / Monica and Karishma</a></li>
	                            <li><a href="/designer-details/janavi">Janavi</a></li>
	                            <li><a href="/designer-details/jasbir-gill">Jasbir Gill </a></li>
	                            <li><a href="/designer-details/jenjum-gadi">Jenjum Gadi</a></li>
	                            <li><a href="/designer-details/joey-and-pooh">Joey &amp; Pooh</a></li>
	                            <li><a href="/designer-details/jodi">Jodi</a></li>
	                            <li><a href="/designer-details/johara-jewels">Johara Jewels</a></li>
	                            <li><a href="/designer-details/jomayana">Jomayana</a></li>
	                            <li><a href="/designer-details/joy-mitra">Joy Mitra</a></li>
	                            <li><a href="/designer-details/just-shraddha">Just Shraddha</a></li>
	                            <li><a href="/designer-details/just-jewellery">Just Jewellery</a></li>
	                            <li><a href="/designer-details/juttichoo">Juttichoo</a></li>
	                            <li><a href="/designer-details/jyoti-sachdev-iyer">Jyoti Sachdev Iyer</a></li>
	                            <li><a href="/designer-details/jyotsna-tiwari">Jyotsna Tiwari</a></li>
	                        </ul>
	                    </li>
	                
	                
	                    <li>
	                        <ul class="designer-listing" id="k">
	                            <li class="alpha">K</li>
	                            <li><a href="/designer-details/k-anshika-jaipur">K-ANSHIKA Jaipur </a></li>
	                            <li><a href="/designer-details/ka-sha">Ka-Sha </a></li>
	                            <li><a href="/designer-details/kamaali-couture">Kamaali Couture </a></li>
	                            <li><a href="/designer-details/kanika-goyal">Kanika Goyal </a></li>
	                            <li><a href="/designer-details/kavanah">Kavanah</a></li>
	                            <li><a href="/designer-details/kapda-by-urvashi-kaur">Kapda By Urvashi Kaur</a></li>
	                            <li><a href="/designer-details/karishma-shah">Karishma Shah</a></li>
	                            <li><a href="/designer-details/karieshma-sarnaa">Karieshma Sarnaa</a></li>
	                        </ul>
	                    </li>
	                
	                
	                   
	                
	                    <li>
	                        <ul class="designer-listing" id="p">
	                            <li class="alpha">P</li>
	                            <li><a href="/designer-details/prerto">Prerto</a></li>
	                            <li><a href="/designer-details/pretty-stoned">Pretty Stoned</a></li>
	                            <li><a href="/designer-details/prints-by-radhika">Prints By Radhika</a></li>
	                            <li><a href="/designer-details/priyal-prakash">Priyal Prakash</a></li>
	                            <li><a href="/designer-details/priyanka-parekh">Priyanka Parekh</a></li>
	                            <li><a href="/designer-details/punjla">Punjla</a></li>
	                            <li><a href="/designer-details/purab-paschim-by-ankit-khullar">Purab Paschim by Ankit Khullar</a></li>
	                            <li><a href="/designer-details/purvi-doshi">Purvi Doshi</a></li>
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="q">
	                            <li class="alpha">Q</li>
	                            <li><a href="/designer-details/quench">Quench</a></li>
	                            <li><a href="/designer-details/quirksmith">QuirkSmith</a></li>
	                            <li><a href="/designer-details/quo">Quo</a></li>
	                        </ul>	
	                    </li>
	                </ul>
	                </div>
	                
	                <div class="col-md-4">
	                <ul class="alphabets">
	                    <li>
	                        <ul class="designer-listing" id="r">
	                            <li class="alpha">R</li>
	                            <li><a href="/designer-details/ra-abta">Ra Abta / Rahul </a></li>
	                            <li><a href="/designer-details/raakesh-agarvwal">Raakesh Agarvwal </a></li>
	                            <li><a href="/designer-details/rabani-rakha">Rabani &amp; Rakha </a></li>
	                            <li><a href="/designer-details/rachana-reddy">Rachana Reddy </a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="s">
	                            <li class="alpha">S</li>
	                            <li><a href="/designer-details/sabyasachi">Sabyasachi </a></li>
	                            <li><a href="/designer-details/sahil-aneja">Sahil Aneja</a></li>
	                            <li><a href="/designer-details/sailex">Sailex</a></li>
	                            <li><a href="/designer-details/sakshi-gupta">Sakshi Gupta </a></li>
	                            <li><a href="/designer-details/sanna-mehan">Sanna Mehan</a></li>
	                            <li><a href="/designer-details/samant-chauhan">Samant Chauhan</a></li>
	                            <li><a href="/designer-details/samant-chauhan-accessories">Samant Chauhan Accessories</a></li>
	                            <li><a href="/designer-details/samatvam-by-anjali-bhaskar">Samatvam / Anjali Bhaskar</a></li>
	                            <li><a href="/designer-details/swarovski-by-suneet-varma">Swarovski By Suneet Varma</a></li>
	                            <li><a href="/designer-details/swgt-by-shweta-gupta">SWGT By Shweta Gupta</a></li>
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="t">
	                            <li class="alpha">T</li>
	                            <li><a href="/designer-details/taika-by-poonam-bhagat">Taika By Poonam Bhagat</a></li>
	                            <li><a href="/designer-details/tanvi-garg">Tanvi Garg </a></li>
	                            <li><a href="/designer-details/tanya-patni">Tanya Patni </a></li>
	                            <li><a href="/designer-details/taramay">Taramay </a></li>
	                            <li><a href="/designer-details/tarini-nirula">Tarini Nirula </a></li>
	                            <li><a href="/designer-details/tarun-tahiliani">Tarun Tahiliani</a></li>
	                            
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="u">
	                            <li class="alpha">U</li>
	                            <li><a href="/designer-details/umbar-by-payal-pratap">Umbar by Payal Pratap</a></li>
	                            <li><a href="/designer-details/umbrella-bird">Umbrella Bird</a></li>
	                            <li><a href="/designer-details/aiyana-by-umeed-foundation">Umeed</a></li>
	                            <li><a href="/designer-details/upasana-khanna">Upasana Khanna</a></li>
	                            <li><a href="/designer-details/urban-arrest">Urban Arrest</a></li>
	                            <li><a href="/designer-details/urban-dhani">Urban Dhani</a></li>
	                            <li><a href="/designer-details/urmi">Urmi</a></li>
	                            <li><a href="/designer-details/urvashi-joneja">Urvashi Joneja</a></li>
	                            <li><a href="/designer-details/urvashi-kaur">Urvashi Kaur</a></li>
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="v">
	                            <li class="alpha">V</li>
	                            <li><a href="/designer-details/vaayu">Vaayu</a></li>
	                            <li><a href="/designer-details/valliyan-by-nitya-arora">Valliyan / Nitya Arora </a></li>
	                            <li><a href="/designer-details/varnika-arora">Varnika Arora</a></li>
	                            <li><a href="/designer-details/varun-bahl">Varun Bahl</a></li>
	                            <li><a href="/designer-details/varuna-gupta">Varuna Gupta</a></li>
	                            <li><a href="/designer-details/vasavi-shah">Vasavi Shah </a></li>
	                            <li><a href="/designer-details/vasundhara">Vasundhara </a></li>
	                            
	                        </ul>
	                    </li>
	                
	                
	                    <li>
	                        <ul class="designer-listing" id="w">
	                            <li class="alpha">W</li>
	                            <li><a href="/designer-details/wyci">WYCI </a></li>
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="y">
	                            <li class="alpha">Y</li>
	                            <li><a href="/designer-details/yashodhara">Yashodhara</a></li>
	                        </ul>
	                    </li>
	                
	                    <li>
	                        <ul class="designer-listing" id="z">
	                            <li class="alpha">Z</li>
	                            <li><a href="/designer-details/zariin">Zariin</a></li>
	                            <li><a href="/designer-details/zerokaata-by-pernia-qureshi">Zerokaata By Pernia Qureshi</a></li>
	                            <li><a href="/designer-details/zoraya-by-dipti-a-sawardekar">Zoraya</a></li>
	                        </ul>
	                    </li>
	                
	                </ul>
	                </div>

                </div>
                
            </div>

        </div>
        
    </div>
    </div>
    
