<div ng-controller="DesignersController" id="Content" class="without_headers">
	<div class="content_wrapper clearfix">
	<div>
        <ul class="alphabet-list">
            <li ng-repeat="designerGroup in designerList | groupBy:'alphabet' | toArray:true | orderBy:'$key'">
                <a ng-href="#{{designerGroup.$key}}">{{designerGroup.$key}}</a>
            </li>
        </ul>
        <hr>
    <div>

    <div class="row">
    	<div class="col-md-3">

				<div id="designerIndexLeftPanel">

					<div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Find your Designer" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="icon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
					<div style="font-weight: bold; font-size: 18px; padding-bottom: 20px; ">BY CATEGORY</div>
					<a href="" style="color: #c8a75e; font-weight: bold;">All Designers</a>
						<a href="/diamond-designers" >Diamond Designers</a>
						<a href="#" >Jedi</a>
						<a href="#" >Featured Designers</a>
						<a href="#" >New Designers</a>
						<a href="#" >Premium Designers</a>
						<a href="#" >Student Designers</a>
					
				</div>
			</div>
		<div class="col-md-8" style="padding-left: 50px;">
	                <ul class="alphabets">
	               
	                    <li ng-repeat="designerGroup in designerList | groupBy:'alphabet' | toArray:true | orderBy:'$key'">
	                    	<ul class="designer-listing" id="{{designerGroup.$key}}">
	                    		<li class="alpha">{{designerGroup.$key}}</li>
	                    		<hr>
	                    		<div class="col-md-12">
    	                            <li ng-repeat="designer in designerGroup">
                                        <a href="/designer-details/{{designer.id}}">{{designer.firstName}} {{designer.lastName}}</a>
                                    </li>
	                            </div>
	                		</ul>
	                	</li>
	                </ul>
	                </div>
	                </div>
                </div>
		</div>
	</div>
</div>