<div ng-controller="DesignerDetailsController" id="Content" class="without_headers" >
	<div class="content_wrapper clearfix">

		<div id="logo" class="menu">
			<a >
			<h1>{{designerDetails.brand.name}}</h1>
			<span>{{designerDetails.firstName}}</span>
			</a>
		</div>

		<div id="main">

		<div id="firstmenu" class="menu">
			<ul>
				<!--<li class="cat" id="advertisingl"><a href="#advertisinga">Made To Order</a></li>-->
				<li class="cat active" id="customl"><a href="#custom">Customized Collection</a></li>
				<li class="cat active" id="shop"><a href="/designers/{{designerDetails.id}}/product">Shop Now</a></li>
			</ul>
		</div>
				<div id="about" class="fotos">
					<ul>
						<li class="two " style="margin-right: 17%">
						<h2 style="padding-bottom: 30%">About</h2>

							<p style="font-size: 16px;">{{designerDetails.description}}</p>

						</li>
					<li class="three designerProfileImage" ><img  src="{{designerDetails.avatarUrl}}"></li>
					</ul>
				</div>
		
				<!--<div id="advertisinga" class="fotos">-->
					<!--<ul>-->
					<!--<li class=" three"><img alt="Judith Kroeher" src="images/Products/lahenga-1-custom.jpg"></li>-->
					<!--<li class=" three"><img alt="Judith Kroeher" src="images/Products/3-custom.jpg"></li>-->
					<!--<li class="four"><img alt="Judith Kroeher" src="images/Products/lahenga-2-custom.jpg"></li>-->
					<!---->
					<!--<li class=" two topone">-->
						<!--<div class="infos">-->
							<!--<h3>Chancellery</h3>-->
							<!--<p><strong>Photographer</strong> <span class="who">Peter Wattendorff</span></p>-->
							<!--<p><strong>Clients</strong> <span class="who">Kiermeier Haselier Grosse Rechtsanwälte Steuerberater Partnerschaft</span></p>-->
						<!--</div>-->
					<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
				
				<div id="custom" class="fotos">
					<ul>
					<li class="three roomone designerProfileImage" ><img  alt="{{designerDetails.firstName + designerDetails.lastName}}" ng-src="{{designerDetails.brand.portfolioImages[0].url}}"></li>
					<li class="one toptwo designerCollectionImageSmall"><img  alt="{{designerDetails.firstName + designerDetails.lastName}}" src="{{designerDetails.brand.portfolioImages[0].url}}"></li>
					<li class="two">
						<div class="infos">
							<h3>Rococo Tomorrow</h3>
							<p><strong>Photographer</strong> <span class="who">Grit Siwonia</span></p>
							<p><strong>Model</strong> <span class="who">Katrin Reinecke</span></p>
						</div>
					</li>	
					
					<li class=" three break designerProfileImage"><img  alt="{{designerDetails.firstName + designerDetails.lastName}}" ng-src="{{designerDetails.brand.portfolioImages[1].url}}"></li>
					<li class="toptwo one roomone designerCollectionImageSmall"><img  alt="{{designerDetails.firstName + designerDetails.lastName}}" src="{{designerDetails.brand.portfolioImages[1].url}}"></li>
					<li class=" topone two roomone">
						<div class="infos">
							<h3>Flourish Biedermeier</h3>
							<p><strong>Photographer</strong> <span class="who">Juliane Meyer</span></p>
							<p><strong>Model</strong> <span class="who">Elisa Flehmer</span></p>
						</div>
					</li>
					

					</ul>
				</div>
		</div>
		
	</div>
</div>
