
<div id="Content" class=" woocommerce woocommerce-page with_aside aside_left without_headers">
        <div class="content_wrapper clearfix">

            <!-- .sections_group -->
            <div class="sections_group">
                <div class="section">
                    <div class="section_wrapper clearfix">
                        <div class="items_group clearfix">
                            <!-- One full width row-->
        <div class="column one woocommerce-content">

                                <div class="shop-filters">
                                    <p class="woocommerce-result-count">
                                        Showing all 5 results
                                    </p>
                                    <form class="woocommerce-ordering" method="get">
                                        <select name="orderby" class="orderby">
                                            <option value="menu_order" selected='selected'>Default sorting</option>
                                            <option value="popularity" >Sort by popularity</option>
                                            <option value="rating" >Sort by average rating</option>
                                            <option value="date" >Sort by newness</option>
                                            <option value="price" >Sort by price: low to high</option>
                                            <option value="price-desc" >Sort by price: high to low</option>
                                        </select>
                                    </form>
                                </div>

                                <div class="products_wrapper ">
                                    <ul class="products ">

                                        

                                        <li class="product">

                                            <div class="image_frame " >
                                                <div class="image_wrapper">
                                                    <a href="product-ship-your-idea-2.html"><div class="mask"></div><img src="http://www.kmozi.com/image/cache/products/new-navy-blue-jacquard-floral-pot-designer-lahenga-1053-250x300.jpg" title="New Navy Blue Jacquard Floral Pot Designer Lahenga.." alt="New Navy Blue Jacquard Floral Pot Designer Lahenga.."></a>
                                                    
                                                </div><a href="product-ship-your-idea-2.html"></a>
                                            </div>
                                            <div class="desc">
                                                            <h4><a href="content/shop/product-woo-logo.html">Woo Logo</a></h4><span class="price"><del><span class="amount">Rs. 2000</span>
                                                            </del> <ins><span class="amount">Rs. 1800</span></ins>
                                                            </span>
                                                        </div>

                                        </li>


                                        <li class="product" >

                                            <div class="image_frame " >
                                                <div class="image_wrapper" >
                                                    <a href="product-ship-your-idea-2.html"><div class="mask"></div><img alt="Mast &amp; Harbour Women Navy Blue Striped Fit and Flare Dress" src="http://assets.myntassets.com/h_307,q_95,w_230/v1/assets/images/1385354/2016/9/6/11473164432781-Mast--Harbour-Women-Navy-Blue-Striped-Fit-and-Flare-Dress-7781473164432525-1_mini.jpg"></a>
                                                    
                                                </div><a href="product-ship-your-idea-2.html"></a>
                                            </div>
                                            <div class="desc">
                                                            <h4><a href="content/shop/product-woo-logo.html">Woo Logo</a></h4><span class="price"><del><span class="amount">Rs. 2000</span>
                                                            </del> <ins><span class="amount">Rs. 1800</span></ins>
                                                            </span>
                                                        </div>

                                        </li>

                                        <li class="product" >

                                            <div class="image_frame " >
                                                <div class="image_wrapper" >
                                                    <a href="product-ship-your-idea-2.html"><div class="mask"></div><img src="http://www.kmozi.com/image/cache/products/new-designer-banglori-silk-pink-and-grey-embroidered-lehegha-choli-1623-250x300.jpg" title="New Designer Banglori Silk Pink And Grey Embroidered Lehegha Choli.." alt="New Designer Banglori Silk Pink And Grey Embroidered Lehegha Choli.."></a>
                                                    
                                                </div></span><a href="product-ship-your-idea-2.html"></a>
                                            </div>
                                            <div class="desc">
                                                            <h4><a href="content/shop/product-woo-logo.html">Woo Logo</a></h4><span class="price"><del><span class="amount">Rs. 2000</span>
                                                            </del> <ins><span class="amount">Rs. 1800</span></ins>
                                                            </span>
                                                        </div>
                                        </li>


                                        <li class="product" >

                                            <div class="image_frame " >
                                                <div class="image_wrapper" >
                                                    <a href="product-ship-your-idea-2.html"><div class="mask"></div>
                                            <img alt="Sanwara Red &amp; Beige Patterned Kurta Pyjama"  src="http://assets.myntassets.com/h_307,q_95,w_230/v1/assets/images/1521259/2016/9/16/11474023494385-Sanwara-Men-Kurta-Pyjama-701474023494142-1_mini.jpg"></a>
                                                    
                                                </div><a href="product-ship-your-idea-2.html"></a>
                                            </div>
                                            <div class="desc">
                                                            <h4><a href="content/shop/product-woo-logo.html">Woo Logo</a></h4><span class="price"><del><span class="amount">Rs. 2000</span>
                                                            </del> <ins><span class="amount">Rs. 1800</span></ins>
                                                            </span>
                                                        </div>
                                        </li>



                                    </ul>
                                </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- .four-columns - sidebar -->
            <!-- Sidebar area-->
        <div class="sidebar four-columns columns">
                <div class="widget-area clearfix ">
                    
                    
                    <aside id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                        <h3>Filter by price</h3>
                        <form method="get" action="/">
                            <div class="price_slider_wrapper">
                                <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%; height: 13px;"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
                                </div>
                                <div class="price_slider_amount"> <input type="text" id="min_price" name="min_price" value="" data-min="12" placeholder="Min price" style="display: none;"> 
                                    <input type="text" id="max_price" name="max_price" value="" data-max="35" placeholder="Max price" style="display: none;"> 
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style=""> Price: <span class="from">$12</span> — <span class="to">$35</span></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </form>
                    </aside>


                    <aside class="basic_categorization">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                    </aside>

                    
                    <aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
                        <h3>Search Products</h3>
                        <form role="search" method="get" class="woocommerce-product-search" action="#">
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="search" class="search-field" placeholder="Search Products&hellip;" value="" name="s" title="Search for:" />
                            <input type="submit" value="Search" />
                            <input type="hidden" name="post_type" value="product" />
                        </form>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</div><!-- #Wrapper -->
