<div class="sidebar four-columns columns" style="max-width: 18%;">
<!-- 				<div class="widget-area clearfix ">
				<aside id="woocommerce_layered_nav_filters-2" class="widget woocommerce widget_layered_nav_filters">
					<span class="filter_title_not_collapswable" style="display: inline;">Active Filters </span><a ng-click="resetFilters()" style="font-size: x-small; float: right;">RESET ALL</a>
					<ul>
						<li class="chosen" ng-repeat="productFilter in productFilters">
							<a title="Remove filter" ng-click="removeFilter(productFilter.key,productFilter.val) && resetCheckBoxForCategoryFilter(productFilter.val)" href="">{{productFilter.key}} - {{productFilter.val}}
							</a>
						</li>
					</ul>
				</aside>
				<aside class="basic_categorization widget woocommerce">
						<ul>
							<li ><a href="" ng-click="addFilter('gender','men');addFilter('gender','women')" >All</a></li>
							<li><a href="" ng-click="addFilter('gender','men')" >Men</a></li>
							<li><a href="" ng-click="addFilter('gender','women')" >Women</a></li>
						</ul>
					</aside>
					<aside class = "widget woocommerce">
						<h4> CATEGORIES </h4>
						<div ng-repeat="category in productCategories">
							<div class="filter_title"> {{category.name}} </div>
							<ul>
								<li class="input-group" ng-repeat="subCategory in category.subCategories">
							        <input type="checkbox" ng-model="subCategory.checked" ng-change="removeFilter('category',subCategory.name,subCategory.checked) || addFilter('category',subCategory.name)" aria-label="...">
							        <label>{{subCategory.name}}</label>
							        <span class="num">({{productCountForCategory(subCategory.name)}})</span>
							    </li>
						    </ul>
						</div>
					</aside>
					<aside class = "widget woocommerce" style="height: 120px;">
						<div class="filter_title"> colour </div>
						<div>
						<ul >
							<li data-hint="mauve" data-filter="colour_family_list" data-option="mauve" data-num="7" data-colorhex="mauve" class="option hint--top color">
								<label title="mauve">
									<input type="checkbox" data-filter="colour_family_list" data-option="mauve" class="checkbox">
								</label>
							</li>

							<li data-hint="purple" data-filter="colour_family_list" data-option="purple" data-num="7" data-colorhex="purple" class="option hint--top color">
								<label title="purple">
									<input type="checkbox" data-filter="colour_family_list" data-option="purple" class="checkbox">
								</label>
							</li>

							<li data-hint="rose" data-filter="colour_family_list" data-option="rose" data-num="7" data-colorhex="rose" class="option hint--top color">
								<label title="rose">
									<input type="checkbox" data-filter="colour_family_list" data-option="rose" class="checkbox">
								</label>
							</li>

							<li data-hint="turquoise" data-filter="colour_family_list" data-option="turquoise" data-num="7" data-colorhex="turquoise" class="option hint--top color">
								<label title="turquoise">
									<input type="checkbox" data-filter="colour_family_list" data-option="turquoise" class="checkbox">
								</label>
							</li>





							<li data-hint="rose" data-filter="colour_family_list" data-option="rose" data-num="7" data-colorhex="rose" class="option hint--top color">
								<label title="rose">
									<input type="checkbox" data-filter="colour_family_list" data-option="rose" class="checkbox">
								</label>
							</li>
						</ul>
						<ul>

							<li data-hint="black" data-filter="colour_family_list" data-option="black" data-num="7" data-colorhex="black" class="option hint--top color">
								<label title="black">
									<input type="checkbox" data-filter="colour_family_list" data-option="black" class="checkbox">
								</label>
							</li>

							<li data-hint="white" data-filter="colour_family_list" data-option="white" data-num="7" data-colorhex="white" class="option hint--top color">
								<label title="white">
									<input type="checkbox" data-filter="colour_family_list" data-option="white" class="checkbox">
								</label>
							</li>
						</ul>
						</div>
					</aside>
					
					<aside id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
						<div class="filter_title">price</div>
						<form method="get" action="/">
							<div class="price_slider_wrapper">
								<div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
									<div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%; height: 13px;"></div>
									<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
									<span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
								</div>
								<div class="price_slider_amount"> <input type="text" id="min_price" name="min_price" value="" data-min="12" placeholder="Min price" style="display: none;"> 
									<input type="text" id="max_price" name="max_price" value="" data-max="35" placeholder="Max price" style="display: none;"> 
									<button type="submit" class="button">Filter</button>
									<div class="price_label" style=""> Price: <span class="from">Rs 599</span> — <span class="to">Rs 5000</span></div>
									<div class="clear"></div>
								</div>
							</div>
						</form>
					</aside>

					
					
				</div>
 -->			</div>
