<div class="sidebar four-columns columns" style="width: 18%;">
				<div class="widget-area clearfix ">
				<aside id="woocommerce_layered_nav_filters-2" class="widget woocommerce widget_layered_nav_filters">
					<span class="filter_title_not_collapswable" style="display: inline;">Active Filters </span>
					<a ng-show="shouldShowResetFilters()" ng-click="resetFilters()" style="font-size: x-small; float: right;">RESET ALL</a>
					<ul>
						<li class="chosen" ng-repeat="productFilter in productFilters">
							<a title="Remove filter" ng-click="removeFilter(productFilter)" href="">{{productFilter.name}}</a>
						</li>
						<li class="chosen" ng-repeat="filter in queryFilters">
							<a ng-hide="filter.key=='isExclusive'" title="Remove filter" ng-click="removeFilter(filter)" href="">{{filter.name}}</a>
						</li>
					</ul>
				</aside>
				<aside class="basic_categorization widget woocommerce">
						<ul>
							<li ><a href="" ng-click="resetGender()" >All</a></li>
							<li><a href="" ng-click="addFilter('men products','gender','men')" >Men</a></li>
							<li><a href="" ng-click="addFilter('women products','gender','women')" >Women</a></li>
						</ul>
					</aside>
					<aside class = "widget woocommerce">
						<h4> CATEGORIES </h4>
						<div ng-repeat="(facet_val,facet_key) in allProductInfo.facets " ng-if = "facet_val != 'genders_facet'" ng-init="facetName=facet_val.replace('_facet','')">
							<div class="filter_title"> {{facetName}} </div>
							<ul>
								<li class="input-group" ng-repeat="(name,val) in facet_key ">
							        <input type="checkbox" ng-model="filterChecks[name]" ng-change="addFilter(name,getFilterKey(facetName),name,subCategory)" ng-init="name = name.replace('0.0-*', '0% and above')" aria-label="...">
							        <label>{{name}} </label>
							        <span class="num">({{val}})</span>
							    </li>
								<li class="input-group" ng-if="facet_val.toLowerCase()=='prices_facet'">
									<span>Choose Custom range</span>
									<a class="btn btn-sm"ng-click='addFilter(minPriceRange+"-"+maxPriceRange,getFilterKey(facetName),minPriceRange+"-"+maxPriceRange,subCategory)'>Apply</a>

									<input type="number" ng-model="minPriceRange" min="0" aria-label="..." placeholder="Min" style="    width: 40%;

    padding: 0;    display: inline-flex;"> -
									<input type="number" ng-model="maxPriceRange" min="0" aria-label="..." placeholder="Max" style="    width: 40%;

    padding: 0;    display: inline-flex;">
								</li>

						    </ul>
						</div>
					</aside>

				</div>
			</div>
