<div class="sidebar four-columns columns" style="max-width: 18%;">
				<div class="widget-area clearfix ">
				<aside id="woocommerce_layered_nav_filters-2" class="widget woocommerce widget_layered_nav_filters">
					<span class="filter_title_not_collapswable" style="display: inline;">Active Filters </span><a ng-click="resetFilters()" style="font-size: x-small; float: right;">RESET ALL</a>
					<ul>
						<li class="chosen" ng-repeat="productFilter in productFilters">
							<a title="Remove filter" ng-click="removeFilter(productFilter) && resetCheckBoxForCategoryFilter(productFilter.val)" href="">{{productFilter.name}}</a>
						</li>
					</ul>
				</aside>
				<aside class="basic_categorization widget woocommerce">
						<ul>
							<li ><a href="" ng-click="addFilter('men products','gender','men');addFilter('Women products','gender','women')" >All</a></li>
							<li><a href="" ng-click="addFilter('men products','gender','men')" >Men</a></li>
							<li><a href="" ng-click="addFilter('women products','gender','women')" >Women</a></li>
						</ul>
					</aside>
					<aside class = "widget woocommerce">
						<h4> CATEGORIES </h4>
						<div ng-repeat="(facet_val,facet_key) in allProductInfo.facets">
							<div class="filter_title"> {{facet_val.replace('_facet','')}} </div>
							<ul>
								<li class="input-group" ng-repeat="(name,val) in facet_key">
							        <input type="checkbox" ng-model="subCategory.checked" ng-change="removeFilter('category',subCategory.name,subCategory.checked) || addFilter('category',subCategory.name)" aria-label="...">
							        <label>{{name}}</label>
							        <span class="num">({{val}})</span>
							    </li>
						    </ul>
						</div>
					</aside>
					<aside class = "widget woocommerce" style="height: 120px;">
						<div class="filter_title"> colour </div>
						<div>
						<ul>
							<li ng-repeat="(color,count) in allProductInfo.facets.colours_facet" data-hint="{{color}}" data-filter="colour_family_list" data-option="{{color}}" style="background:{{color}};" class="option hint--top color">
								<label title="{{color}}">
									<input type="checkbox" data-filter="colour_family_list" data-option="{{color}}" class="checkbox">
								</label>
							</li>
						</ul>
						</div>
					</aside>
				</div>
			</div>
