<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix">
		<div class="footwear_headings">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline;">WOMEN</h1>
        </div>

        <!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px" >
				<a href=""><img src="images/Footwear/fw-boots.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-sneakers.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-flats.png"></a>
			</div>
			
		</div>
		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href="/footwear/heals"><img src="images/Footwear/fw-heels.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-wedges.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-clogs.png"></a>
			</div>
		</div>

		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-slipper.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-sandal.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-espradrills.png"></a>
			</div>
		</div>

		<div class="footwear_headings">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline;">MEN</h1>
        </div>
        <div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href="/footwear/heals"><img src="images/Footwear/fw-men-boot.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-dress-shoes.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-loofers.png"></a>
			</div>
		</div>

		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-men-sneakers.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/slippers.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/Footwear/fw-men-eppi.png"></a>
			</div>
		</div>


<!-- One full width row-->
 <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>
                                                <a href=""><h6>Show All</h6></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                     
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>New products for him<i class="icon-left-dir"></i></h2>
                                                <a href=""><h6>Show All</h6></a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="image_frame">
                                                            <div class="image_wrapper">
                                                                    <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                          
                                        </div>
                                    </div>

                                     <!-- Discount Banner-->
                <div> 
                    <a href="/sale"><img src="images/discount.png"></a>
                </div>

 
    </div>
</div>