<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix">
		<div class="footwear_headings">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline;">WOMEN</h1>
        </div>

        <!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px" >
				<a href=""><img src="images/fw-boots.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-sneakers.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-flats.png"></a>
			</div>
			
		</div>
		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href="/footwear/heals"><img src="images/fw-heels.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-wedges.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-clogs.png"></a>
			</div>
		</div>

		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-slipper.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-sandal.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-espradrills.png"></a>
			</div>
		</div>

		<div class="footwear_headings">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline;">MEN</h1>
        </div>
        <div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href="/footwear/heals"><img src="images/fw-men-boot.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-dress-shoes.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-loofers.png"></a>
			</div>
		</div>

		<div class="row" style="margin: 30px">
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-men-sneakers.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/slippers.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a href=""><img src="images/fw-men-eppi.png"></a>
			</div>
		</div>


<!-- One full width row-->
 <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                                                <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-album-1.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-album-1.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-album-1.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-album-1.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-79 product type-product status-publish has-post-thumbnail product_cat-ballet-pumps product_cat-belts product_cat-jeans-clothing-for-her-for-him product_cat-shorts product_cat-slippers shipping-taxable purchasable product-type-simple product-cat-ballet-pumps product-cat-belts product-cat-jeans-clothing-for-her-for-him product-cat-shorts product-cat-slippers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-ninja-3.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-ninja-3.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-ninja-3.html">Woo Logo</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-76 product type-product status-publish has-post-thumbnail product_cat-hats-caps product_cat-hats-caps-accessories product_cat-jackets product_cat-sunglasses-accessories-for-him shipping-taxable purchasable product-type-simple product-cat-hats-caps product-cat-hats-caps-accessories product-cat-jackets product-cat-sunglasses-accessories-for-him instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-ninja-3.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-ninja-3.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-ninja-3.html">Woo Ninja</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-73 product type-product status-publish has-post-thumbnail product_cat-ankle-boots product_cat-rucksacks-accessories product_cat-sunglasses-accessories-for-him product_cat-t-shirts sale shipping-taxable purchasable product-type-simple product-cat-ankle-boots product-cat-rucksacks-accessories product-cat-sunglasses-accessories-for-him product-cat-t-shirts instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-flying-ninja.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-flying-ninja.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div><span class="onsale"><i class="icon-star"></i></span>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-flying-ninja.html">Premium Quality</a></h4><span class="price"><del><span class="amount">Rs. 1500</span>
                                                            </del> <ins><span class="amount">Rs. 1200</span></ins>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                            </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>New products for her<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                                                <li class="post-83 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-bags-accessories product_cat-clothing-for-her product_cat-dresses product_cat-heels downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-cat-bags-accessories product-cat-clothing-for-her product-cat-dresses product-cat-heels instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-album-1.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-album-1.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-79 product type-product status-publish has-post-thumbnail product_cat-ballet-pumps product_cat-belts product_cat-jeans-clothing-for-her-for-him product_cat-shorts product_cat-slippers shipping-taxable purchasable product-type-simple product-cat-ballet-pumps product-cat-belts product-cat-jeans-clothing-for-her-for-him product-cat-shorts product-cat-slippers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-ninja-3.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-ninja-3.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-ninja-3.html">Woo Logo</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-76 product type-product status-publish has-post-thumbnail product_cat-hats-caps product_cat-hats-caps-accessories product_cat-jackets product_cat-sunglasses-accessories-for-him shipping-taxable purchasable product-type-simple product-cat-hats-caps product-cat-hats-caps-accessories product-cat-jackets product-cat-sunglasses-accessories-for-him instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-ninja-3.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-ninja-3.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-ninja-3.html">Woo Ninja</a></h4><span class="price"><span class="amount">Rs. 1500</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-73 product type-product status-publish has-post-thumbnail product_cat-ankle-boots product_cat-rucksacks-accessories product_cat-sunglasses-accessories-for-him product_cat-t-shirts sale shipping-taxable purchasable product-type-simple product-cat-ankle-boots product-cat-rucksacks-accessories product-cat-sunglasses-accessories-for-him product-cat-t-shirts instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-flying-ninja.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-flying-ninja.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div><span class="onsale"><i class="icon-star"></i></span>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-flying-ninja.html">Premium Quality</a></h4><span class="price"><del><span class="amount">Rs. 1500</span>
                                                            </del> <ins><span class="amount">Rs. 1200</span></ins>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                               
                                            </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>
                                    <!-- Page Title-->
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>New products for him<i class="icon-left-dir"></i></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                                                <li class="post-15 product type-product status-publish has-post-thumbnail product_cat-bags-accessories product_cat-belts product_cat-belts-accessories-for-him product_cat-business-shoes product_cat-dresses product_cat-hats-caps product_cat-heels product_cat-hoodies product_cat-jackets-clothing-for-her-for-him product_cat-sandals product_cat-sandals-shoes product_cat-shorts product_cat-sunglasses product_cat-tops product_cat-trainers product_cat-trousers sale shipping-taxable purchasable product-type-simple product-cat-bags-accessories product-cat-belts product-cat-belts-accessories-for-him product-cat-business-shoes product-cat-dresses product-cat-hats-caps product-cat-heels product-cat-hoodies product-cat-jackets-clothing-for-her-for-him product-cat-sandals product-cat-sandals-shoes product-cat-shorts product-cat-sunglasses product-cat-tops product-cat-trainers product-cat-trousers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-woo-logo.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-woo-logo.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div><span class="onsale"><i class="icon-star"></i></span>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-woo-logo.html">Woo Logo</a></h4><span class="price"><del><span class="amount">Rs. 2000</span>
                                                            </del> <ins><span class="amount">Rs. 1800</span></ins>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-19 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-ballet-pumps product_cat-belts product_cat-business-shoes product_cat-dresses product_cat-hats-caps product_cat-jackets-clothing-for-her-for-him product_cat-jeans product_cat-outdoor-shoes product_cat-rucksacks-accessories product_cat-sandals product_cat-sunglasses-accessories-for-him product_cat-t-shirts product_cat-tops product_cat-trainers shipping-taxable purchasable product-type-simple product-cat-bags product-cat-ballet-pumps product-cat-belts product-cat-business-shoes product-cat-dresses product-cat-hats-caps product-cat-jackets-clothing-for-her-for-him product-cat-jeans product-cat-outdoor-shoes product-cat-rucksacks-accessories product-cat-sandals product-cat-sunglasses-accessories-for-him product-cat-t-shirts product-cat-tops product-cat-trainers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-flying-ninja.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-flying-ninja.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-flying-ninja.html">Premium Quality</a></h4><span class="price"><span class="amount">Rs. 2000</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-22 product type-product status-publish has-post-thumbnail product_cat-ankle-boots product_cat-bags-accessories product_cat-belts-accessories-for-him product_cat-hats-caps-accessories product_cat-heels product_cat-hoodies product_cat-jackets product_cat-jeans-clothing-for-her-for-him product_cat-moccasins product_cat-rucksacks product_cat-sandals-shoes product_cat-shorts product_cat-slippers product_cat-sunglasses product_cat-trousers shipping-taxable purchasable product-type-variable product-cat-ankle-boots product-cat-bags-accessories product-cat-belts-accessories-for-him product-cat-hats-caps-accessories product-cat-heels product-cat-hoodies product-cat-jackets product-cat-jeans-clothing-for-her-for-him product-cat-moccasins product-cat-rucksacks product-cat-sandals-shoes product-cat-shorts product-cat-slippers product-cat-sunglasses product-cat-trousers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-flying-ninja.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-flying-ninja.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-flying-ninja.html">Ship Your Idea</a></h4><span class="price"><span class="amount">Rs. 2000</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="post-31 product type-product status-publish has-post-thumbnail product_cat-business-shoes product_cat-moccasins product_cat-outdoor-shoes product_cat-sandals-shoes product_cat-slippers product_cat-trainers shipping-taxable purchasable product-type-simple product-cat-business-shoes product-cat-moccasins product-cat-outdoor-shoes product-cat-sandals-shoes product-cat-slippers product-cat-trainers instock">
                                                    <div class="item_wrapper">
                                                        <div class="image_frame scale-with-grid product-loop-thumb">
                                                            <div class="image_wrapper">
                                                                <a href="content/shop/product-flying-ninja.html">
                                                                    <div class="mask"></div><img width="300" height="300" src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                                                </a>
                                                                <div class="image_links">
                                                                    <a class="link" href="content/shop/product-flying-ninja.html"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="desc">
                                                            <h4><a href="content/shop/product-flying-ninja.html">Ninja Silhouette</a></h4><span class="price"><span class="amount">Rs. 2000</span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>

                                     <!-- Discount Banner-->
                <div> 
                    <a href="/sale"><img src="images/discount.png"></a>
                </div>

 
    </div>
</div>