<footer id="Footer" class="clearfix">
                <div class="footer_copy">
                    <div class="container">
                        <div class="column one">

                        <div id="social">
                             <ul class="social">

                                <li class="facebook">
                                    <a href="http://www.facebook.com/MODAINKOFFICIAL" title="http://www.facebook.com/MODAINKOFFICIAL"><i class="icon-facebook"></i></a>
                                </li>
                                <li class="googleplus">
                                    <a href="mailto: queries@modaink.com?" title="queries@modaink.com"><i class="icon-gplus"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="http://www.twitter.com/modainkofficial" title="http://www.twitter.com/modainkofficial"><i class="icon-twitter"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/channel/UCOFMec0ZeVUsjeuRWdm_fzg" title="https://www.youtube.com/channel/UCOFMec0ZeVUsjeuRWdm_fzg"><i class="icon-youtube"></i></a>
                                </li>
                                
                                <li class="insta">
                                    <a href="https://www.instagram.com/modainkofficial/" title="https://www.instagram.com/modainkofficial/"><i class="icon-instagram"></i></a>
                                </li>

                            </ul>
                        </div>

                        <div class="row footer-links">
                            <div class="col-md-3">
                                <h4>Contact Us</h4>
                                <label>
                                    <i class="fa fa-phone"></i>
                                    0987654321
                                </label>
                                
                                <label>
                                    <i class="fa fa-envelope-o"></i>
                                    hello@modaink.com
                                </label>
                            </div>
                            <div class="col-md-3">
                                <h4>Useful Information</h4>
                                <a href="/aboutUs"> About Us</a>
                                <a> Wishlist</a>
                                <a> Track your order</a>
                                <a href="/becomeSeller"> Careers</a>
                                <a> Blog</a>
                            </div>
                            <div class="col-md-3">
                                <h4>Useful Links</h4>
                                <a href="/privacy-policy"> Privacy Policy</a>
                                <a href="/returns-and-exchange"> Returns & Exchange</a>
                                <a href="/shipping-policy"> Shipping Policy</a>
                                <a href="/terms-and-cond"> Terms & Conditions</a>
                                <a href="/disclaimer"> Website Disclaimer</a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://beta.portal.modaink.com"><i class="fa fa-user "></i>&nbsp;&nbsp;LogIn as Seller</a>

                                <h4>Subscribe to our newsletter</h4>
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Your email address" aria-describedby="basic-addon2">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Subscribe!</button>
                                  </span>
                                </div>

                            </div>
                        </div>

                            
                           
                        </div>
                    </div>
                </div>

            </footer>