<div ng-app="ModaInk" ng-controller="HomeController">
<div class="mfn-main-slider">
                    <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;padding:0px;max-height:500px;">
                        <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="max-height:500px;height:500px;">
                                    <!-- MAIN IMAGE -->
                                    <img ng-src="{{homeImageUrl}}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" style="visibility: visible; width: 100%">
                        </div>
                    </div>
                </div>
<div id="Content">
            <div class="content_wrapper clearfix">

            <!-- featured designer ; image size: 175 X 275-->
                <div class="row" style=" margin: 30px 0 0 30px;">
                  <div class="col-xs-6 col-md-3 category_name_homepage" >
                      <div style="margin: 50px;font-size: 40px;padding-bottom: 10px;">
                          <label >Featured</label>
                          <label>Designers</label>
                        <a href="/#/becomeSeller" class="  become-Designer-Button" target="_top"> SELL WITH US </a>
                      </div>

                  </div>
                  <div class="col-xs-12 col-md-8" style="float: right;">
                    <div ng-repeat="designer in designers | limitTo: 5">
                        <div class="column column_trailer_box designer_column">
                            <div class="trailer_box">
                                <!-- Animated area -->
                                <div class="animate" data-anim-type="fadeInUp">
                                    <a target="_top" ng-href="/#designer-details/{{designer.id}}"><img class="scale-with-grid" ng-src="{{designer.avatarUrl}}" alt="Fall<br />Winter '13/14" />
                                        <div class="desc">
                                            <div id = "designer_name" class="line">
                                                {{designer.brandName}}
                                            </div>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

                <!-- MEN/ WOMEN; image size: 429 X 345-->

                <div class="row" style="margin: 30px; height: 500px">
                    <div class="col-xs-12  col-md-6" style="border-bottom: 2px solid #181818; height: 500px; ">
                        <div style="    text-align: center;">
                            <div>
                                <a href="/#/women" target="_top"><img src="images/Home/women.png" alt=""> </a>
                            </div>

                            <div style="    padding: 20px;
                                            width: 300px;
                                            margin-left: 25%;
                                        }">
                                <h1 style="    font-weight: bolder;
                                font-size: 40px;">WOMEN</h1>
                                <hr/>
                                <a href="/#/women" target="_top"><h1>SHOP NOW</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6" style="float: right; border-top: 2px solid #181818; height: 500px;" >

                        <div style="    text-align: center;">
                            <div style="    padding: 20px;
                                            width: 300px;
                                            margin-left: 25%;
                                        }">
                                <h1 style="    font-weight: bolder;
                                font-size: 40px;">MEN</h1>
                                <hr/>
                                <a href="/#/men" target="_top"><h1>SHOP NOW</h1></a>
                            </div>

                            <div>
                                <a href="/#/men" target="_top"><img src="images/Home/men.png" alt=""> </a>
                            </div>
                        </div>

                    </div>
                </div>
            <!-- exclusive; image size: 829 X 588-->
                <div class="row" style="margin: 30px; height: 600px">

                    <div class="col-xs-6  col-md-3" style="border-top: 2px solid #181818; border-bottom: 2px solid #181818; height: 600px; margin-left: 40px;">
                            
                            <div style="    text-align: center;
                                margin-top: 60%;
                                padding: 20px;">
                                <h5 >Check Out What's New In</h5>
                                <h1 style="    font-weight: bolder;
                                font-size: 40px;">EXCLUSIVE</h1>
                                <hr/>
                                <a href="/#/products?exclusive=true" target="_top"><h1>SHOP NOW</h1></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" style="margin-left: 30px; float: right;" >
                            <div>
                                <a href="/#/products?exclusive=true" target="_top"><img src="images/Home/exclusive.png" alt=""> </a>
                            </div>
                        </div>
                </div>
            <!-- Discount Banner-->
                <div> 
                    <a href="/#/products?isDiscounted=true" target="_top"><img src="images/discount.png"></a>
                </div>


            <!-- Customization  ; image size: 829 X 588-->
               <div class="row" style="margin: 30px; height: 600px">

                   <div class="col-xs-6  col-md-3" style="border-top: 1px solid #181818; border-bottom: 1px solid #181818;height: 600px; margin-left: 40px;">
                                 <div style="    text-align: center;
                                margin-top: 40%;
                                padding: 20px;">
                                            <h4 style="    font-weight: bolder;
                                font-size: 26px;">Introducing</h4>
                                <h2 style="    font-weight: bolder;
                                font-size: 34px;">CUSTOMIZATION</h2>
                                <hr/>
                                <a href="/#/products?isCustomizable=true" target="_top"><h1>SHOP NOW</h1></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" style="margin-left: 30px; float: right; height: 600px" >

                        <div>
                            <a href="/#/customization" target="_top"><img src="images/Home/customize.png" alt=""> </a>
                        </div>
                            
                        </div>
                </div> 



                <!-- MEN/ WOMEN; image size: 429 X 345--> 

            <div class="row" style="margin: 30px; height: 500px">
                <div class="col-xs-12  col-md-6" style="border-bottom: 2px solid #181818; height: 500px; ">
                    <div style="    text-align: center;">
                             <div>
                                 <a href="/#/accessories" target="_top"><img src="images/Home/accessories.png" alt=""> </a>
                            </div>
                            
                            <div style="    padding: 20px;
                                            width: 300px;
                                            margin-left: 25%;
                                        }">
                                <h1 style="    font-weight: bolder;
                                font-size: 40px;">ACCESSORIES</h1>
                                <hr/>
                                <a href="/#/accessories" target="_top"><h1>SHOP NOW</h1></a>
                            </div>
                        </div>
                        </div>  
                        <div class="col-xs-12 col-md-6" style="float: right; border-top: 2px solid #181818; height: 500px;" >
                            
                            <div style="    text-align: center;">
                            <div style="    padding: 20px;
                                            width: 300px;
                                            margin-left: 25%;
                                        }">
                                <h1 style="    font-weight: bolder;
                                font-size: 40px;">FOOTWEAR</h1>
                                <hr/>
                                <a href="/#/footwear" target="_top"><h1>SHOP NOW</h1></a>
                            </div>

                             <div>
                                 <a href="/#/footwear" target="_top"> <img src="images/Home/footware.png" alt=""> </a>
                            </div>
                        </div>
                    
                </div>            
            </div>

        </div>
    </div>