	 	    
<div ng-controller="HomeController">
	<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login to ModaInk</h4>
      </div>
      <div class="modal-body row">
        <div class="login-form ng-scope col-md-6">
		    <div class="panel-body">
		        <form id="loginform" role="form">
		                <input style="height:30px;" id="login-username" type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="username" value="" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required="">                                        
		                <input style="height:30px;" id="login-password" type="password" ng-model="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" placeholder="Password" required="">

		                <button class="btn btn-sm" ng-click="login()">LOG IN</button>
		        </form>
		    </div>                     
	    </div>

	    <div class="login-fb-gm col-md-6">
	    	<a ><button id="fbLogin">
	    		<!--TODO  for now linked to customize to show the flow to the customer -->
		    	<span>
		    	<i class="icon-facebook"></i>
		    		FACEBOOK
		    	</span>
	    	</button></a>

	    	<button id="gPlusLogin">
		    	<span>
		    	<i class="icon-google"></i>
		    		GOOGLE
		    	</span>
	    	</button>
	    </div>

	    
      </div>
      <div class="profile-links">
		  <span style="float: right;">New to ModaInk? <a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Sign Up here!</a></span>
      </div>
     
    </div>

  </div>
</div>

<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SignUp with ModaInk</h4>
      </div>
      <div class="modal-body">
        <div class="registration-form ng-scope">
		    	<button id="fbRegister">

			    	<span>
			    	<i class="icon-facebook"></i>
			    		FACEBOOK
			    	</span>
		    	</button>

				OR &nbsp;
		    	<button id="gPlusRegister">
			    	<span>
			    	<i class="icon-google"></i>
			    		GOOGLE
			    	</span>
		    	</button>
    	
		        <form id="registerform" role="form" >
		       <span style="margin-left: 16%;">OR USING EMAIL</span> 	
		                <input style="height:30px;" id="login-username" type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="username" value="" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required="">                                        
		                <input style="height:30px;" id="login-password" type="password" ng-model="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" placeholder="Password" required="">

		                <input style="height:30px;" id="contact-number" type="text" min="1000000000" max="9999999999" ng-model="contactNumber" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern"name="contact_number" placeholder="Mobile Number" required="">

		                <button class="btn btn-md" ng-click="signUp()" style="width: 60%">Sign Up</button>
		        </form>
	    </div>

	    

	    
      </div>
      <div class="profile-links">
	  	<span style="float: right;">Already a member? <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login!</a>
      </div>
     
    </div>

  </div>
</div>	   
</div>	    
