	 	    
<div>
	<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login to ModaInk</h4>
      </div>
      <div class="modal-body row">
        <div class="login-form ng-scope col-md-6">
		    <div class="panel-body">
		        <form id="loginform" role="form">
		                <input style="height:30px;" id="loginUsername" type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="username" value="" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required="">
		                <input style="height:30px;" id="loginPassword" type="password" ng-model="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" placeholder="Password" required="">
		                <button class="btn btn-sm" ng-click="login(email,password)">LOG IN</button>
		        </form>
		    </div>                     
	    </div>

	    <div class="login-fb-gm col-md-6">
	    	<a ><button id="fbLogin" ng-click="authLogin('facebook')">
	    		<!--TODO  for now linked to customize to show the flow to the customer -->
		    	<span>
		    	<i class="icon-facebook"></i>
		    		FACEBOOK
		    	</span>
	    	</button></a>

	    	<button id="gPlusLogin" ng-click="authLogin('google')">
		    	<span>
		    	<i class="icon-google"></i>
		    		GOOGLE
		    	</span>
	    	</button>
	    </div>

	    
      </div>
      <div class="profile-links">
		  <span style="float: right;">New to ModaInk? <a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Sign Up here!</a></span>
      </div>
     
    </div>

  </div>
</div>

<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SignUp with ModaInk</h4>
      </div>
      <div class="modal-body">
        <div class="registration-form ng-scope">
		    	<button id="fbRegister">

			    	<span>
			    	<i class="icon-facebook"></i>
			    		FACEBOOK
			    	</span>
		    	</button>

				OR &nbsp;
		    	<button id="gPlusRegister">
			    	<span>
			    	<i class="icon-google"></i>
			    		GOOGLE
			    	</span>
		    	</button>
    	
			<form name="registration" id="registerform" role="form" novalidate>
				<span style="margin-left: 16%;">OR USING EMAIL</span>
				<input name="email" style="height:30px;" id="login-username" type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern" name="username" value="" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required="">
				<i><div class="text-danger" ng-show="registration.email.$touched && registration.email.$error.required">* Email is required</div></i>
				<i><div class="text-danger" ng-show="registration.email.$touched && !registration.email.$valid">* Invalid email address. Valid e-mail can contain only latin letters, numbers, '@' and '.</div></i>
				<input name="password" style="height:30px;" id="login-password" type="password" ng-model="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="password" placeholder="Password" required="">
				<i><div class="text-danger" ng-show="registration.password.$touched &&registration.password.$error.required">* Password is required</div></i>
				<input name="mobile" style="height:30px;" id="contact-number" type="text" min="1000000000" max="9999999999" ng-model="contactNumber" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern"name="contact_number" minlength="10" maxlength="10" placeholder="Mobile Number" required="">
				<i><div class="text-danger" ng-show="registration.password.$touched && registration.mobile.$error.required">* Mobile Number is required</div></i>
				<i><div class="text-danger" ng-show="registration.password.$touched && (registration.mobile.$error.minlength || registration.mobile.$error.maxlength)">* Mobile Number Should be 10 digit long</div></i>
				<input ng-disabled="!registration.$valid" type="submit" value="Sign Up" class="btn btn-md" ng-click="signUp(email,contactNumber,password,registration.$valid)" style="width: 60%"/>
			</form>
	    </div>
      </div>
      <div class="profile-links">
		  <span style="float: right;">Already a member? <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login!</a></span>
      </div>
     
    </div>

  </div>
</div>
<div id="cartAddSuccess" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Item to Shopping Bag</h4>
				</div>
				<div class="modal-body">
					<div class="ng-scope">
						<span>Added Item to Shopping Bag Successfully</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
