<div class="mfn-main-slider">
                    <div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
                        <div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="max-height:500px;height:500px;">
                                    <!-- MAIN IMAGE -->
                                    <img src="images/MadeToOrder/made-to-order.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" style="visibility: visible;">
                        </div>
                    </div>
                </div>
<div id="Content">
    <div class="content_wrapper clearfix">

		<div style="padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    }">
                <h1 style="    font-weight: bolder;
                font-size: 40px; text-decoration: underline; width: inherit;">How It Works?</h1>
        </div>

        <!-- image size: 429 X 435--> 
 		<div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; ">
                <div style="    text-align: center;">
	                    <img src="images/MadeToOrder/mod1.png" alt=""> 
                </div>
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right; border-top: 2px solid #181818; height: 450px;" >
                
                <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">WHAT & WHY?</h1>
	                    <hr/>
	                    <h3>Every occasion is special, and we like to make it more special for you. So tell us, what you desire to wear, and we create. </h3>
	                </div>

	                
            	</div>
                
            </div>            
        </div>

        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px;">

             <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">ROUGH SKETCHES</h1>
	                    <hr/>
	                    <h3>From your mind to our paper. Our designer will sketch some drawings according to the requirements mentioned by you. </h3>
	                </div>

	                
            	</div>
               
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px;" >
                
                <div style="    text-align: center;">
	                    <img src="images/MadeToOrder/mod2.png" alt=""> 
                </div>
                
            </div>            
        </div>

        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; ">
                <div style="    text-align: center;">
	                    <img src="images/MadeToOrder/mod3.png" alt=""> 
                </div>
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px;" >
                
                <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">SPEAK TO THE DESIGNER</h1>
	                    <hr/>
	                    <h3>Your approval is very important, so we give you a chance to discuss your design with the designer directly. </h3>
	                </div>

	                
            	</div>
                
            </div>            
        </div>

        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px;">

             <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">MEASURE YOURSELF</h1>
	                    <hr/>
	                    <h3>Its your design. So itneeds to be done in your measurements. Help us get them, and we get you the perfect fit. </h3>
	                </div>

	                
            	</div>
               
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px;" >
                
                <div style="    text-align: center;">
	                    <img src="images/MadeToOrder/mod4.png" alt=""> 
                </div>
                
            </div>            
        </div>


        <div class="row" style="margin: 30px; height: 450px">
            <div class="col-xs-12  col-md-6" style="height: 450px; ">
                <div style="    text-align: center;">
	                    <img src="images/MadeToOrder/mod5.png" alt=""> 
                </div>
            </div>  
            <div class="col-xs-12 col-md-6" style="float: right;height: 450px; border-bottom: 2px solid #181818" >
                
                <div style="    text-align: center;">
	                <div style="    padding: 70px;
	                				margin-top: 60px;
	                            }">
	                    <h1 style="    font-weight: bolder;
	                    font-size: 30px;">ENJOY YOUR DRESS</h1>
	                    <hr/>
	                    <h3>It arrives at your doorstep, just in time for your event. </h3>
	                     <a href="" class="btn btn-primary" style="background-color: #181818; font-size: 20px; font-weight: bold;"> ORDER NOW</a>
	                </div>

	               

	                
            	</div>
                
            </div>            
        </div>
    </div>
</div>