<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    	<!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px;">
			<div class="col-md-4" style="height: 100px;  padding: 10px" >
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'T-Shirts & Polos'})"  target="_top"><img src="images/Men/t-shirts&polos.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Shirts'})" target="_top"><img src="images/Men/shirts.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Bottoms'})"  target="_top"><img src="images/Men/bottoms.png"></a>
			</div>
			
			
		</div>
		<div class="row" style="margin: 30px;">
			

			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Jackets & Sweatshirts'})"  target="_top"><img src="images/Men/jackets&Sweetshirts.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Ethnic'})"   target="_top"><img src="images/Men/ethnic.png"></a>
			</div>

			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Suits'})"   target="_top"><img src="images/Men/suits.png"></a>
			</div>

		</div>
		<div class="row" style="margin: 30px;">

			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Beachwear'})" target="_top"><img src="images/Men/beachwear.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Footwear'})"   target="_top"><img src="images/Men/footwear.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'men',topCategory : 'Accessories'})"   target="_top"><img src="images/Men/accessories.png"></a>
			</div>

		</div>


		<div style="padding: 20px;
                    width: 300px;
                    margin-left: 40%;
                    text-align: center;
                    }">
                <h1 style="    
                font-size: 40px; text-decoration: underline;">What To Buy</h1>
        </div>

        <div class="row" style="margin:30px;">
        <div class="col-md-4" style="border-top: 2px solid #181818;">
	        <div class="accessories_whatToBuy">
	        	<h3>Shirts</h3>
	        	<hr>
                <a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Shirts'})"  target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Shirts'})"  target="_top"><img src="images/Men/shirt-link.png"></a>
	        	
        </div>
        <div class="col-md-4" style="border-bottom:2px solid #181818;">
        	
        	<img src="images/Men/suit-link.png">
        	<div class="accessories_whatToBuy">
	        	<h3>Suits</h3>
	        	<hr>
                <a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Suits'})"  target="_top"><h3>SHOP NOW</h3></a>
	        </div>
        	
        </div>
        <div class="col-md-4" style="border-top: 2px solid #181818;">
        <div class="accessories_whatToBuy formal_accessories_label">
	        	<h3>Denim</h3>
	        	<hr>
            <a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Bottoms'})" target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a ui-sref="products({gender : 'men',topCategory : 'Apparel',subCategory : 'Bottoms'})"  target="_top"><img src="images/Men/denim.png"></a>
        </div>
        	
        </div>

         <!--<div class="column one column_fancy_heading " >-->
	        <!--<div class="fancy_heading fancy_heading_arrows">-->
	            <!--&lt;!&ndash; Animated area &ndash;&gt;-->
	            <!--<div class="animate" data-anim-type="zoomIn">-->
	                <!--<h2 class="title"><i class="icon-right-dir"></i>Trending<i class="icon-left-dir"></i></h2>-->
                    <!--<a href="/#/products/men/" target="_top"><h6>Show All</h6></a>-->
	            <!--</div>-->
	        <!--</div>-->
	    <!--</div>-->
                                    <!-- One full width row-->
        <!--<div class="column one column_shop_slider " style="margin-left: 5%">-->
            <!--<div class="shop_slider">-->
                <!--<div class="blog_slider_header">-->
                    <!--<a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>-->
                <!--</div>-->
                <!--<ul class="shop_slider_ul">-->
                    <!--<li class="product-trending" ng-repeat="product in products| filter:{gender:'men'} |limitTo:5">-->
                        <!--<div class="item_wrapper">-->
                            <!--<div class="image_frame">-->
                                <!--<div class="image_wrapper">-->
                                    <!--<div class="mask"></div><img ng-src="{{product.previewImage}}" class="scale-with-grid wp-post-image"  title="{{product.productDescription}}" alt="{{product.productDescription}}" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="desc">-->
                                <!--<h4><a href="/#/product-details/{{product.id}}/{{product.designerId}}">{{product.productName}}</a></h4><span class="price"><span class="amount">Rs. {{product.price}}</span></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->



                <!--</ul>-->

                <!--<div class="slider_pagination"></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="column one column_fancy_heading ">-->
	        <!--<div class="fancy_heading fancy_heading_arrows">-->
	            <!--&lt;!&ndash; Animated area &ndash;&gt;-->
	            <!--<div class="animate" data-anim-type="zoomIn">-->
	                <!--<h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>-->
                     <!--<a href=""><h6>Show All</h6></a>-->
	            <!--</div>-->
	        <!--</div>-->
	    <!--</div>-->
                                    <!--&lt;!&ndash; One full width row&ndash;&gt;-->
        <!--<div class="column one column_shop_slider ">-->
            <!--<div class="shop_slider">-->
                <!--<div class="blog_slider_header">-->
                    <!--<a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>-->
                <!--</div>-->
                <!--<ul class="shop_slider_ul">-->
                    <!--<li>-->
                        <!--<div class="item_wrapper">-->
                            <!--<div class="image_frame">-->
                                <!--<div class="image_wrapper">-->
                                        <!--<div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="desc">-->
                                <!--<h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                   <!---->
                    <!---->
                   <!---->
                <!--</ul>-->
                <!--<div class="slider_pagination"></div>-->
            <!--</div>-->
        <!--</div>-->

         <div> 
            <a ui-sref="/({isDiscounted : true})"><img src="images/discount.png"></a>
         </div>
    </div>
</div>
