<div class="tab-content" style="margin-top: 5%;">

	<div id="ongoingOrder" class="tab-pane fade in active ">
        <div ng-if="orders.length == 0">
            <h3>OOPS!! We could not find any on-going orders for you.</h3>
            <hr/>
            <div class="continue-shopping">
                <a href="/"><button id="continue-shopping" class="alt-action" >Continue Shopping <i class="icon-cart"></i></button></a>
            </div>
        </div>
		<div ng-repeat="order in orders" class="orders">
			<div class="order-info">
				<label>Placed on: {{order.createdAt | date:'medium'}}</label>
				<label style="float: right;">Order Id: {{order.orderNumber}}</label>
			</div>
			<div ng-repeat="item in order.items" class="shipment">
				<hr/>
				<h5 style="font-weight: bold">Shipment</h5>
				<div class="row">
					<div class="col-md-3">
						<a ui-sref="product-details({gender : item.product.gender,topCategory : $root.prettyUrl(item.product.masterCategory), subCategory : $root.prettyUrl(item.product.articleType) ,productId : item.product.id , designerId : item.product.designerId,product_name : $root.prettyUrl(product.styleName)})" >
							<img ng-src="{{item.product.previewImage}}" alt="{{item.product.productName}}" width="96" height="128">
						</a>
					</div>
					<div class="col-md-4">
						<h4>Product</h4>
						<span>{{item.product.productName}}</span>
					</div>
					<div class="col-md-2">
					<h4>Price</h4>
					<span>Rs. {{item.product.price}}</span>
					</div>

					<div class="col-md-2">
					<h4>Quantity</h4>
					<span>{{item.quantity}}</span>
					</div>
				</div>

				<hr/>
				<div class="order-info">
					<button >Cancel Order</button>
				</div>
			</div>

		</div>
	</div>

	</div>