<div class="tab-content without_headers" xmlns="http://www.w3.org/1999/html">
    <div  class="tab-pane fade in active ">

        <nav class="stepper">
            <div class="stepper__rule" style="left: 15%; right: 65%;"></div>
            <div class="stepper__rule" style="left: 40%; right: 40%;"></div>
            <div class="stepper__rule" style="left: 65%; right: 15%;"></div>
            <a class="stepper__step stepper__step--active" style="width: 25%;" disabled="">
                <span class="stepper__step-badge">1</span>
                <span class="stepper__step-title">Bag</span>
            </a>
            <a class="stepper__step stepper__step--active" style="width: 25%;" disabled="">
                <span class="stepper__step-badge">2</span>
                <span class="stepper__step-title">Delivery Address</span>
            </a>
            <a class="stepper__step stepper__step--active" style="width: 25%;" disabled="">
                <span class="stepper__step-badge">3</span>
                <span class="stepper__step-title">Payment</span>
            </a>
            <a class="stepper__step stepper__step--active" style="width: 25%;" disabled="">
                <span class="stepper__step-badge">4</span>
                <span class="stepper__step-title">Review</span>
            </a>
        </nav>
    <div class="orderConfirmation" >
        <div id="left"  class="col-lg-8">
            <h3 style="color: green; "><b>Order Suceessful</b></h3>
            <h5>Order No: 1234567890-98765432134567</h5>
            <br>
            <br>
            <p>Your order is being processed now. You will recieve an order confirmation email shortly.</p>
        </div>

        <div id="right" class="col-lg-3">

            <label><b>Order Details</b></label>
            <label><b>Rs. 1250</b></label>
            <label>2 Items</label>
            <!--<br>-->
            <!--<br>-->
            <!--<label> <a>VIEW ORDER</a></label>-->

        </div>

    </div>

        <div class="continue-shopping"  style="margin-bottom: 5%">
            <a href="/"><button id="continue-shopping" class="alt-action" >Continue Shopping <i class="icon-cart"></i></button></a>
        </div>
    </div>
</div>