<div class="tab-content" style="margin-top: 5%;">
	<div id="ongoingOrder" class="tab-pane fade in active ">
		<div class="orders">
			<div class="order-info">
				<label>Placed on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<div class="shipment">
				<hr/>
				<h5 style="font-weight: bold">Shipment 1</h5>
				<div class="row">
					<div class="col-md-3">
						<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
							<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
						</a>
					</div>
					<div class="col-md-4">
						<h4>Product</h4>
						<span>Roadster Olive Green T-shirt</span>
					</div>
					<div class="col-md-2">
					<h4>Price</h4>
					<span>Rs. 320</span>
					</div>

					<div class="col-md-2">
					<h4>Quantity</h4>
					<span>1</span>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<section>
					        <div class="wizard">
					            <div class="wizard-inner">
					                <div class="connecting-line"></div>
					                <ul class="nav nav-tabs" role="tablist">
					                	<li role="presentation" class="active">
					                        <a role="tab" title="Order Confirmed">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>
					                        </a>
					                        <label>Order Confirmed</label>
					                    </li>
					                    <li role="presentation" class="disabled">
					                        <a role="tab" title="Shipped">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>
					                        </a>
					                         <label>Order Shipped</label>
					                    </li>
					                    <li role="presentation" class="disabled">
					                        <a role="tab" title="Delivered">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>

					                        </a>
					                        <label>Order Delivered</label>
					                    </li>
					                </ul>
								</div>
							</div>
						</section>
					</div>			
				</div>
				<hr/>
				<div class="order-info">
					<button >Cancel Order</button>
				</div>
			</div>
			<div class="shipment">
				<hr/>
				<h5 style="font-weight: bold">Shipment 2</h5>
				<div class="row">
					<div class="col-md-3">
						<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
							<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
						</a>
					</div>
					<div class="col-md-4">
						<h4>Product</h4>
						<span>Roadster Olive Green T-shirt</span>
					</div>
					<div class="col-md-2">
					<h4>Price</h4>
					<span>Rs. 320</span>
					</div>

					<div class="col-md-2">
					<h4>Quantity</h4>
					<span>1</span>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<section>
					        <div class="wizard">
					            <div class="wizard-inner">
					                <div class="connecting-line"></div>
					                <ul class="nav nav-tabs" role="tablist">
					                	<li role="presentation" class="active">
					                        <a role="tab" title="Order Confirmed">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>
					                        </a>
					                        <label>Order Confirmed</label>
					                    </li>
					                    <li role="presentation" class="disabled">
					                        <a role="tab" title="Shipped">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>
					                        </a>
					                         <label>Order Shipped</label>
					                    </li>
					                    <li role="presentation" class="disabled">
					                        <a role="tab" title="Delivered">
					                            <span class="round-tab">
					                                <i class="glyphicon glyphicon-ok"></i>
					                            </span>

					                        </a>
					                        <label>Order Delivered</label>
					                    </li>
					                </ul>
								</div>
							</div>
						</section>
					</div>			
				</div>
				<hr/>
				<div class="order-info">
					<button >Cancel Order</button>
				</div>
			</div>
		</div>

		<div class="orders">
			<div class="order-info">
				<label>Placed on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3">
					<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
						<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
					</a>
				</div>
				<div class="col-md-4">
					<h4>Product</h4>
					<span>Roadster Olive Green T-shirt</span>
				</div>
				<div class="col-md-2">
				<h4>Price</h4>
				<span>Rs. 320</span>
				</div>

				<div class="col-md-2">
				<h4>Quantity</h4>
				<span>1</span>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<section>
				        <div class="wizard">
				            <div class="wizard-inner">
				                <div class="connecting-line"></div>
				                <ul class="nav nav-tabs" role="tablist">
				                	<li role="presentation" class="active">
				                        <a role="tab" title="Order Confirmed">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                        <label>Order Confirmed</label>
				                    </li>
				                    <li role="presentation" class="active">
				                        <a role="tab" title="Shipped">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                         <label>Order Shipped</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Delivered">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Order Delivered</label>
				                    </li>
				                </ul>
							</div>
						</div>
					</section>
				</div>			
			</div>
			<hr/>
			<div class="order-info">
				<span>Courier Partner: blueDart</span>
				<br/>
				<span>Tracking Id: 12345</span>
			</div>
		</div>
	</div>

	<div id="pastOrder" class="tab-pane fade">
		<div class="orders">
			<div class="order-info">
				<label>Delivered on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3">
					<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
						<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
					</a>
				</div>
				<div class="col-md-4">
					<h4>Product</h4>
					<span>Roadster Olive Green T-shirt</span>
				</div>
				<div class="col-md-2">
				<h4>Price</h4>
				<span>Rs. 320</span>
				</div>

				<div class="col-md-2">
				<h4>Quantity</h4>
				<span>1</span>
				</div>
				<div style="padding: 15% 25% 0 40%;">
					<button>Return</button>
					<button>Exchange</button>
				</div>
			</div>
		</div>
		<div class="orders">
			<div class="order-info">
				<label>Delivered on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3">
					<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
						<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
					</a>
				</div>
				<div class="col-md-4">
					<h4>Product</h4>
					<span>Roadster Olive Green T-shirt</span>
				</div>
				<div class="col-md-2">
				<h4>Price</h4>
				<span>Rs. 320</span>
				</div>

				<div class="col-md-2">
				<h4>Quantity</h4>
				<span>1</span>
				</div>
				
			</div>
		</div>
	</div>

	<div id="exchangeReturns" class="tab-pane fade">
		<div class="orders">
			<div class="order-info">
				<label>Requested on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-2">
					<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
						<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
					</a>
				</div>
				<div class="col-md-4">
					<h4>Product</h4>
					<span>Roadster Olive Green T-shirt</span>
				</div>
				<div class="col-md-2">
				<h4>Price</h4>
				<span>Rs. 320</span>
				</div>

				<div class="col-md-2">
				<h4>Quantity</h4>
				<span>1</span>
				</div>
				<div>
					<span class="label label-info">Exchange</span>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<section>
				        <div class="wizard exchange">
				            <div class="wizard-inner">
				                <div class="connecting-line"></div>
				                <ul class="nav nav-tabs" role="tablist">
				                	<li role="presentation" class="active">
				                        <a role="tab" title="Order Confirmed">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                        <label>Exchange Initiated</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Collection">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                         <label>Out for collection</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Product Received</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>New Product Shipped</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Delivered</label>
				                    </li>
				                </ul>
							</div>
						</div>
					</section>
				</div>			
			</div>
			<hr/>
			<div class="order-info">
				
				<span>Courier Partner: blueDart</span>
				<br/>
				<span>Tracking Id: 12345</span>
			</div>
		</div>

		<div class="orders">
			<div class="order-info">
				<label>Requested on: date</label>
				<label style="float: right;">Order Id: 12345</label>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-2">
					<a href="/Tshirts/Roadster/Roadster-Olive-Green-T-shirt/1345907/buy" >
						<img src="http://assets.myntassets.com/h_128,q_100,w_96/v1/assets/images/1345907/2016/7/28/11469692725940-Roadster-Olive-Green-T-shirt-4481469692720722-1.jpg" alt="image of Roadster Olive Green T-shirt" width="96" height="128">
					</a>
				</div>
				<div class="col-md-4">
					<h4>Product</h4>
					<span>Roadster Olive Green T-shirt</span>
				</div>
				<div class="col-md-2">
				<h4>Price</h4>
				<span>Rs. 320</span>
				</div>

				<div class="col-md-2">
				<h4>Quantity</h4>
				<span>1</span>
				</div>
				<div>
					<span class="label label-info">Cancelled</span>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<section>
				        <div class="wizard exchange">
				            <div class="wizard-inner">
				                <div class="connecting-line"></div>
				                <ul class="nav nav-tabs" role="tablist">
				                	<li role="presentation" class="active">
				                        <a role="tab" title="Order Confirmed">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                        <label>Cancelation Initiated</label>
				                    </li>
				                    <li role="presentation" class="active">
				                        <a role="tab" title="Collection">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>
				                        </a>
				                         <label>Out for collection</label>
				                    </li>
				                    <li role="presentation" class="active">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Product Received</label>
				                    </li>
				                    <li role="presentation" class="active">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Refund Started</label>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a role="tab" title="Received">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-ok"></i>
				                            </span>

				                        </a>
				                        <label>Completed</label>
				                    </li>
				                </ul>
							</div>
						</div>
					</section>
				</div>			
			</div>
			<div class="reasonForExchange">
				<label></label>
			</div>
		</div>
	</div>
</div>