<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix" style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%;">
	<h1><b>Privacy policy</b></h1>

	<p>This privacy policy applies between you, the User of this Website and Modaink Retail LLP, the owner and provider of this Website. Modaink Retail LLP takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website. <b>Please read this privacy policy carefully.</b></p>

	<h5><b>Definitions and interpretation</b></h5>
	<ol style="padding-left: 5%;">
		<li>
			In this privacy policy, the following definitions are used: 
		</li>
		<div class="border-top row">
			<div class="col-md-4">
				<b>Data</b>
			</div>
			<div class="col-md-8">
				<p>collectively all information that you submit to Modaink Retail LLP via the Website. </p>
			</div>
		</div>
		<div class="border-top row">
			<div class="col-md-4">
				<b>Cookies</b>
			</div>
			<div class="col-md-8">
				<p>a small text file placed on your computer by this Website when you visit certain parts of the Website and/or when you use certain features of the Website. Details of the cookies used by this Website are set out in the clause below (Cookies); </p>
			</div>
		</div>


	</ol>
	</div>
</div>	