<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix">
		<div class="new-product">
				<div class="col-md-5 zoom-grid">
					<div class="flexslider">
						
					<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1017px, 0px, 0px);"><li data-thumb="images/Products/si.jpg" class="clone" style="width: 339px; float: left; display: block;">
							<div class="thumb-image"> <img src="images/Products/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							
							<li data-thumb="images/Products/si1.jpg" style="width: 339px; float: left; display: block;" class="">
								<div class="thumb-image"> <img src="images/Products/si1.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							<li data-thumb="images/Products/si2.jpg" style="width: 339px; float: left; display: block;" class="flex-active-slide">
							<div class="thumb-image"> <img src="images/Products/si2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li> 
						<li data-thumb="images/Products/si.jpg" class="clone" style="width: 339px; float: left; display: block;">
								<div class="thumb-image"> <img src="images/Products/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							</ul>
							</div>
							<ol class="flex-control-nav flex-control-thumbs">
							<li><img src="images/Products/si.jpg" class="flex-active"></li>
							<li><img src="images/Products/si1.jpg" class=""></li>
							<li><img src="images/Products/si2.jpg" class=""></li>
							</ol>

							<ul class="flex-direction-nav"><li></ul></div>
				</div>
				<div class="col-md-5 dress-info">
					<div class="dress-name">
						<h3>LOREM IPSUM DRESS</h3>
						<span>Rs. 459.00</span>
						<div class="clearfix"></div>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
					</div>

					

					<div>
						<ul class="swatches Color">
							<li class="selected">
							<a title="color" class="swatchanchor" >
							
							</a>
							
							<span style="font-weight: bold;">
							<a>Yellow</a> / <a>Black</a>
							</span>
							
							</li>

							</ul>
					</div>
					<div style="padding-top: 30px;">
						<span style="padding-left: 40px;">Select A Size</span>
						<span style="float: right;">Not Sure? <a href="" style="font-size: 15px; text-decoration: underline;"> See Size Chart</a> </span>
					</div>

					<div class="product-variations">
						<ul class="swatches">
							<li>
								<a> 6 </a>
							</li>
							<li>
								<a> 8 </a>
							</li>
							<li class="out-of-stock">
								<a> 10 </a>
							</li>
							<li>
								<a> 12 </a>
							</li>
							<li>
								<a> 14 </a>
							</li>
							<li class="out-of-stock">
								<a> 16 </a>
							</li>
						</ul>
					</div>
					<div class="purchase">
						<a href="/checkout/cart"><button class="btn btn-sm "> Add to cart </button></a>
						<button class="btn btn-sm " data-toggle="modal" data-target="#loginModal">customize now <i class="icon-right-open"></i></button>
						<span>This product is available for customization.</span>
						<div>
						<span>7 Reviews &nbsp;&nbsp; </span> <span style="font-weight: bold;"> |  &nbsp;&nbsp; <a href="">Write a review </a></span>
					</div>
					
					</div>

					<div ng-include src="'views/login.html'"></div>
					
					<div class="like-share">
					<a  href="#"><i class="icon-heart-empty-fa"></i>Like</a>
						<a href="#"><i class="icon-plus"></i>Share</a>
					</div>



				
				</div>
				<hr>
				<!---728x90--->
					<div class="reviews-tabs">
      <!-- Main component for a primary marketing message or call to action -->
      <!-- <ul class="nav" id="myTab">
        <li class="test-class active"><a class="deco-none misc-class" href="#how-to" data-toggle=""> More Information</a></li>
        <li class="test-class"><a class="deco-none misc-class" href="#features">Specifications</a></li>
        <li class="test-class"><a class="deco-none" href="#source">Reviews (7)</a></li>
      </ul> -->
      	<ul class="menu-advanced ">
            <li class="active"><a href="#how-to" data-toggle="nav-tabs" > More Information</a></li>
            <li><a href="#features" data-toggle="pill">Specifications</a></li>
            <li><a href="##source" data-toggle="pill">Reviews (7)</a></li>
        </ul>

      <div class="tab-content responsive hidden-xs hidden-sm">
        <div class="tab-pane active" id="how-to">
		 <p class="tab-text">Maecenas mauris velit, consequat sit amet feugiat rit, elit vitaeert scelerisque elementum, turpis nisl accumsan ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. and scrambled it to make a type specimen book. It has survived Auction your website on Flippa and you'll get the best price from serious buyers, dedicated support and a much better deal than you'll find with any website broker. Sell your site today I need a twitter bootstrap 3.0 theme for the full-calendar plugin. it would be great if the theme includes the add event; remove event, show event details. this must be RESPONSIVE and works on mobile devices. Also, I've seen so many bootstrap themes that comes up with the fullcalendar plugin. However these . </p>    
        </div>
        <div class="tab-pane" id="features">
          <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.This tab has icon in consectetur adipiscing eliconse consectetur adipiscing elit. Vestibulum nibh urna, ctetur adipiscing elit. Vestibulum nibh urna, t.consectetur adipiscing elit. Vestibulum nibh urna,  Vestibulum nibh urna,it.</p>
		  <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
        <div class="tab-pane" id="source">
		  <div class="response">
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MARCH 21, 2015</li>
									<li><a href="single.html">Reply</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MARCH 26, 2054</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>MAY 25, 2015</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>FEB 13, 2015</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>JAN 28, 2015</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>APR 18, 2015</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="media response-info">
							<div class="media-left response-text-left">
								<a href="#">
									<img class="media-object" src="images/icon1.png" alt="">
								</a>
								<h5><a href="#">Username</a></h5>
							</div>
							<div class="media-body response-text-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul>
									<li>DEC 25, 2014</li>
									<li><a href="single.html">Reply</a></li>
								</ul>		
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
        </div>
      		</div>

			 <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>Similar Products<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    
                   
                </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>

<div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>Products from same Designer<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    
                   
                </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>

                                    
	</div>
</div>