<div id="Content" class="without_headers" zoom-container>
	<div class="content_wrapper clearfix">
		<div class="new-product row">
			<div class="col-md-1">
				<div id="product-gallery" class="flex-control-nav flex-control-thumbs product-gallery-list">
					<a href="" ng-repeat="image in product.productImages" ng-click="changeImage(image.url)">
						<img ng-src="{{image.url}}" class="flex-active product-gallery-list-item" />
					</a>
				</div>
			</div>
				<div class="col-md-4 zoom-grid">
					<div class="flexslider">

					<div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" >
							    <div class="thumb-image">
                                    <img ng-elevate-zoom id="gallery-preview" gallery="product-gallery" ng-src="{{previewImage}}" zoom-image="{{previewImage}}" class="img-responsive" alt=""/>
                                </div>
						</ul>
							</div>

							<ul class="flex-direction-nav"><li></ul></div>
				</div>
				<div class="col-md-5 dress-info">
					<div class="dress-name">
						<div class="row">
							<h3 class="col-md-8">{{product.productName}}</h3>
							<span class="col-md-4">Rs. {{product.price}}</span>
						</div>
						<div class="clearfix"></div>
						<p>{{product.productDescription}}</p>
					</div>

					<div>
						<ul class="swatches Color">
							<li class="selected" ng-repeat="color in product.colours">
							<a title="color" class="swatchanchor" style="background:{{color}}" ></a>
							<span style="font-weight: bold;">
                            <a>{{color}}</a>
							</span>

							</li>

							</ul>
					</div>
					<div style="padding-top: 30px;">
						<span style="padding-left: 40px;">Select A Size</span>
						<span style="float: right;">Not Sure? <a href="/#/sizechart" style="font-size: 15px; text-decoration: underline;" target="_blank"> See Size Chart</a> </span>
					</div>

					<div class="product-variations">
						<ul id="sizelist" class="swatches">
							<li ng-repeat="sku in product.allSkus">
								<a style="cursor:pointer; text-transform: uppercase" ng-click="setSku(sku.skuId,$event);" ng-class="{'disabled':sku.isOutOfStock}"> {{sku.size}} </a>
							</li>
						</ul>
                        <div class="text-danger">{{productSkuMessage}}</div>
					</div>
					<div class="purchase">
                        <a href=""><button class="btn btn-sm " ng-click="addToCart(product)"> Add to Bag </button></a>
						<button ng-if="product.isCustomizable" class="btn btn-sm " data-toggle="modal" data-target="#loginModal">customize now <i class="icon-right-open"></i></button>
						<label ng-if="product.isCustomizable">This product is available for customization.</label>
						<div style="margin: 3%">
						<span>Reviews &nbsp;&nbsp; </span> <span style="font-weight: bold;"> |  &nbsp;&nbsp; <a href="" data-toggle="modal" data-target="#reviewModal">Write a review </a></span>
					</div>

					</div>

					<div ng-include src="'views/login.html'"></div>

					<div class="like-share">
					<a  href="#"><i class="icon-heart-empty-fa"></i>Like</a>
                        <a ng-click="fbShare(product)"style="cursor:pointer;"><i class="icon-plus" ></i>Share</a>

					</div>
				</div>
				<hr>
		</div>
				<!---728x90--->
        <div class="reviews-tabs">
            <ul class="menu-advanced ">
                <li class="active"><a ng-href="/#/product-details/{{productId}}/{{designerId}}#moreInfo"> More Information</a></li>
                <li><a ng-href="/#/product-details/{{productId}}/{{designerId}}#features" data-toggle="pill">Specifications</a></li>
                <li><a ng-href="/#/product-details/{{productId}}/{{designerId}}#reviews" data-toggle="pill">Reviews ({{reviews.length}})</a></li>
            </ul>

      <div class="tab-content responsive hidden-xs hidden-sm" id="moreInfo">
            <div ng-show="reviews.length == 0" class="tab-pane active" id="how-to">
             <p class="tab-text">No reviews yet, be the first one to review..</p>
            </div>
            <div class="tab-pane" id="features" ng-repeat="feature in product.features">
              <p class="tab-text">{{feature}}</p>
            </div>
            <div class="tab-pane" id="reviews">
              <div class="response">
                  <div class="comment-box col-md-5" ng-repeat="review in reviews">
                      <img src="images/user7-128x128.jpg"  class="reviewUserImg">

                      <span class="a">
                          <span class="mailbox-read-time">Alexander</span>
                         <span class="mailbox-read-time">{{review.createdAt | date:'dd MMM yyyy'}}</span>
                      </span>
                      <div class="comment-star">
                          <i ng-repeat="n in range(review.rating)" class="fa fa-star" style="color: #c0a16b;"></i>
                      </div>
                      <span class= " comment">
                          {{review.description}} </span>

                  </div>

                </div>
            </div>

        </div>
        </div>




        <div class="similar-items">
			 <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>You may also like<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>


                </ul>
                                            <div class="slider_pagination"></div>
                                        </div>
                                    </div>

                                <div class="column one column_fancy_heading ">
                                        <div class="fancy_heading fancy_heading_arrows">
                                            <!-- Animated area -->
                                            <div class="animate" data-anim-type="zoomIn">
                                                <h2 class="title"><i class="icon-right-dir"></i>More from {{product.brandName}}<i class="icon-left-dir"></i></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_shop_slider ">
                                        <div class="shop_slider">
                                            <div class="blog_slider_header">
                                                <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                                            </div>
                                            <ul class="shop_slider_ul">
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                        <div class="mask"></div><img src="images/home_store_product1-300x300.jpg" class="scale-with-grid wp-post-image" alt="home_store_product1" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a href="content/shop/product-woo-album-1.html">Woo Album #1</a></h4><span class="price"><span class="amount">Rs. 900</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
                        <div class="slider_pagination"></div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

<div id="cartAddSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-body alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Item successfully added to your bag.</p>
        </div>
    </div>
</div>

<div id="cartAddFailure" class="modal fade  "  tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
            <div class="modal-body alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>{{error}}</p>
            </div>
    </div>
</div>


<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header review-header-top">
                <img ng-src="userDetails.avtarUrl"  class="userimg">
                <label class="text">Hi, {{userDetails.firstName}} please provide your review.</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <label aria-hidden="true" class="text">&times;</label>
                </button>
            </div>
            <div class="modal-body">
                <textarea ng-model="newReview.review" style="width: 100%" rows="5" placeholder="Write a Review..."></textarea>
                <div rating rating-value="newReview.rating" max="5" on-rating-selected="updateRating(rating)"></div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addNewReview()" class="btn btn-secondary">Submit Reviews</button>
            </div>
        </div>
    </div>
</div>

<div id="addReviewSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-body alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Thank you! Your review is submitted.</p>
        </div>
    </div>
</div>