
<div id="Content" ng-controller="HomeController" class=" woocommerce woocommerce-page with_aside aside_left without_headers">
		<div class="content_wrapper clearfix">

			<!-- .sections_group -->
			<div class="sections_group">
				<div class="section">
					<div class="section_wrapper clearfix">
						<div class="items_group clearfix">
							<!-- One full width row-->
		<div class="column one woocommerce-content">

								<div class="shop-filters">
									<p class="woocommerce-result-count">
										Showing all {{products.length}} results
									</p>
									<form class="woocommerce-ordering" method="get">
									<ul class="sort widget woocommerce">
									<label>Sort:</label>
										<li data-sortkey=":popularity">Popular</li>
										<li data-sortkey=":new">New</li>
										<li data-sortkey=":discount">Discount</li>
									<label>Price: </label>
										<li data-sortkey=":low">Low</li>
										<li data-sortkey=":high">High</li>
									</ul>
									</form>
								</div>
								<div class="products_wrapper ">
									<ul class="products ">
										<li class="product" ng-repeat="product in products">
											<div class="image_frame" >
												<div class="image_wrapper">
													<a href="/product-details/{{product.id}}/{{product.designer.id}}"><div class="mask"></div><img ng-src="{{product[0].url}}" title="{{product.description}}" alt="{{product.description}}"></a>
												</div>
												<span ng-if="product.isExclusive" class="onsale"><i class="icon-star"></i></span>
												<a href="/product-details/{{product.id}}/{{product.designer.id}}"></a>
											</div>
											<div class="desc">
												<h4><a href="/product-details/{{product.id}}/{{product.designer.id}}">{{product.name}}</a></h4>
												<div >
												<span class="price"><span class="amount">Rs. {{product.skus[0].price}}</span></span>
												</div>
											</div>

										</li>
									</ul>
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>

			<!-- .four-columns - sidebar -->
			<!-- Sidebar area-->
		 <div ng-include src="'views/filter-panel-partial.html'"></div>
		</div>
	</div>
</div><!-- #Wrapper -->
