<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix useful-links-content" style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%;">
		<h3><b>Returns & Exchange</b></h3>

		<p>Exchange will be done if the Items are returned / exchanged within 3 days of delivery.</p>
		<p>The tags & labels should be intact and the original packaging is retained.</p>
		<p>The item should be unused, unworn, undamaged & unwashed.</p>
		<p>Returns will only be done in case of damaged / torn merchandise or if the packaging is tampered.</p>
		<p>Exchange will only be done with a different size of the same design.</p>
		<p>Custom Orders / Made to Order Products are not applicable for Return or Exchange.</p>
		<p>No Cancellations of Orders will be accepted.</p>
	
	</div>
</div>	