<div id="Content" class="without_headers">
	<div class="content_wrapper clearfix useful-links-content" style="margin-left: 15%; margin-right: 15%; margin-bottom: 10%;">
		<h3><b>Shipping Policy</b></h3>

		<p>We Deliver products within India. The Delivery is done by our Third Party Delivery Partner. Any items notified by our courier companies to be restricted and/or banned and/or prohibited from time to time.</p>
		<p>We aim to dispatch all orders by 72 hours of placing the order, but delays due to payments / courier companies / sale traffic will come under exceptions where the order could take upto 96 hours to be dispatched.</p>
		<p>Items once dispatched, cannot be redirected to a different Address or be cancelled. Any action needed will be taken after the Delivery of the item to the Address first entered.</p>
		<p>All orders will be Delivered within 15 days of Dispatch.</p>
		<p>The custom orders and made to order products may take longer time to dispatch. </p>
		<p>Product prices displayed are inclusive of all taxes.</p>
		<p>For further information, please write to us at <a>customersupport@modaink.com</a></p>

	</div>
</div>	