<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    
	    <div class="row user-profile-actions">

	    	<ul class="nav nav-pills nav-stacked col-md-4">
			  <li role="presentation" ng-class="{active : param=='accountInformation'}">
			  	<a data-toggle="tab" href="/myProfile#accountInformation" ><i class="fa fa-user-o"></i>&nbsp;&nbsp;Account Information</a>
			  </li>
			  <li role="presentation" ng-class="{active : param=='addresBook'}">
			  	<a data-toggle="tab" href="/myProfile#addresBook"><i class="fa fa-address-book-o"></i>&nbsp;&nbsp;Address book</a>
			  </li>
			  <li role="presentation" ng-class="{active : param=='myOrders'}">
			  	<a data-toggle="tab"  href="/myProfile#myOrders"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;My Orders</a>
			  </li>
			  <li role="presentation" ng-class="{active : param=='wishlist'}">
			  	<a data-toggle="tab"  href="/myProfile#wishlist"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;My Wishlist</a>
			  </li>

			</ul>

			

			<div class="col-md-8 col-xs-12 profile-details-section">
				<div class="tab-content">
		    		<div id="accountInformation" class="tab-pane fade in " ng-class="{active : param=='accountInformation'}">
			    		<h4 class="profile-title"><i class="fa fa-user-o"></i>&nbsp;&nbsp;ACCOUNT INFORMATION</h4>
			    		<hr/>
					    	<div class="row userDetails">
						    	<div class="col-md-4 col-xs-5">
						    		<label> First Name </label>
						    		<label> Last Name </label>
						    		<label> E-mail Id </label>
						    		<label> Mobile Number </label>
						    		<label> Date of Birth </label>
						    	</div>

						    	<div class="col-md-4 ">
									<label ng-if="userDetails.firstName"> {{userDetails.firstName}} </label>
									<label ng-if="!userDetails.firstName"> -- </label>
									<label ng-if="userDetails.lastName"> {{userDetails.lastName}} </label>
									<label ng-if="!userDetails.lastName"> -- </label>
									<label ng-if="userDetails.email"> {{userDetails.email}} </label>
									<label ng-if="!userDetails.email"> -- </label>
									<label ng-if="userDetails.mobile"> {{userDetails.mobile}} </label>
									<label ng-if="!userDetails.mobile"> -- </label>
									<label ng-if="userDetails.dateOfBirth"> {{userDetails.dateOfBirth}} </label>
									<label ng-if="!userDetails.dateOfBirth"> -- </label>

						    	</div>
					    		
					    	</div>
			    	</div>

		    		<div id="addresBook" class="tab-pane fade" ng-class="{'active in' : param=='addresBook'}">
		    			<div class = "container" style="padding-top: 5%;">
						  	<div class="panel-group" id="accordion">
						  		<div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/myProfile#savedAdddress">
								          Saved Addresses:
								        </a>
								      </h4>
								    </div>
								    <div id="savedAdddress" class="panel-collapse collapse in">
								        <div class="panel-body">
									        <div class="row">
												<div id="existing_address">
													<div ng-repeat="address in addresses" class="col-lg-6 col-sm-12 savedAdddress ">
									            			<a href="" ng-click="removeAddress(address.id)"><i class="fa fa-times" style="display: inline-flex; font-size: 16px;"></i></a>
												            <span style="display: inline-flex; font-weight: bold">{{address.type}}</span>
												            <span style="display: block; font-weight: bold; padding: 3% 0%;">{{address.fullName}}</span>
												            <span style="display: block; ">{{address.line1}} , {{address.line2}}</span>
												            <span style="display: block; ">{{address.landmark}}</span>
												            <span style="display: block; ">{{address.city}} - {{address.pincode}}</span>
												            <span style="display: block; ">Mobile:  {{address.mobile}}</span>
													</div>
												</div>
									        </div>
									    </div>
						  			</div>
						  		</div>
						  		<div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/myProfile#newAddress">
								          Add new Address
								        </a>
								      </h4>
								    </div>
								    <div id="newAddress" class="panel-collapse collapse">
								    	<div class="panel-body">
									    	<div ng-include src="'views/add-new-address-partial.html'">
									    	</div>
							    		</div>
								    </div>
							    </div>
						    </div>
					    </div>
				    </div>

		    		<div id="myOrders" class="tab-pane fade" ng-class="{'active in' : param=='myOrders'}">

						<div ng-include src="'views/orders.html'" ng-controller="UserProfileController"></div>
		    		</div>

		    		<div id="wishlist" class="tab-pane fade woocommerce woocommerce-content" ng-class="{'active in' : param=='wishlist'}">
		    			<div class="products_wrapper ">
									<ul class="products ">
										<li class="product" ng-repeat="item in wishlistItems">
											<div class="image_frame" >
												<div class="image_wrapper">
													<a ui-sref="product-details({gender : item.product.gender,topCategory : $root.prettyUrl(item.product.masterCategory), subCategory : $root.prettyUrl(item.product.articleType) ,productId : item.product.id, designerId : item.product.designerId,product_name : $root.prettyUrl(product.styleName)})" >
														<div class="mask">
														<img ng-src="{{item.product.previewImage}}" title="{{item.product.productDescription}}" alt="{{item.product.productDescription}}">
														</div>
													</a>
												</div>
												<span ng-if="item.product.isExclusive" class="onsale"><i class="icon-star"></i></span>
												<a ui-sref="product-details({gender : item.product.gender,topCategory : $root.prettyUrl(item.product.masterCategory), subCategory : $root.prettyUrl(item.product.articleType) ,productId : item.product.id, designerId : item.product.designerId,product_name : $root.prettyUrl(product.styleName)})" ></a>
											</div>
											<div class="desc">
												<h4><a ui-sref="product-details({gender : item.product.gender,topCategory : $root.prettyUrl(item.product.masterCategory), subCategory : $root.prettyUrl(item.product.articleType) ,productId : item.product.id, designerId : item.product.designerId,product_name : $root.prettyUrl(product.styleName)})" >{{item.product.productName}}</a></h4>
												<div >
												<span class="price"><span class="amount">Rs. {{item.product.price}}</span></span>
												<a ui-sref="product-details({gender : item.product.gender,topCategory : $root.prettyUrl(item.product.masterCategory), subCategory : $root.prettyUrl(item.product.articleType) ,productId : item.product.id, designerId : item.product.designerId,product_name : $root.prettyUrl(product.styleName)})" ng-click="addToBag(item)"> <i class="fa fa-shopping-bag"></i>Move to Bag</a>
												<a href="" ng-click="removeItemFromWishlist(item.id)" style="float: right;"> <i class="fa fa-trash-o"></i></a>
												</div>
											</div>

										</li>
									</ul>
								</div>
		    		</div>



	    		</div>
			</div>
	    </div>
		<div id="addAddressSuccessModal" class="modal fade" role="dialog">
			<div class="modal-dialog " role="document">
				<div class="modal-body alert alert-success">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<p>{{message}}</p>
				</div>
			</div>
		</div>
    </div>
</div>

<script type="text/javascript">
function setVisibility(id, visibility) {
document.getElementById(id).style.display = visibility;
}
</script>