<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    
	    <div class="row user-profile-actions">

	    	<ul class="nav nav-pills nav-stacked col-md-4">
			  <li role="presentation" class="active">
			  	<a data-toggle="tab" href="/myProfile#accountInformation"><i class="fa fa-user-o"></i>&nbsp;&nbsp;Account Information</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab" href="/myProfile#addresBook"><i class="fa fa-address-book-o"></i>&nbsp;&nbsp;Address book</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab"  href="/myProfile#myOrders"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;My Orders</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab"  href="/myProfile#wishlist"><i class="fa fa-heart-o"></i>&nbsp;&nbsp;My Wishlist</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab"  href="/myProfile#message"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;Messages</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab"  href="/myProfile#measurement"><i class="fa fa-scissors"></i>&nbsp;&nbsp;My Measurements</a>
			  </li>
			  <li role="presentation">
			  	<a data-toggle="tab"  href="/myProfile#rewards"><i class="fa fa-gift"></i>&nbsp;&nbsp;Rewards and Badges</a>
			  </li>
				<li role="presentation">
					<a data-toggle="tab"  href="/myProfile#made-to-order"><i class="fa fa-gift"></i> Made To Order</a>
				</li>
				<li role="presentation">
					<a data-toggle="tab"  href="/myProfile#support"><i class="fa fa-gift"></i> Support</a>
				</li>
			</ul>

			

			<div class="col-md-8 profile-details-section">
				<div class="tab-content">
		    		<div id="accountInformation" class="tab-pane fade in active">
			    		<h4 class="profile-title"><i class="fa fa-user-o"></i>&nbsp;&nbsp;ACCOUNT INFORMATION</h4>
			    		<hr/>
					    	<div class="row userDetails">
						    	<div class="col-md-4">
						    		<label> First Name </label>
						    		<label> Last Name </label>
						    		<label> E-mail Id </label>
						    		<label> Mobile Number </label>
						    		<label> Date of Birth </label>
						    	</div>

						    	<div class="col-md-4">
						    		<label> {{userDetails.firstName}} </label>
						    		<label> {{userDetails.lastName}} </label>
						    		<label> {{userDetails.email}} </label>
						    		<label> {{userDetails.mobile}} </label>
						    		<label> {{userDetails.dateOfBirth}} </label>

						    	</div>
					    		
					    	</div>
			    	</div>

		    		<div id="addresBook" class="tab-pane fade">
		    			<div class = "container" style="padding-top: 5%;">
						  	<div class="panel-group" id="accordion">
						  		<div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/myProfile#savedAdddress">
								          Saved Addresses:
								        </a>
								      </h4>
								    </div>
								    <div id="savedAdddress" class="panel-collapse collapse in">
								        <div class="panel-body">
									        <div class="row">
												<div id="existing_address">
													<div ng-repeat="address in addresses" class="col-lg-6 col-sm-12 savedAdddress ">
									            			<a href="" ng-click="removeAddress(address.id)"><i class="fa fa-times" style="display: inline-flex; font-size: 16px;"></i></a>
												            <span style="display: inline-flex; font-weight: bold">{{address.type}}</span>
												            <span style="display: block; font-weight: bold; padding: 3% 0%;">{{address.fullName}}</span>
												            <span style="display: block; ">{{address.line1}} , {{address.line2}}</span>
												            <span style="display: block; ">{{address.landmark}}</span>
												            <span style="display: block; ">{{address.city}} - {{address.pincode}}</span>
												            <span style="display: block; ">Mobile:  {{address.mobile}}</span>
													</div>
												</div>
									        </div>
									    </div>
						  			</div>
						  		</div>
						  		<div class="panel panel-default">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="/myProfile#newAddress">
								          Add new Address
								        </a>
								      </h4>
								    </div>
								    <div id="newAddress" class="panel-collapse collapse">
								    	<div class="panel-body">
									    	<div ng-include src="'views/add-new-address-partial.html'">
									    	</div>
								    		<div>
												<div class="desktop_version button_wrap" id="add-billing-address-container">
								                	<button type="button" class="button btn-sm"><span style="font-size: 16px;">Cancel</span></button>
											        <a href="/#/checkout/payment"><button type="submit" class="button btn-sm"><span style="font-size: 16px;">Save</span></button></a>
										     	</div>
											</div>
							    		</div>
								    </div>
							    </div>
						    </div>
					    </div>
				    </div>

		    		<div id="myOrders" class="tab-pane fade">
		    			<ul class="nav nav-tabs nav-justified" style=" padding-top: 5%;">
							
						    <li role="presentation" class="active">
						  		<a href="/myProfile#ongoingOrder" data-toggle="tab">Ongoing Orders</a>
					  		</li>
						    <li role="presentation">
						    	<a href="/myProfile#pastOrder" data-toggle="tab">Past Orders</a>
					    	</li>
					    	<li role="presentation" >
						  		<a href="/myProfile#exchangeReturns" data-toggle="tab">Exchange and Returns</a>
							</li>
						</ul>
						<div ng-include src="'views/orders.html'"></div>
		    		</div>

		    		<div id="wishlist" class="tab-pane fade woocommerce woocommerce-content">
		    			<div class="products_wrapper ">
									<ul class="products ">
										<li class="product" ng-repeat="product in products">
											<div class="image_frame" >
												<div class="image_wrapper">
													<a href="/#/product-details/{{product.id}}/{{product.designer.id}}"><div class="mask"></div><img ng-src="{{product[0].url}}" title="{{product.description}}" alt="{{product.description}}"></a>
												</div>
												<span ng-if="product.isExclusive" class="onsale"><i class="icon-star"></i></span>
												<a href="/#/product-details/{{product.id}}/{{product.designer.id}}"></a>
											</div>
											<div class="desc">
												<h4><a href="/#/product-details/{{product.id}}/{{product.designer.id}}">{{product.name}}</a></h4>
												<div >
												<span class="price"><span class="amount">Rs. {{product.skus[0].price}}</span></span>
												<a href=""> <i class="fa fa-shopping-bag"></i>Move to Bag</a>
												<a href="" style="float: right;"> <i class="fa fa-trash-o"></i></a>
												</div>
											</div>

										</li>
									</ul>
								</div>
		    		</div>

		    		<div id="message" class="tab-pane fade">
			    		<div class="message" ng-repeat= "n in [1,2,3,4,5]">
                      		<div class="pull-left">
                        		<img src="images/user7-128x128.jpg" class="img-circle" alt="User Image">
                      		</div>
                      		<h4>
                        		Designer 1
                        		<small style="float: right;"><i class="fa fa-clock-o"></i> 5 mins</small>
                      		</h4>
                      		<hr/>
                      		<p>Why not buy a new awesome dress?</p>
                      		<button onclick="setVisibility(reply,block)"><i class="fa fa-reply"></i></button>
                      		<button><i class="fa fa-trash"></i></button>
	                    </div> 

	                    <div id="reply" class="reply" style="display: block;">
	                    	<textarea>hi i would like to reply to you</textarea>
	                    	<div class="send-reply">
		                    	<button class="round-tab" style="margin-left: 40%;">
	                                <i class="fa fa-check"></i>
	                            </button>
	                            <button class="round-tab" onclick="setVisibility(reply,none)" style="margin-left: 50%;">
	                                <i class="fa fa-times"></i>
	                            </button>
	                        </div>
	                    </div>
		    		</div>

		    		<div id="measurement" class="tab-pane fade">
		    			my measurements for customization and made to order goes here
		    		</div>

					<div id="rewards" class="tab-pane fade">
						show rewards
					</div>
					<div id="made-to-order" class="tab-pane fade">
						<div class="col-md-6" style="padding-top: 40px;">
							<div class="box box-primary">
								<div class="box-body box-profile">

									<img src="https://umexpert.um.edu.my/Avatar/no-image-found.jpg" class="thumbnail-image"  style="opacity:0.2; width:100%; height:150px;" >


									<h4 class="profile-username text-center"></h4>

									<ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<b>OrderID</b> <a class="pull-right">4567101</a>
										</li>
										<li class="list-group-item">
											<b>Request</b> <a class="pull-right">Waiting for appoval</a>
										</li>
										<li class="list-group-item">
											<b>Ocassion</b> <a class="pull-right">Wedding</a>
										</li>
										<li class="list-group-item">
											<b>Category</b> <a class="pull-right">indian</a>
										</li>
										<li class="list-group-item">
											<b>Other details</b> <a class="pull-right"data-toggle="modal" data-target="#details">View</a>
										</li>
									</ul>
									<div id="details" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Other details</h4>
												</div>
												<div class="modal-body order-label">
													<label>Style</label>
													<input type="email" class="form-control" id="exampleInputEmail1" placeholder="western">
													<label>Price Range</label>
													<input type="email" class="form-control" id="exampleInputEmail1" placeholder="0 to 5000">
													<label>About the product</label>
													<textarea class="form-control" rows="4" placeholder=""></textarea>
													<label>Reference picture</label>
													<div class="timeline-body">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
									<a href="/madeToOrder/orderDetails" class="btn btn-primary btn-block" ng-click=""><b>PENDING</b></a>
								</div>
							</div></div>

						<div class="col-md-6" style="padding-top: 40px;">
							<div class="box box-primary">
								<div class="box-body box-profile">
									<div class="row">

									<img src="http://d1edghokb2tzip.cloudfront.net/media/catalog/product/cache/1/image/350x525/9df78eab33525d08d6e5fb8d27136e95/m/y/mydc03011703-a.jpg" class="thumbnail-image col-md-4"  style=" height:150px;" >
									<img src="http://d1edghokb2tzip.cloudfront.net/media/catalog/product/cache/1/image/350x525/9df78eab33525d08d6e5fb8d27136e95/m/y/mydc03011703-b.jpg" class="thumbnail-image col-md-4"  style=" height:150px;" >
									<img src="http://d1edghokb2tzip.cloudfront.net/media/catalog/product/cache/1/image/350x525/9df78eab33525d08d6e5fb8d27136e95/m/y/mydc03011703-c.jpg" class="thumbnail-image col-md-4"  style=" height:150px;" >

									</div>
									<h4 class="profile-username text-center"></h4>

									<ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<b>OrderID</b> <a class="pull-right">4567101</a>
										</li>
										<li class="list-group-item">
											<b>Request</b> <a class="pull-right">Jess Brian</a>
										</li>
										<li class="list-group-item">
											<b>Ocassion</b> <a class="pull-right">Wedding</a>
										</li>
										<li class="list-group-item">
											<b>Category</b> <a class="pull-right">indian</a>
										</li>
										<li class="list-group-item">
											<b>Other details</b> <a class="pull-right"data-toggle="modal" data-target="#details">View</a>
										</li>
									</ul>
									<div id="details" class="modal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Other details</h4>
												</div>
												<div class="modal-body order-label">
													<label>Style</label>
													<input type="email" class="form-control" id="exampleInputEmail1" placeholder="western">
													<label>Price Range</label>
													<input type="email" class="form-control" id="exampleInputEmail1" placeholder="0 to 5000">
													<label>About the product</label>
													<textarea class="form-control" rows="4" placeholder=""></textarea>
													<label>Reference picture</label>
													<div class="timeline-body">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
														<img src="http://placehold.it/100x100" alt="..." class="margin">
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
									<a href="/#/madeToOrder/orderDetails-customer" class="btn btn-primary btn-block" ng-click=""><b>PROCEED</b></a>
								</div>
							</div></div>

			</div>

				<div id="support" class="tab-pane fade">
					<form role="form" style="padding-top:10px;">
						<h4>Send us your issue, we will get back to you !</h4>
						<div class="box-body order-label">
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Subject</label>
								<input type="text" class="form-control" id="exampleInputPassword1" placeholder="subject">
							</div>
							<div class="form-group">
								<label for="exampleInputFile">Select Pictures</label>
								<input type="file" id="exampleInputFile">
							</div>
							<div class="form-group" style="margin-top: 20px;">
								<label>Message</label>
								<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
							</div>
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
    </div>
</div>

<script type="text/javascript">
function setVisibility(id, visibility) {
document.getElementById(id).style.display = visibility;
}
</script>