<div id="Content" class="without_headers" >
    <div class="content_wrapper clearfix">
    	<!-- Image size: 429 x 105 -->
		<div class="row" style="margin: 30px;">
			<div class="col-md-4" style="height: 100px;  padding: 10px" >
				<a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Dresses' })" target="_top"><img src="images/Women/dresses-women.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Tops' })"  target="_top"><img src="images/Women/tops-women.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Bottoms' })"  target="_top"><img src="images/Women/bottoms-women.png"></a>
			</div>
		</div>
		<div class="row" style="margin: 30px;">
			<div class="col-md-4" style="height: 100px;  padding: 10px">
				<a  ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Jackets & Sweatshirts' })"  target="_top"><img src="images/Women/jackets-women.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Ethnic' })"  target="_top"><img src="images/Women/ethnic-women.png"></a>
			</div>
			<div class="col-md-4" style="height: 100px; padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Beachwear' })"  target="_top"><img src="images/Women/beachwear-women.png"></a>
			</div>
		</div>
		<div class="row" style="margin: 30px;">
			<div class="col-md-4" style="padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Accessories',subCategory : 'Jewelery' })"  target="_top"><img src="images/Women/jewellery-women.png"></a>
			</div>
			<div class="col-md-4" style="padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Footwear'})"  target="_top"><img src="images/Women/footwear-women.png"></a>
			</div>
			<div class="col-md-4" style="padding: 10px">
				<a ui-sref="products({gender : 'women', topCategory : 'Accessories' })"  target="_top"><img src="images/Women/accessories-women.png"></a>
			</div>

		</div>
		<div class="whatToBuy">
                <h1 style="    
                font-size: 40px; text-decoration: underline;">What To Buy</h1>
        </div>

        <div class="row" style="margin:30px;">
        <div class="col-md-4" style="border-top: 2px solid #181818;">
	        <div class="accessories_whatToBuy">
	        	<h3>Dresses</h3>
	        	<hr>
	        <a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Dresses' })"  target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Dresses' })" target="_top"><img src="images/Women/dress-link.jpg"></a>
	        	
        </div>
        <div class="col-md-4" style="border-bottom:2px solid #181818;">

            <a ui-sref="products({gender : 'women', topCategory : 'Accessories',subCategory : 'Jewelery' })"  target="_top"><img src="images/Women/braclet.jpg"></a>
        	<div class="accessories_whatToBuy">
	        	<h3>Jewellery</h3>
	        	<hr>
                <a ui-sref="products({gender : 'women', topCategory : 'Accessories',subCategory : 'Jewelery' })"  target="_top"><h3>SHOP NOW</h3></a>
	        </div>
        	
        </div>
        <div class="col-md-4" style="border-top: 2px solid #181818;">
        <div class="accessories_whatToBuy formal_accessories_label">
	        	<h3>Denim</h3>
	        	<hr>
            <a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Bottoms' })"  target="_top"><h3>SHOP NOW</h3></a>
	        </div>
            <a ui-sref="products({gender : 'women', topCategory : 'Apparel',subCategory : 'Bottoms' })"  target="_top"><img src="images/Women/denim.jpg"></a>
        </div>
        	
        </div>

         <div class="column one column_fancy_heading " >
	        <div class="fancy_heading fancy_heading_arrows">
	            <!-- Animated area -->
	            <div class="animate" data-anim-type="zoomIn">
	                <h2 class="title"><i class="icon-right-dir"></i>Trending<i class="icon-left-dir"></i></h2>
                    <a ui-sref="products({gender : 'women'})" target="_top"><h6>Show All</h6></a>
	            </div>
	        </div>
	    </div>
                                    <!-- One full width row-->
        <div class="column one column_shop_slider " >
            <div class="shop_slider">
                <div class="blog_slider_header">
                    <a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>
                </div>
                <ul class="shop_slider_ul">
                    <li class="product-trending" ng-repeat="product in products| filter:{gender:'women'} | limitTo:5">
                        <div class="item_wrapper">
                            <div class="image_frame">
                                <div class="image_wrapper">
                                    <div class="mask"></div><img ng-src="{{product.previewImage}}" class="scale-with-grid wp-post-image"  title="{{product.productDescription}}" alt="{{product.productDescription}}" />
                                </div>
                            </div>
                            <div class="desc">
                                <h4><a ui-sref="product-details({gender : product.gender,topCategory : $root.prettyUrl(product.masterCategory), subCategory : $root.prettyUrl(product.articleType) ,productId : product.id,designerId : product.designerId,product_name : $root.prettyUrl(product.styleName)})" >{{product.productName}}</a></h4><span class="price"><span class="amount">Rs. {{product.price}}</span></span>
                            </div>
                        </div>
                    </li>

                    
                   
                </ul>
                <div class="slider_pagination"></div>
            </div>
        </div>

        <!--<div class="column one column_fancy_heading ">-->
	        <!--<div class="fancy_heading fancy_heading_arrows">-->
	            <!--&lt;!&ndash; Animated area &ndash;&gt;-->
	            <!--<div class="animate" data-anim-type="zoomIn">-->
	                <!--<h2 class="title"><i class="icon-right-dir"></i>Best Seller<i class="icon-left-dir"></i></h2>-->
                     <!--<a href=""><h6>Show All</h6></a>-->
	            <!--</div>-->
	        <!--</div>-->
	    <!--</div>-->
                                    <!-- One full width row-->
        <!--<div class="column one column_shop_slider " style="margin-left: 10%">-->
            <!--<div class="shop_slider">-->
                <!--<div class="blog_slider_header">-->
                    <!--<a class="button button_js slider_prev" href="#"><span class="button_icon"><i class="icon-left-open-big"></i></span></a><a class="button button_js slider_next" href="#"><span class="button_icon"><i class="icon-right-open-big"></i></span></a>-->
                <!--</div>-->
                <!--<ul class="shop_slider_ul">-->
                    <!--<li class="product" ng-repeat="product in products| limitTo:5" ng-if="product.masterCategory ='women'">-->
                        <!--<div class="item_wrapper">-->
                            <!--<div class="image_frame">-->
                                <!--<div class="image_wrapper">-->
                                    <!--<div class="mask"></div><img ng-src="{{product.previewImage}}" class="scale-with-grid wp-post-image"  title="{{product.productDescription}}" alt="{{product.productDescription}}" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="desc">-->
                                <!--<h4><a href="/#/product-details/{{product.id}}/{{product.designerId}}">{{product.productName}}</a></h4><span class="price"><span class="amount">Rs. {{product.price}}</span></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!---->
                   <!---->
                <!--</ul>-->
                <!--<div class="slider_pagination"></div>-->
            <!--</div>-->
        <!--</div>-->

         <div> 
                    <a ui-sref="/({isDiscounted : 'true'})"><img src="images/discount.png"></a>
                </div>
    </div>
</div>
