.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.custom-btn{
    background-color: #181818;
    border: 2px solid #181818;
    margin: 2%;
    font-size: 16px;
   
}

.custom-btn:hover {
    background-color: white;
    color: #181818;
}
.all-order-text{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 200;
    font-family: sans-serif;
    line-height: 1.1;

  }

  .all-order-topic{
    font-weight: 500;
    font-size: 17px;
  }
  .search-bar{
    width: auto;
    display: inline-block;
    height: 30px;

  }

  .user-block .username,.user-block .description{
    margin-left: 0px;
  }

  .user-block .username {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      white-space: nowrap;
      padding:0px;
  }


.form-control-feedback {
    top: 0 !important;
}

.fileUpload{
    display: inline-block !important;
}


.block{
    display: block;
}
.modal-dialog{
    top:30%;
}
.product-image{
    min-height: 350px;
    max-height: 350px;
}


.waiting-box{
    width: 50%;
    margin: 7% auto;
}

#sizeChart {
    margin-left:17%;
}

#sizeChart iframe {
    height:100%;
    width: 100%;
}

#designerProfileEditPartial .content-wrapper {
    margin: 0 !important;
}

.designerImage {
    align-content: center;
    height: 100px;
    width: 100px;
}

div[name=imageGroup] .img-responsive {
    max-height: 180px !important;
    margin: auto;
    cursor: pointer;
}

div[name=imageGroup] .placeholder {
    margin-top: 20%;
}

div[name=imageGroup] textarea{
    width: 100%;
}

.alphabet-list {
    list-style: none;
    display: flex;

}

.alphabet-list li {
    margin: 1%;
    text-transform: capitalize;
}

.designer-listing{
    text-transform: capitalize;

    list-style: none;


}
.alpha {
    text-align: center;
}

.alphabets{
    list-style: none;

}

.addSize {
    margin-bottom: 6% !important;
    width: 100%;
}

.activeProduct {
    color: green;
}

.inactiveProduct {
    color: red;
}